<!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DashBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <!-- UI-Router -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--mapa-->
    <script src="/node_modules/leaflet/dist/leaflet.js"></script>
    <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
    <script src="/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

    <!--link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <!--css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/interruptor.css">
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/dispositivo.css">
    
    <style>
        .workspace .dropdown #optionsDropdown{
            margin-left: -7.6%;
            
        }

        .workspace .dropdown{    
            position: absolute;
            top: 0%;
            right: 0%;
            background-color: rgb(7, 0, 99);
            font-size: 20px;
            color: white;
            height: 5%;
            width: 15%;
            padding: 5px;
            margin-right: -19px;
            overflow: hidden
        }

        .workspace .body{
            width: 100%;
            height: 95%;
            background-color: white;
            overflow-y: auto;
            padding:15;
            text-transform: capitalize
        }

        .slider, input[type=range]{
            width:50%;
            float: right
        }

        .slider {
            -webkit-appearance: none;
            height: 25px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: #4CAF50;
            cursor: pointer;
        }
    </style>
    
    <!--controlleres-->
    <script src="/admin/assets/controller/configuracion.js"></script>
    <script src="/user/assets/controller/alerta.js"></script>   
    <script src="/assets/service/busquedas.js"></script>
    <script src="/assets/service/crear.js"></script>
    <script src="/assets/service/editar.js"></script>
    <script src="/assets/constants/links_admin.js"></script>
    <script src="/assets/constants/Dispositivos.js"></script>

</head>
<body ng-app="app" ng-controller="configuracion">
    <div class="head">
        <h1 id="name">
            {{nombre}}
        </h1>
        <div class="dropdown">
            <img src="https://image.flaticon.com/icons/svg/148/148795.svg">
        </div>
    </div>
    <div class="body">
        <div class="side" ng-mouseover="styleWork='z-index:-1'" ng-mouseleave="styleWork='z-index:1'">
            <div class="buttons">
                <div class="button" ng-repeat="x in links" id="{{x.id}}" ng-mouseover="changemenu(x.menu)">
                    <img src="{{x.img}}" >
                </div>
            </div>
            <div class="menu">
                <div class="item" ng-repeat="x in menu">
                    <h2>{{x.nombre}}</h2>
                </div>
            </div>
        </div>
        <div class="workspace" style="{{styleWork}}">
            <div class="dropdown" ng-hide="CrearArchivo">
                {{dispositivo.nombre}}-{{dispositivo.unidad}}
                <div id="optionsDropdown">
                    <div class="btn-group-vertical" style="width: 100%">
                        <button type="button" class="btn btn-default btn-block" ng-repeat="x in divices" ng-click="chgDivice(x.id)">{{x.nombre}}-{{x.unidad}}</button>
                    </div>
                </div>
            </div>
            <div class="body">
                <div id="form" ng-repeat="x in imeisData">
                    <h1>configuracion del dispositivo {{x.imei}}</h1>
                    <h2>Sensor de movimiento</h2>
                    <p>tiempo para ingresar al modo de choque: {{SHOCK_DELAY}}<input type="range" min="1" max="21600" ng-model="SHOCK_DELAY" ng-init="SHOCK_DELAY=60" class="slider" id="myRange"></p>
                    <p>nivel de movimiento para alertar: {{MOTION_THRES}}<input type="range" min="0.04" max="2" ng-model="MOTION_THRES" ng-init="MOTION_THRES=0.04" class="slider" id="myRange"></p>
                    <p>nivel choque para alertar: {{SHOCK_THRES}}<input type="range" min="0.04" max="2" ng-init="SHOCK_THRES=0.04" ng-model="SHOCK_THRES" class="slider" id="myRange"></p>
                    <p>nivel colicion para alertar: {{COLL_THRES}}<input type="range" min="0.1" max="2" ng-init="COLL_THRES=0.7" ng-model="COLL_THRES" class="slider" id="myRange"></p>
                    <p ng-show="x.tipo=='ST500'">Umbral para la ignicion virtual-encedido: {{VI_ON_THRES}}<input type="range" min="3" max="50" ng-model="VI_ON_THRES" ng-init="VI_ON_THRES=5" class="slider" id="myRange"></p>
                    <p ng-show="x.tipo=='ST500'">Tiempo para la ignicion virtual-encedido: {{VI_ON_DELAY}}<input type="range" min="3" max="999" ng-model="VI_ON_DELAY" ng-init="VI_ON_DELAY=10" class="slider" id="myRange"></p>
                    <p ng-show="x.tipo=='ST500'">Porcentaje para la ignicion virtual-encedido: {{VI_ON_PERCENT}}<input type="range" min="30" max="100" ng-init="VI_ON_PERCENT=70" ng-model="VI_ON_PERCENT" class="slider" id="myRange"></p>
                    <p ng-show="x.tipo=='ST500'">Umbral para la ignicion virtual-apagado: {{VI_OFF_THRES}}<input type="range" min="3" max="50" ng-model="VI_OFF_THRES" ng-init="VI_OFF_THRES=5" class="slider" id="myRange"></p>
                    <p ng-show="x.tipo=='ST500'">Tiempo para la ignicion virtual-apagado: {{VI_OFF_DELAY}}<input type="range" min="3" max="999" ng-model="VI_OFF_DELAY" ng-init="VI_OFF_DELAY=10" class="slider" id="myRange"></p>
                    <p ng-show="x.tipo=='ST500'">Porcentaje para la ignicion virtual-apagado: {{VI_OFF_PERCENT}}<input type="range" min="30" max="100" ng-init="VI_OFF_PERCENT=70" ng-model="VI_OFF_PERCENT" class="slider" id="myRange"></p>
                    <button class="btn btn-block btn-success" ng-show="x.tipo=='ST500'" ng-click="SendComand(x.imei,'ST500MSR;'+x.imei+';03;'+SHOCK_DELAY+';'+MOTION_THRES+';'+SHOCK_THRES+';'+COLL_THRES+';'+VI_ON_THRES+';'+VI_ON_DELAY+';'+VI_ON_PERCENT+';'+VI_OFF_THRES+';'+VI_OFF_DELAY+';'+VI_OFF_PERCENT)">Establecer configuracion</button>
                    <button class="btn btn-block btn-success" ng-hide="x.tipo=='ST500'" ng-click="SendComand(x.imei,'ST300MSR;'+x.imei+';03;'+SHOCK_DELAY+';'+MOTION_THRES+';'+SHOCK_THRES+';'+COLL_THRES)">Establecer configuracion</button>
                
                    <h2>Patron de manejo
                    <div class="onoffswitch" style="float: right">
                        <input type="checkbox" name="onoffswitch" ng-model="DRVPTN_EN" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div></h2>
                    <p>Velocidad para el analisis:{{BASESPEED}}<input type="range" min="0" max="80" ng-model="BASESPEED" ng-init="BASESPEED=0" class="slider" id="myRange"></p>
                    <p>Limite de aceleracion:{{FASTACCEL}}<input type="range" min="1" max="512" ng-model="FASTACCEL" ng-init="FASTACCEL=30" class="slider" id="myRange"></p>
                    <p>Frenado brusco:{{HARSHBRAKE}}<input type="range" min="1" max="512" ng-model="HARSHBRAKE" ng-init="HARSHBRAKE=100" class="slider" id="myRange"></p>
                    <p>curvas cerradas:{{SHARPTURN}}<input type="range" min="1" max="512" ng-model="SHARPTURN" ng-init="SHARPTURN=70" class="slider" id="myRange"></p>
                    <button class="btn btn-block btn-success">Establecer configuracion</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>