<!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DashBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <!-- UI-Router -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--mapa-->
    <script src="/node_modules/leaflet/dist/leaflet.js"></script>
    <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
    <script src="/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

    <!--link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <!--css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/dispositivo.css">
    
    <style>
        .workspace .dropdown #optionsDropdown{
            margin-left: -7.6%;
            
        }

        .workspace .dropdown{    
            position: absolute;
            top: 0%;
            right: 0%;
            background-color: rgb(7, 0, 99);
            font-size: 20px;
            color: white;
            height: 5%;
            width: 15%;
            padding: 5px;
            margin-right: -19px;
            overflow: hidden
        }
        @media screen and (max-width: 1000px) {
            .dropdown #optionsDropdown {
                display: none;
                margin-left: -15%;
                width: 50%;
                max-height: 30%;
                background-color: white;
                z-index: 1000;
                position: fixed;
                top: 10%;
                overflow-y: auto;
            }
            @media screen and (max-width: 1000px) {
                .workspace .dropdown{
                    width: 45%;
                }
            }
        }
    </style>
    
    <!--controlleres-->
    <script src="/admin/assets/controller/dispositivo.js"></script>
    <script src="/user/assets/controller/alerta.js"></script>   
    <script src="/assets/service/busquedas.js"></script>
    <script src="/assets/service/crear.js"></script>
    <script src="/assets/service/editar.js"></script>
    <script src="/assets/constants/links_admin.js"></script>
    <script src="/assets/constants/Dispositivos.js"></script>

</head>
<body ng-app="app" ng-controller="dispositivo">
    <div class="head">
        <h1 id="name">
            {{nombre}}
        </h1>
        <div class="dropdown">
            <img src="https://image.flaticon.com/icons/svg/148/148795.svg">
        </div>
    </div>
    <div class="body">
        <div class="side" ng-mouseover="styleWork='z-index:-1'" ng-mouseleave="styleWork='z-index:1'">
            <div class="buttons">
                <div class="button" ng-repeat="x in links" id="{{x.id}}" ng-mouseover="changemenu(x.menu)">
                    <img src="{{x.img}}" >
                </div>
            </div>
            <div class="menu">
                <div class="item" ng-repeat="x in menu" ng-click="goto(x.link)">
                    <h2>{{x.nombre}}</h2>
                </div>
            </div>
        </div>
        <div class="workspace" style="{{styleWork}}">
            <div class="dropdown" ng-hide="CrearArchivo">
                {{dispositivo.nombre}}-{{dispositivo.unidad}}
                <div id="optionsDropdown">
                    <div class="btn-group-vertical" style="width: 100%">
                        <button type="button" class="btn btn-default btn-block" ng-repeat="x in divices" ng-click="changeDiv(x.id)">{{x.nombre}}-{{x.unidad}}</button>
                    </div>
                </div>
            </div>
            <div class="row" id="dispositivo">
                <!--div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="bubble">
                    <h3>dispositivos asignados</h2>
                    <h4>{{imies.length}}</h4>
                </div-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" id="bubble">
                    <img src="https://image.flaticon.com/icons/svg/126/126483.svg" id="editButon" ng-click="editVhc(0)">
                    <h3>nombre</h3>
                    <h4>{{dispositivo.nombre}}</h4>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" id="bubble">
                    <img src="https://image.flaticon.com/icons/svg/126/126483.svg" id="editButon" ng-click="editVhc(1)">
                    <h3>unidad</h3>
                    <h4>{{dispositivo.unidad}}</h4>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="arrowdown">
                    <img src="https://image.flaticon.com/icons/svg/118/118738.svg">
                </div>
            </div>
            <div class="row" id="last_data">
                <div id="imgs" data-toggle="modal" data-target="#myModal">
                    <img src="https://image.flaticon.com/icons/svg/685/685815.svg" id="infoimg">
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="fecha">
                    <h2>Fecha</h2>
                    <p>{{lastData.date | fecha:lastData.time | date:'short'}}</p>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" ng-hide='displayname'id="location">
                    <h2>ultima localizacion</h2>
                    <p>{{loc.country}}</p>
                    <p>{{loc.city}}</p>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" ng-show='displayname'id="location">
                    <h2>ultima localizacion</h2>
                    <p>{{displayname}}</p>
                </div>
                
            </div>
            <div class="row" id="last_data" style="top: 8%">
                <div id="imgs" data-toggle="modal" data-target="#myModal">
                    <img src="https://image.flaticon.com/icons/svg/685/685815.svg" id="infoimg">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="data">
                    <table>
                        <tr>
                            <td>modo</td>
                            <td ng-show="lastData.mode==1">Parqueado</td>
                            <td ng-show="lastData.mode==2">conduciendo</td>
                            <td ng-show="lastData.mode==3">desconocido</td>
                            <td ng-show="lastData.mode==4">distancia</td>
                            <td ng-show="lastData.mode==5">angular</td>
                        </tr>
                        <tr>
                            <td>Velocidad promedio</td>
                            <td>{{lastData.speed2 | filterDigits:3}} Km/h</td>
                        </tr>
                        <tr>
                            <td>sobrevelocidad</td>
                            <td>{{lastData.OSR | filterDigits:3}} km/h</td>
                        </tr>
                        <tr>
                            <td>Tiempo en sobrevelocidad</td>
                            <td>{{lastData.OST | filterDigits:3}}</td>
                        </tr>
                        <tr>
                            <td>distancia</td>
                            <td>{{lastData.dist/1000 | filterDigits:3}} Km</td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="io">
                    <table>
                        <tr>
                            <td>ignition</td>
                            <td ng-show="ignition">si</td>
                            <td ng-hide="ignition">no</td>
                        </tr>
                        <tr ng-repeat="x in input">
                            <td >entrada {{$index+1}}</td>
                            <td ng-show="x.value">encendido</td>
                            <td ng-hide="x.value">apagado</td>
                        </tr>
                        <tr ng-repeat="x in output">
                            <td >salida {{$index+1}}</td>
                            <td ng-show="x.value">activado</td>
                            <td ng-hide="x.value">desactivado</td>
                        </tr>
                    </table>
                </div>
            </div>

            <!--div class="row" id="imeis">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" id="select">
                    <h4 id="header">Dispositivos conectados</h4>
                    <div class="row" id="option" ng-repeat="x in imeisData" ng-click="select(x)">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                            <table class="option">
                                <tr>
                                    <td>Tipo</td>
                                    <td>{{x.tipo}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>    

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9" id="dash">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="info" ng-show="descripcion">
                        {{descripcion}}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="info" ng-hide="descripcion">
                        <h1>Seleccione un dispositivo</h1>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="comandDash" ng-show="descripcion && comandos.length>0">
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" id="comandos">
                            <div class="row" id="option" ng-repeat="x in comandos" ng-click="cambioExplicacion(x)">
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                
                                </div>
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                    {{x.nombre}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9" id="ejecutar">
                            <div class="row" id="explicacion">
                                {{explicacion}}
                            </div>
                            <div ng-show="explicacion" class="row" id="footer">
                                <button type="button" class="btn btn-success btn-lg btn-block" ng-click="sendComand(actualImei,comand)">ejecutar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="comandDash" ng-show="descripcion && comandos.length==0">
                        <h2>El dispositivo seleccionado no posee comandos para ejecutar</h2>
                    </div>
                </div>            
            </div>
        </div-->
        <div class="row" id="last_data" style="top: 9%">
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="border: solid; height: 100%">
                <h2>Gas</h2>
                <h5 ng-show="dispositivo.Sgas1">Sensor 1: Conectado</h5>
                <h5 ng-hide="dispositivo.Sgas1">Sensor 1: Desconectado</h5>
                <h5 ng-show="dispositivo.Sgas2">Sensor 2: Conectado</h5>
                <h5 ng-hide="dispositivo.Sgas2">Sensor 2: Desconectado</h5>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="border: solid; height: 100%; border-left: none">
                <h2>Bateria</h2>
                <h5 ng-show="dispositivo.back_up_Battery">bateria: Conectado</h5>
                <h5 ng-hide="dispositivo.back_up_Battery">bateria: Desconectado</h5>
                <h5 ng-show="dispositivo.battery">funte: Conectado</h5>
                <h5 ng-hide="dispositivo.battery">funte: Desconectado</h5>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="border: solid; height: 100%; border-left: none">
                <h2>Boton de emergencia</h2>
                <h4 ng-show="dispositivo.ibutton">Conectado</h4>
                <h4 ng-hide="dispositivo.ibutton">Desconectado</h4>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="border: solid; height: 100%; border-left: none">
                <h2>GPS</h2>
                <h4 ng-show="dispositivo.gps">En linea</h4>
                <h4 ng-hide="dispositivo.gps">Desconectado</h4>
            </div>
        </div>
    <!--img src="https://image.flaticon.com/icons/svg/685/685815.svg" data-toggle="modal" data-target="#myModal"-->
    </div>
    
    <!-- Trigger the modal with a button >
    <trigger  data-toggle="modal" data-target="#myModal">texto</trigger-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Resumen de datos</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <h2>Fecha</h2>
                        <h4>{{lastData.date}} {{lastData.time}}</h4>
                    </div>
                    <div class="row" ng-hide='displayname'>
                        <h2>ultima localizacion</h2>
                        <p>{{loc.country}}</p>
                        <p>{{loc.city}}</p>
                    </div>
                    <div class="row" ng-show='displayname'>
                        <h2>ultima localizacion</h2>
                        <p>{{displayname}}</p>
                    </div>
                    <div class="row">
                        <table id="modalTable">
                            <tr>
                                <td id="title">modo</td>
                                <td ng-show="lastData.mode==1">Parqueado</td>
                                <td ng-show="lastData.mode==2">conduciendo</td>
                                <td ng-show="lastData.mode==3">desconocido</td>
                                <td ng-show="lastData.mode==4">distancia</td>
                                <td ng-show="lastData.mode==5">angular</td>
                            </tr>
                            <tr>
                                <td id="title">Velocidad promedio</td>
                                <td>{{lastData.speed2}}</td>
                            </tr>
                            <tr>
                                <td id="title">sobrevelocidad</td>
                                <td>{{lastData.OSR}}</td>
                            </tr>
                            <tr>
                                <td id="title">Tiempo en sobrevelocidad</td>
                                <td>{{lastData.OST}}</td>
                            </tr>
                            <tr>
                                <td id="title">distancia</td>
                                <td>{{lastData.dist}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <table id="modalTable">
                            <tr>
                                <td id="title">ignition</td>
                                <td ng-repeat="x in input" id="title">entrada {{$index+1}}</td>
                            </tr>
                            <tr></tr>
                                <td ng-show="ignition">si</td>
                                <td ng-hide="ignition">no</td>
                                <td ng-repeat="x in input">
                                    <p ng-show="x.value">encendido</p>
                                    <p ng-hide="x.value">apagado</p>
                                </td>
                            </tr>
                        </table>
                        <table id="modalTable">
                            <tr>
                                <td ng-repeat="x in output" id="title">salida {{$index+1}}</td>
                            </tr>
                            <tr></tr>
                                <td ng-repeat="x in output">
                                    <p ng-show="x.value">activado</p>
                                    <p ng-hide="x.value">desactivado</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>