<!DOCTYPE html>
<html ng-app="demoapp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <!--script src="../bower_components/angular/angular.min.js"></script-->
    <script src="/node_modules/leaflet/dist/leaflet.js"></script>
    <!--script src="../bower_components/leaflet/dist/leaflet.js"></script-->
    <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <!--script src="../bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script-->
    <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
    <!--script src="../dist/ui-leaflet.min.js"></script-->
    <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />
    <!--link rel="stylesheet" href="../bower_components/leaflet/dist/leaflet.css" /-->
    <script>
        var app = angular.module("demoapp", ['ui-leaflet']);
        app.controller("BasicFirstController", [ "$scope", function($scope) {
            // Nothing here!
        }]);
    </script>
  </head>

  <script>
    var app = angular.module('demoapp', ['ui-leaflet']);
    app.controller("BasicLFCenterController", [ '$scope', '$http', 'leafletData', function($scope, $http, leafletData) {
        $scope.london= {
            lat: 51.505,
            lng: -0.09,
            zoom: 4
        }
        $scope.geojson={
            data: {
                "type": "FeatureCollection",
                "features": [
                {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                    -83.49197387695312,
                    10.090557928582758
                    ]
                }
                },
                {
                    "type": "Feature",
                    "properties": {},
                    "geometry": {
                        "type": "LineString",
                        "coordinates": [
                        [
                            6.0150146484375,
                            52.190772371135374
                        ],
                        [
                            6.69891357421875,
                            52.31015787939094
                        ]
                        ]
                    }
                    }
                ]
            },
            style: {
                fillColor: "green",
                weight: 2,
                opacity: 1,
                color: 'red',
                dashArray: '3',
                fillOpacity: 0.7
            }
        }
   }]);
    </script>
    <style>
        input {
            width: 120px;
            margin-right: 10px;
        }
    </style>
    </head>
    <body ng-controller="BasicLFCenterController">
    <leaflet lf-center="london" geojson="geojson" width="100%" height="480px"></leaflet>
    <h1>Center map example</h1>
    <ul>
        <li><input type="number" step="any" ng-model="london.lat" /> Latitude</li>
        <li><input type="number" step="any" ng-model="london.lng" /> Longitude</li>
        <li><input type="number" step="any" ng-model="london.zoom" /> Zoom</li>
    </ul>
    </body>
</html>