<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>

        <script src="/assets/controllers/app.js"></script>
        <script src="/empresa/assets/controller/archive.js"></script>
    </head>

    <body ng-controller="archive">
        <table>
            <tr><td>dispositivo</td> <td>{{diviceId}}</td></tr>
            <tr>
                <td>regla</td> 
                <td><select ng-model="rule" ng-change="check()">
                    <option ng-repeat="x in rules" value="{{x}}">{{x}}</option>
                </select></td>
            </tr>
            <tr>
                <td>propiedad</td> 
                <td><select ng-model="property">
                    <option ng-repeat="x in propertys" value="{{x}}">{{x}}</option>
                </select></td>
            </tr>
            <tr><td>operator</td> <td><select ng-model="operator" ng-options="x for x in operators"></select></td></tr> 
            <tr><td>tolerancia</td> <td> <input type="number" ng-model="tolerancia"></td></tr>
            <tr><td>referencia</td> <td> <input type="number" ng-model="ref"></td></tr>
            <tr><td>modulo</td> <td> <input type="number" ng-model="modulo"></td></tr>
            <tr><td>master</td> <td> <input type="checkbox" ng-model="master" ng-checked="false"></td></tr>
            </tr>
        </table>
        <button ng-click="set()">enviar</button>
    </body>
    
</html>