<!<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <script src="/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
        <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">

        <style>
            #clientOption:hover {
                background-color: rgb(192, 192, 192);
                cursor: pointer;
            }

            .row{
                margin: 0
            }

            .image-upload > input {
                visibility:hidden;
                width:0;
                height:0
            }
            #workspace{
                position: relative;
                left: 1.5%;
                top: 0;
                width: 97%;
            }
            .search{
                margin-left: -15px;
                /* position: relative; */
                background-color: rgb(7, 0, 99);
                /* left: 0; */
                width: 27.7%;
                color: white;
                padding: 1px 0px 1px 3px;
                font-size: 20px;
            }

            .search input{
                color: black;
                position: relative;
                float: right;
                height: 3.7%;
                margin-right: 1px;
                width: 50%;
            }

            option{
                color: black
            }

            .body .dropdown #optionsDropdown{
                margin-left: -6%;
                
            }

            .body .dropdown{    
                position: absolute;
                top: 0%;
                right: 0%;
                background-color: rgb(7, 0, 99);
                font-size: 17px;
                color: white;
                height: 4%;
                width: 15%;
                padding: 5px;
                margin-right: -19px;
                overflow: hidden
            }
            table{
                width: 100%;
            }
            td,th{
                border: var(--line-spec)
            }
        </style>

        <!--controllers-->
        <!--script src="/assets/controllers/app.js"></script-->
        <script src="/empresa/assets/controller/clientes.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
        <script src="/assets/constants/links_empresa.js"></script>
    </head>
    <body ng-app="app" ng-controller="clientes">
            <div class="head">
                <h1 id="name">
                    {{empresa.nombre}}
                </h1>
                <div class="dropdown">
                    <img src="https://image.flaticon.com/icons/svg/148/148795.svg">
                    <div id="optionsDropdown">
                        <div class="btn btn-default btn-block" data-toggle="modal" data-target="#myModal" ng-click="StrCrear()">Agregar cliente</div>
                        <div class="image-upload">
                                <!--label for="file-input" style="width: 100%" id="upfile1">
                                    <div class="btn btn-default btn-block">Archivo</div>
                                </label>
                                <input type="file" name="file" id='file1' uploader-model="file" style="display:none"-->
                                <button type="button" class="btn btn-default btn-block" ng-click="asigg()" data-toggle="modal" data-target="#myModal">Asignar agentes </button>
                        </div>
                        <div class="btn-group-vertical" ng-show="cliente>=0" style="width: 100%"> 
                            <button type="button" class="btn btn-default btn-block" ng-click="editarCliente(clientes[cliente]._id,cliente)">Editar cliente {{clientes[cliente].nombre}}</button>
                            <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#myModal" ng-click="DeleteAlerta=true">Eliminar a {{clientes[cliente].nombre}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="side" ng-mouseover="styleWork='z-index:-1'" ng-mouseleave="styleWork='z-index:1'">
                    <div class="buttons">
                        <div class="button" ng-repeat="x in links" id="{{x.id}}" ng-mouseover="changemenu(x.menu)">
                            <img src="{{x.img}}" >
                        </div>
                    </div>
                    <div class="menu">
                        <div class="item" ng-repeat="x in menu" ng-click="goto(2,x.link)">
                            <h2>{{x.nombre}}</h2>
                        </div>
                    </div>
                </div>
                <div class="workspace" style="{{styleWork}}">
                <!--div class="top" id="tooltip">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <input type="text" ng-model="sercher" ng-change="filter()">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                clientes:<select ng-model="cliente" ng-change="go_to(clients[cliente].lat,clients[cliente].lon,15)">
                                <option ng-repeat="x in clients" value="{{$index}}">{{x.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right" data-toggle="modal" data-target="#myModal" ng-click="DeleteAlerta=true">
                            <img src="https://image.flaticon.com/icons/svg/1/1316.svg" data-toggle="tooltip" data-placement="bottom" title="Eliminar cliente" style="height: 100%; width: 100%">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right" >
                            <img src="https://image.flaticon.com/icons/svg/1131/1131495.svg" data-toggle="tooltip" data-placement="bottom" title="Agregar cliente" style="height: 100%; width: 100%" ng-click="StrCrear()">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right">
                            <img src="https://image.flaticon.com/icons/svg/121/121703.svg" data-toggle="tooltip" data-placement="bottom" title="Editar cliente" style="height: 100%; width: 100%" ng-click="editarCliente(clients[cliente]._id,cliente)">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right" data-toggle="modal" data-target="#myModal">
                            <img src="https://image.flaticon.com/icons/svg/942/942812.svg" data-toggle="tooltip" data-placement="bottom" title="Asignar agentes a {{clients[cliente].nombre}}" style="height: 100%; width: 100%" ng-click="asigg(clients[cliente])">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right" >
                            <div class="image-upload">
                                  <img src="https://image.flaticon.com/icons/svg/732/732089.svg" id="upfile1" style="cursor:pointer;height: 100%; width: 100%" />
                                  <input type="file" name="file" id='file1' uploader-model="file" style="display:none" />
                            </div>
                        </div>
                    </div>
                </div-->
                
                <div class="body" id="workspace">
                    <div class="search" ng-hide="CrearArchivo">
                        Codigo de cliente: <input type="text" ng-model="sercher"> 
                    </div>
                    <div ng-show="sercher" style="
                        position: fixed;
                        width: 50%;
                        z-index: 100;
                        height:  20%;
                        overflow-y:  auto;
                        background-color:  white;
                    ">
                        <ul id="clientOption" ng-click="chgIndex(x)" ng-repeat="x in clientes | filter:{'codigo':sercher}">{{x.codigo}}--{{x.nombre}}</ul>
                    </div>
                    <!--div class="dropdown">
                        <select ng-model="client" ng-change="chgIndex(client)" style="height: 100%;width: 100%;background-color: transparent;color: white">
                            <option selected value="">Clientes a buscar</option>
                            <option ng-repeat="x in clientes | filter:{'codigo':sercher}" value="{{$index}}">{{x.codigo}}--{{x.nombre}}</option>
                        </select>
                    </div-->
                    <leaflet lf-center="center" markers="markers" event-broadcast="events" height="100%" width="100%"></leaflet>
                    <input type="text" ng-model="centpos" style="width:23%; height: 4%;position: absolute; top: 5%; right: 2%" ng-change="serpos()" placeholder="Buscar una localizacion">
                    <!--i class="fas fa-search fa-2x" ng-click="serpos()" style="width:3%;position: absolute; top: 5%; right: 2%"></i-->
                    <ul class="list-group" ng-show="showres" style="width:23%;position: absolute; top: 9%; right: 2%">
                        <li class="list-group-item" ng-repeat="x in ResPos" ng-click="SelctPos(x)">
                            {{x.display_name}}
                        </li>
                    </ul>
                    <div ng-show="CreateEdit" style="background-color: white;height: 21%;width: 50%;position: fixed;bottom: 3%;right: 1%">
                        <div class="row" style="height: 8%"><img src="https://image.flaticon.com/icons/svg/70/70460.svg" style="float: right;height: 100%" ng-click="close()"></div>
                        <div class="row" style="border: solid;padding: 10px">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                nombre
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <input type="text" ng-model="Cnombre">  
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                Sector
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    Zona:{{region}} 
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                latitud
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <input type="number" ng-model="markers[l].lat"> 
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                longitud
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <input type="number" ng-model="markers[l].lng"> 
                            </div>
                        </div>  
                        <div ng-switch on="tipoCreacion">
                            <button class="btn btn-success btn-block" ng-show="tipoCreacion=='crear'" ng-click="crearcliente()" class="btn btn-default btn-block" data-toggle="modal" data-target="#myModal" >crear cliente</button>
                            <button class="btn btn-success btn-block" ng-show="tipoCreacion=='editar'" ng-click="editarCln(ClnId)">editar cliente</button>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    
                </div>
            </div>
        </div>

        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav ng-scope") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav ng-scope";
                }
            }

            $("#upfile1").click(function () {
                $("#file1").trigger('click');
            });
        </script>

        
        <!-- Modal -->
        <button ng-show="false" class="modalActive" data-toggle="modal" data-target="#myModal">texto</button>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 ng-show="assginar" class="modal-title">Asignar agente </h4>
                        <h4 ng-show="CreateEdit" class="modal-title">Clientes </h4>
                    </div>
                    <div class="modal-body">
                        <div ng-show="assginar">
                            Zona:<select ng-model="zona">
                                <option ng-repeat="x in zonas" value="{{x.region}}">{{x.region}}</option>
                            </select>
                            Usuario:<select ng-model="usr" ng-change="usuarioChg(usr)">
                                <option ng-repeat="x in users" value="{{x}}">{{x.user}}</select>
                            </select>
                            <button ng-click="asignarStd(1,zona)">Asignar</button>
                            <table>
                                <tr>
                                    <th>Zona</th>
                                    <th>Eliminar</th>
                                </tr>
                                <tr ng-repeat="x in usrCLN">
                                    <td>{{x}}</td>
                                    <td ng-click="asignarStd(0,x)">eliminar</td>
                                </tr>
                            </table>
                            <!--section class="columns" style="background-color: #f5f4f4">
                            <div class="column">
                                <ul class="list-group">
                                    <li class="list-group-item">nombre: {{clnt.nombre}}</li>
                                    <li class="list-group-item">region: {{clnt.region}}</li>
                                </ul>
                            </div>
                            <div class="column">
                                <div class="search-box">
                                    <input type="text" ng-model="sercher" ng-change="filterEmp()">
                                    <span></span>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="x in usersA" ng-click="asignarStd(x.id,false,$index)"> {{x.nombre}}
                                    </li>
                                </ul>
                            </div>
                            <div class="column">
                                <div class="search-box">
                                    <input type="text" ng-model="sercher" ng-change="filterEmp()">
                                    <span></span>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="x in usersB" ng-click="asignarStd(x.id,true,$index)"> {{x.nombre}}
                                    </li>
                                </ul>
                            </div>
                        </section-->
                        </div>
                        <div ng-show="CreateEdit">
                            <h3>Escriba las coordenas y el nombre del cliente o cierre esta ventana para buscar al cliente en el mapa</h3>
                            <table>
                                <tr><td>nombre</td><td> <input type="text" ng-model="Cnombre"></td>
                                    <td>Sector</td><td>Zona:<select ng-model="zona">
                                            <option ng-repeat="x in zonas" value="{{x.region}}">{{x.region}}</option>
                                        </select></td></tr>
                                <tr><td>latitud</td><td><input type="number" ng-model="markers[l].lat"></td>
                                    <td>longitud</td><td><input type="number" ng-model="markers[l].lng"></td></tr>
                            </table>
                            <div ng-switch on="tipoCreacion">
                                <button class="btn btn-default btn-block" ng-switch-when="crear" ng-click="crearcliente()" ng-disabled="!Cnombre">Crear cliente</button>
                                <button class="btn btn-default btn-block" ng-switch-when="editar" ng-click="editarCln(ClnId)" ng-disabled="!Cnombre">Editar cliente</button>
                            </div>
                        </div>
                        <div ng-show="DeleteAlerta">
                            <h3>Seguro que desea eliminar al cliente {{clients[cliente].nombre}}</h3>
                        </div>
                        <div ng-show="Loading">
                            <p>{{InfoShow}}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" ng-show="DeleteAlerta" ng-click="DeleteCliente(clientes[cliente])">Eliminar</button>
                        <button type="button" class="btn btn-default" ng-hide="CreateEdit" data-dismiss="modal" ng-click="ResetOptions()">Close</button>
                        <button type="button" class="btn btn-default" ng-show="CreateEdit" data-dismiss="modal" >Ver en el mapa</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>