<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>

        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
        <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/select.css">

        <style>
            body{
                background-color: white
            }

           table {
               width: 100%;
               border-top: var(--line-spec);
               border-bottom: var(--line-spec);
           }

           td {
               padding: 10;
           }

           #head{
                padding: 10;
                text-align: center;
           }
        </style>
        <!--controllers-->
        <script src="/assets/controllers/app.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
        <script src="/assets/constants/links_empresa.js"></script>
    </head>

    <body ng-app="app" ng-controller="view">
        <div id="head">
            <h3>{{AllData.empresa.nombre}}</h3>
            <h1>Nota por devolucion de producto</h1>
        </div>
        <div style="width: 100%;float: left;padding: 10;">
            <p>Numero</p>
            <p>{{AllData.Nota}}</p>
        </div>
        <div id="box">
            <table>
                <tr>
                    <td>Documento</td>
                    <td>{{AllData.Documento}}</td>
                    <td>Fecha</td>
                    <td>{{AllData.fecha | date:'short'}}</td>
                </tr>
                 <tr>
                    <td>Cliente</td>
                    <td>{{AllData.cliente.nombre}}</td>
                    <td>Factura</td>
                    <td>{{AllData.Pedido.consecutivo}}</td>
                </tr>
                <tr>
                    <td>Anular</td>
                    <td>{{AllData.Factura.numero}}</td>
                    <td>Tipo</td>
                    <td>Credito</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Moneda</td>
                    <td>Colon</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Cambio</td>
                    <td>590</td>
                </tr>
            </table>
        </div>

        <table>
            <tr>
                <th></th>
                <th>Codigo</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Bruto</th>
                <th>Descuento</th>
                <th>Impuesto</th>
                <th>Total</th>
            </tr>
            <tr ng-repeat="x in AllData.Pedido.reservas">
                <td>{{$index+1}}</td>
                <td>{{producto[x.objeto].codigo}}</th>
                <td>{{producto[x.objeto].nombre}}</th>
                <td>{{x.Ocantidad-x.Ncant}}</td>
                <td>{{producto[x.objeto].precio*(x.Ocantidad-x.Ncant)}}</td>
                <td>{{x.Descuento}}</td>
                <td>{{producto[x.objeto].precio*x.Ocantidad*0.13}}</td>
                <td>{{producto[x.objeto].precio*(x.Ocantidad*1.13-x.Ncant)}}</td>
            </tr>
        </table>
        <div id="footer">
            <table>
                <tr>
                    <td><input id="line"></td>
                    <td><input id="line"></td>
                </tr>
                <tr>
                    <td>Realizado por</td>
                    <td>Autorizado por</td>
                </tr>
            </table>
        </div>
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav ng-scope") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav ng-scope";
                }
            }
        </script>
    </body>

    <script>
    var app = angular.module('app', []);
    app.controller('view', function($scope,$window) {
        $scope.AllData=$window.data
        $scope.producto=$scope.AllData.productos
        console.log($scope.AllData)
    });
    </script>
</html>
