<html class="no-js" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--mapa-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <script src="/node_modules/json-export-excel/dest/json-export-excel.min.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
            <link rel="stylesheet" type="text/css" href="/empresa/assets/css/inventario.css">
            <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
            <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">

        <style>
            #modalDash{
                overflow-y: auto
            }

            #table_Fact{
                padding: 10px;
                height: 80%;
                background-color: whitesmoke;
                overflow-y: auto;
            }

            .row#head{
                padding: 10px;
                border: var(--line-spec-solid-2);
                background-color: white;
                height: 20%;
            }
            .row#dash{
                height: 80%;
                position: absolute;
                top: 24%;
                padding: 10px;
                border: var(--line-spec-solid-2);
                background-color: white;
            }

            table{
                width: 100%
            }

            td,th{
                border:var(--line-spec-solid-2);
                padding: 10px;
                background-color: white
                
            }
        </style>


        <!--controllers>
        <script src="/assets/controllers/app.js"></script-->
        <script src="/empresa/assets/controller/Fact.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
        <script src="/assets/constants/links_empresa.js"></script>
    </head>

    <body ng-controller="inventario">
            <div class="head">
                <h1 id="name">
                    {{empresa.nombre}}
                </h1>
                <div class="dropdown">
                    <img src="https://image.flaticon.com/icons/svg/148/148795.svg">
                    <div id="optionsDropdown">
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="side" ng-mouseover="styleWork='z-index:-1'" ng-mouseleave="styleWork='z-index:1'">
                    <div class="buttons">
                        <div class="button" ng-repeat="x in links" id="{{x.id}}" ng-mouseover="changemenu(x.menu)">
                            <img src="{{x.img}}" >
                        </div>
                    </div>
                    <div class="menu">
                        <div class="item" ng-repeat="x in menu" ng-click="goto(2,x.link)">
                            <h2>{{x.nombre}}</h2>
                        </div>
                    </div>
                </div>
                <div class="workspace" style="{{styleWork}}">
                <!--div class="top" id="tooltip">
                    <div class="row">
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="height: 70%;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-click="colleccionfilter('PT')">Producto</button>
                                <button type="button" class="btn btn-default" ng-click="colleccionfilter('MP')">Materia Prima</button>
                                <button type="button" class="btn btn-default" ng-click="colleccionfilter('ET')">Etiqueta</button>
                                <button type="button" class="btn btn-default" ng-click="colleccionfilter('EN')">Envase</button>
                                <button type="button" class="btn btn-default" ng-click="colleccionfilter('TP')">Tapas</button>
                            </div>
                        </div>
                        
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                Familias:<select ng-model="col">
                                <option ng-repeat="x in collections" value="{{x}}">{{x}}</option>
                            </select>
                        </div>
                        <div class="image-upload col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right">
                            <label for="file-input">
                                <img src="https://image.flaticon.com/icons/svg/1/1396.svg" style="pointer-events: none;height: 100%; width: 100%"/>
                            </label>
                              
                            <input id="file-input" type="file" name="Archivo" uploader-model="Archivo"/>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right" data-toggle="modal" data-target="#myModal" ng-click="page(null,0)">
                            <img src="https://image.flaticon.com/icons/svg/149/149162.svg" data-toggle="tooltip" data-placement="bottom" title="crear producto" style="height: 100%; width: 100%">
                        </div>
                    </div>
                </div-->
                <div class="body" id="list">
                    <div class="row" id="head">
                        <h1>Seleccione la accion a realizar</h1>
                        <select ng-model="accion">
                            <option value=0>Aplicacion de recibos</option>
                            <option value=1>Nota de credito</option>
                            <option value=2>Nota de debito</option>
                            <option value=3>Retorno de producto</option>
                            <option value=4>Cuentas por cobrar</option>
                        </select>
                        <button ng-click="makeresumen()" data-toggle="modal" data-target="#myModal" style="float: right">Resumen</button>
                    </div>
                    <div class="row" id="dash">
                        <p ng-hide="accion==4">Seleccione el cliente: <select ng-model="client" ng-change="SearchFact(client)">
                            <option ng-repeat="x in clientes | orderBy:'codigo'" value="{{x}}">{{x.codigo}}--{{x.nombre}}</option>
                        </select></p>
                        <p ng-show="accion==4">Seleccione la zona para analizar <select ng-model="zon" ng-change="LoadData(zon)">
                            <option ng-repeat="x in zona" value="{{x}}">{{x.region}}</option>
                        </select></p>
                        <div>
                            <div id="table_Fact" ng-hide="accion==3 || accion==4">
                                <table>
                                    <tr>
                                        <th>Numero factura</th>
                                        <th>Monto</th>
                                        <th>Estado</th>
                                        <th ng-show="accion==0">Pagar</th>
                                        <th ng-show="accion==1">Descontar(%)</th>
                                        <th ng-show="accion==2">Aumentar(%)</th>
                                    </tr>
                                    <tr ng-repeat="x in facturas">
                                        <td>{{x.numero}}</td>
                                        <td>{{x.monto}}</td>
                                        <td>{{x | vigencia}}</td>
                                        <td><input type="number" ng-model="x.data"></td>
                                    </tr>
                                </table>
                            </div>
                            <p ng-show="accion==3">Seleccione la factura que desea modificar: <select ng-model="fct" ng-change="Buscar_pedido(fct)">
                                <option ng-repeat="x in facturas" value="{{x}}">{{x.numero}}--{{x.fecha |date:'short'}}</option>
                            </select></p>

                            <div id="table_Fact" ng-show="accion==3">
                                <table>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Monto</th>
                                        <th>Nueva cantidad</th>
                                        <th>Precio</th>
                                    </tr>
                                    <tr ng-repeat="x in pedido.reservas">
                                        <td>{{productos[x.objeto].nombre}}</td>
                                        <td>{{x.cantidad}}</td>
                                        <td ng-show="productos[x.objeto].exentos">{{x.cantidad*productos[x.objeto].precio}}</td>
                                        <td ng-hide="productos[x.objeto].exentos">{{x.cantidad*productos[x.objeto].precio*1.13}}</td>
                                        <td><input type="number" ng-model="x.Ncant" max="{{x.cantidad}}" ng-init="pedido.reservas[$index].Ncant=pedido.reservas[$index].cantidad"></td>
                                        <td ng-show="productos[x.objeto].exentos">{{x.Ncant*productos[x.objeto].precio}}</td>
                                        <td ng-hide="productos[x.objeto].exentos">{{x.Ncant*productos[x.objeto].precio*1.13}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div id="table_Fact" ng-show="accion==4">
                                    <table>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>cliente</th>
                                            <th>Deuda</th>
                                            <th>0-30</th>
                                            <th>31-45</th> 
                                            <th>46-60</th>
                                            <th>61-90</th>
                                            <th>+90</th> 
                                        </tr>
                                        <tr ng-repeat="x in factCxC">
                                            <td>{{x.codigo}}</td>
                                            <td>{{x.nombre}}</td>
                                            <td>{{x.credito.deuda}}</td>
                                            <td>{{x.facts| deudaCxC:{'i':0,'f':30} }}</td>
                                            <td>{{x.facts| deudaCxC:{'i':31,'f':45} }}</td>
                                            <td>{{x.facts| deudaCxC:{'i':46,'f':60} }}</td>
                                            <td>{{x.facts| deudaCxC:{'i':61,'f':90} }}</td>
                                            <td>{{x.facts| deudaCxC:{'i':91,'f':999} }}</td>
                                            
                                        </tr>
                                    </table>
                                </div>
                        </div>
                        <button class="btn btn-success" style="position: absolute;bottom: 0;right: 0;" ng-disabled="!accion" ng-click="set(0)">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Trigger the modal with a button -->
        <!--p  data-toggle="modal" data-target="#myModal">abrir modal</p-->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        Solicitando Informacion, por favor espere 
                    </div>
                    <div class="modal-body" style="overflow: auto">
                        <div id="myProgress" style="width: 100%;background-color: grey;">
                            <div id="myBar" ng-style="barsize"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-disabled="!resumeFinal" ng-json-export-excel data="FactRes" report-fields="{'Producto':'Producto', 'Cod_Producto': 'CodProducto', 'cantidad': 'cantidad','Factura': 'Factura','Saldo_de_Factura': 'Saldo_de_Factura', 'Monto_de_Factura': 'Monto_de_Factura', 'Fecha_de_Facturacion': 'Fecha_de_Facturacion', 'Credito_o_Contado': 'Credito_o_Contado','Codigo_Cliente':'Codigo_Cliente','Nombre_del_Cliente': 'Nombre_del_Cliente',Codigo_Cliente: 'Codigo_Cliente','Ruta': 'Ruta','Agente': 'Agente'}" filename="'filename'" class="btn-sm btn-primary">Exportar excel</button>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>
