<!<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <script src="/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                    console.log($(document).scrollTop())
                    if($(document).scrollTop()>60){
                        var x = document.getElementById("tooltip");
                        if (x.className === "top") {
                            x.className += " fixed";
                        }
                    }
                    else{
                        var x = document.getElementById("tooltip");
                            x.className = "top";
                    }
                }
            })
        </script>

        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet"  type="text/css" href="/assets/css/top-bar.css">
        <link rel="stylesheet"  type="text/css" href="/assets/css/dash.css">
        <link rel="stylesheet"  type="text/css" href="/assets/css/table.css">
        <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">

        <style>
            
        </style>

        <!--controllers-->
        <script src="/assets/controllers/app.js"></script>
        <script src="/empresa/assets/controller/horarios.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
        <script src="/assets/constants/links_empresa.js"></script>
    </head>
    <body ng-app="app" ng-controller="horarios"  ng-class="{'show':show}">
        <div class="top" ng-include="'/assets/htmls/Top_bar.html'" ng-class="{'show':show}"></div>
        <div class="body">
            <div class="sidebar">
                <div class="botton" ng-click="show=!show">
                    <img ng-hide="show" src="https://image.flaticon.com/icons/svg/118/118740.svg" height="200px">
                    <img ng-show="show" src="https://image.flaticon.com/icons/svg/126/126492.svg">
                </div>
                <div class="body">
                    <!--ul class="list-group">
                        <li class="list-group-item" ng-repeat="x in meses" ng-click="crearDias($index)">{{x}}</li>
                    </ul-->
                    
                    <div class="row"  ng-repeat="x in links" ng-click="goto(2,x.link)">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" id="icons">
                            <img src={{x.icon}}>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                            <h3>{{x.text}}</h3>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="workspace">
                <div class="top" id="tooltip">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            fecha:<input type="date" ng-model="fecha" ng-change="makeCalendar()">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                Agente:<select ng-model="usr">
                                <option ng-repeat="x in users" value="{{x.id}}">{{x.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right" data-toggle="modal" data-target="#myModal" ng-click="modalType='crear'">
                            <img src="https://image.flaticon.com/icons/svg/411/411181.svg" data-toggle="tooltip" data-placement="bottom" title="Agregar tarea" style="height: 100%; width: 100%">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right">
                            <img src="https://image.flaticon.com/icons/svg/819/819164.svg" data-toggle="tooltip" data-placement="bottom" title="Ver tareas" style="height: 100%; width: 100%">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right">
                            <img src="https://image.flaticon.com/icons/svg/149/149237.svg" data-toggle="tooltip" data-placement="bottom" title="Ver horario" style="height: 100%; width: 100%">
                        </div>
                    </div>
                </div>
                <div class="body">
                    <table>
                        <tr>
                            <th></th>
                            <th>Domingo {{dias[0]}}</th>
                            <th>Lunes {{dias[1]}}</th>
                            <th>Martes {{dias[2]}}</th>
                            <th>Miercoles {{dias[3]}}</th>
                            <th>Jueves {{dias[4]}}</th>
                            <th>Viernes {{dias[5]}}</th>
                            <th>Sabado {{dias[6]}}</th>
                        </tr>
                        <tr ng-repeat="x in horas">
                            <td>{{x}}</td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="y in tareasSemana[0][$index]">{{y}}</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="y in tareasSemana[1][$index]">{{y}}</li>
                                </ul></td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="y in tareasSemana[2][$index]">{{y}}</li>
                                </ul></td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="y in tareasSemana[3][$index]">{{y}}</li>
                                </ul></td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="y in tareasSemana[4][$index]">{{y}}</li>
                                </ul></td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="y in tareasSemana[5][$index]">{{y}}</li>
                                </ul></td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="y in tareasSemana[6][$index]">{{y}}</li>
                                </ul></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav ng-scope") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav ng-scope";
                }
            }
        </script>

        
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <div ng-show="modalType='crear'">
                            <select ng-model="tipoTarea">
                                <option value=1>horario</option>
                                <option value=0>tarea</option>
                            </select>
                            fecha: <input type="date" ng-model="fechaAct">
                            inicio: <input type="time" ng-model="inicio">
                            final: <input type="time" ng-model="final">
                            description: <input type="text" ng-model="Actividad">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-show="modalType='crear'" type="button" class="btn btn-default" data-dismiss="modal" ng-click="crearActividad()">Crear Tarea</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>