<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js" type="text/javascript"></script>
  <script src="https://cdn.rawgit.com/janantala/angular-qr/master/lib/qrcode.js" type="text/javascript"></script>
  <script src="https://cdn.rawgit.com/janantala/angular-qr/master/src/angular-qr.js" type="text/javascript"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>

        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />
        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
        <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/select.css">

        <style>
            body{
                background-color: white
            }

           table {
               width: 100%
           }

           td {
               width: 25%;
               padding: 10;
               border: var(--line-spec)
           }

            h4#titule{
                padding: 20;
                border-top: var(--line-spec-solid-2);
            }

            tr#BigFont{
                background-color: var(--gray-white-50);
            }
        </style>
        <!--controllers-->
        <script src="/assets/controllers/app.js"></script>
        <script src="/empresa/assets/controller/viewImpQR.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
        <script src="/assets/constants/links_empresa.js"></script>
    </head>

    <body ng-app="app" ng-controller="view">
        <div class="row" ng-repeat="x in AllData.lotes">
            <h2>{{x.nombre}}</h2>
            
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2" ng-repeat="y in x.url track by $index" style="padding: 5">
                <qr text="y"></qr>
            </div>
        </div>


        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav ng-scope") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav ng-scope";
                }
            }
        </script>
    </body>
</html>
