<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--mapa-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <script src="/node_modules/json-export-excel/dest/json-export-excel.min.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
            <link rel="stylesheet" type="text/css" href="/empresa/assets/css/inventario.css">
            <link rel="stylesheet"  type="text/css" href="/assets/css/table.css">
            <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
            <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">

        <style>
            #modalDash{
                overflow-y: auto
            }

            #log{
                border: var(--line-spec);
                height: 300px;
                overflow: auto;
            }
        </style>

        <!--controllers>
        <script src="/assets/controllers/app.js"></script-->
        <script src="/empresa/assets/controller/inventario.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
        <script src="/assets/constants/links_empresa.js"></script>
    </head>

    <body ng-app="app" ng-controller="inventario">
            <div class="head">
                <h1 id="name">
                    {{empresa.nombre}}
                </h1>
                <div class="dropdown">
                    <img src="https://image.flaticon.com/icons/svg/148/148795.svg">
                    <div id="optionsDropdown">
                        <div class="btn btn-default btn-block" data-toggle="modal" data-target="#myModal" ng-click="page(null,0)">Crear Nuevo producto</div>
                        <div class="btn btn-default btn-block" ng-click="page(null,5)">Descargar informacion</div>
                        <div ng-init="ShowAll=false" ng-show="!ShowAll" class="btn btn-block btn-default" ng-click="ShowAll=true" >Mostrar todo</div>
                        <div ng-show="ShowAll" class="btn btn-block btn-default" ng-click="ShowAll=false">Mostrar menos</div>
                        <div class="image-upload">
                                <label for="file-input" style="width: 100%">
                                    <div class="btn btn-default btn-block">Archivo</div>
                                </label>
                                <input id="file-input" type="file" name="Archivo" uploader-model="Archivo"/>
                            </div>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="side" ng-mouseover="styleWork='z-index:-1'" ng-mouseleave="styleWork='z-index:1'">
                    <div class="buttons">
                        <div class="button" ng-repeat="x in links" id="{{x.id}}" ng-mouseover="changemenu(x.menu)">
                            <img src="{{x.img}}" >
                        </div>
                    </div>
                    <div class="menu">
                        <div class="item" ng-repeat="x in menu" ng-click="goto(2,x.link)">
                            <h2>{{x.nombre}}</h2>
                        </div>
                    </div>
                </div>
                <div class="workspace" style="{{styleWork}}">
                <!--div class="top" id="tooltip">
                    <div class="row">
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="height: 70%;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-click="colleccionfilter('PT')">Producto</button>
                                <button type="button" class="btn btn-default" ng-click="colleccionfilter('MP')">Materia Prima</button>
                                <button type="button" class="btn btn-default" ng-click="colleccionfilter('ET')">Etiqueta</button>
                                <button type="button" class="btn btn-default" ng-click="colleccionfilter('EN')">Envase</button>
                                <button type="button" class="btn btn-default" ng-click="colleccionfilter('TP')">Tapas</button>
                            </div>
                        </div>
                        
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                Familias:<select ng-model="col">
                                <option ng-repeat="x in collections" value="{{x}}">{{x}}</option>
                            </select>
                        </div>
                        <div class="image-upload col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right">
                            <label for="file-input">
                                <img src="https://image.flaticon.com/icons/svg/1/1396.svg" style="pointer-events: none;height: 100%; width: 100%"/>
                            </label>
                              
                            <input id="file-input" type="file" name="Archivo" uploader-model="Archivo"/>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right" data-toggle="modal" data-target="#myModal" ng-click="page(null,0)">
                            <img src="https://image.flaticon.com/icons/svg/149/149162.svg" data-toggle="tooltip" data-placement="bottom" title="crear producto" style="height: 100%; width: 100%">
                        </div>
                    </div>
                </div-->
                <div class="body" id="list">
                    <div class="search" ng-hide="CrearArchivo">
                        Buscar: <input type="text"  ng-model="filt"> 
                    </div>
                    <div class="dropdown" ng-hide="CrearArchivo || filt">
                        <p ng-show="CatType=='PT'">Producto</p>
                        <p ng-show="CatType=='MP'">Materia</p>
                        <p ng-show="CatType=='EN'">Envase</p>
                        <p ng-show="CatType=='ET'">Etiqueta</p>
                        <p ng-show="CatType=='TP'">Tapa</p>
                        <img src="https://image.flaticon.com/icons/svg/120/120906.svg">
                        <div id="optionsDropdown">
                            <div class="btn-group-vertical" style="width: 100%">
                                <button type="button" class="btn btn-default btn-block" ng-click="colleccionfilter('PT')">Producto</button>
                                <button type="button" class="btn btn-default btn-block" ng-click="colleccionfilter('MP')">Materia Prima</button>
                                <button type="button" class="btn btn-default btn-block" ng-click="colleccionfilter('ET')">Etiqueta</button>
                                <button type="button" class="btn btn-default btn-block" ng-click="colleccionfilter('EN')">Envase</button>
                                <button type="button" class="btn btn-default btn-block" ng-click="colleccionfilter('TP')">Tapas</button>
                            </div>
                            <!--p>cambiar</p>
                            <div class="btn-group-vertical" style="width: 100%">
                                <button type="button" class="btn btn-default btn-block" ng-click="ChangCat(col,'PT')">cambiar {{col}} a Producto</button>
                                <button type="button" class="btn btn-default btn-block" ng-click="ChangCat(col,'MP')">cambiar {{col}} a Materia Prima</button>
                                <button type="button" class="btn btn-default btn-block" ng-click="ChangCat(col,'ET')">cambiar {{col}} a Etiqueta</button>
                                <button type="button" class="btn btn-default btn-block" ng-click="ChangCat(col,'EN')">cambiar {{col}} a Envase</button>
                                <button type="button" class="btn btn-default btn-block" ng-click="ChangCat(col,'TP')">cambiar {{col}} a Tapas</button>
                            </div--> 

                        </div>
                    </div>
                    <div class="dropdown" id="coleccion" ng-hide="CrearArchivo || filt">
                        {{col}}
                        <img src="https://image.flaticon.com/icons/svg/120/120906.svg">
                        <div id="optionsDropdown">
                            <div class="btn-group-vertical" style="width: 100%">
                                <button type="button" class="btn btn-default btn-block" ng-repeat="x in keys | filter:{tipo:CatType}" ng-click="chgColeccition(x.nombre)">{{x.nombre}}</option>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown" ng-show="CrearArchivo" ng-click="AceptarTodo()">
                        Aceptar Todo
                    </div>
                    <div class="dropdown" id="coleccion" ng-show="CrearArchivo" ng-click="CrearArchivo=false;init();reset()">
                        cancelar
                    </div>
                    <div class="row" id="dash">
                        <table ng-hide="CrearArchivo || inventario[col].length==0 || filt!='' || ShowAll" id="InvData">
                            <thead>
                                <tr>
                                    <th ng-click="order='codigo'">Codigo</th>
                                    <th ng-click="order='nombre'">Producto</th>
                                    <th ng-click="order='precio'">Precio</th>
                                    <th ng-click="order='cantidad'">Disponible</th>
                                    <th ng-show="CatType=='PT'">Catalogo</th>
                                    <th ng-hide="CatType=='PT'"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="y in inventario[col] | filter: y.codigo=filt | filter: y.nombre=filt | orderBy: order" ng-init="order=''" >
                                    <td ng-click="editar(y,col,$index)" data-toggle="modal" data-target="#myModal">{{y.codigo}}</td>
                                    <td ng-click="editar(y,col,$index)" data-toggle="modal" data-target="#myModal">{{y.nombre}}</td>
                                    <td ng-show="y.Dolares" ng-click="editar(y,col,$index)" data-toggle="modal" data-target="#myModal">${{y.precio | filterDigits:3}}</td>
                                    <td ng-hide="y.Dolares" ng-click="editar(y,col,$index)" data-toggle="modal" data-target="#myModal">₡{{y.precio | filterDigits:3}}</td>
                                    <td ng-click="editar(y,col,$index)" data-toggle="modal" data-target="#myModal">{{y.cantidad | filterDigits:2}}</td>
                                    <td ng-show="y.Incatalogo && CatType=='PT'">Si</td>
                                    <td ng-show="!y.Incatalogo && CatType=='PT'">No</td>
                                    <td ng-hide="CatType=='PT'" data-toggle="tooltip" title={{y.descripcion}}>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button ng-show="!CrearArchivo && inventario[col].length==0" class="btn btn-block btn-primary" ng-click="eliminarCat()">Eliminar categoria {{col}}</button>
                        <table ng-show="CrearArchivo" id="TableCreate">
                            <thead>
                                <tr>
                                    <th>Familia</th>
                                    <th>Producto</th>
                                    <th>codigo</th>
                                    <th>Precio</th>
                                    <th>Unidad</th>
                                    <th>Stock</th>
                                    <th>contenido</th>
                                    <th>Accion</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in ElementosArchivo">
                                    <td>{{x.Familia}}</td>
                                    <td>{{x.Producto}}</td>
                                    <td>{{x.codigo}}</td>
                                    <td ng-show="x.Dolares">${{x.Precio}}</td>
                                    <td ng-hide="x.Dolares">₡{{x.Precio}}</td>
                                    <td>{{x.unidad}}</td>
                                    <td>{{x.cantidad}}</td>
                                    <td>{{x.contenidoNeto}}</td>
                                    <td ng-show="x.err==0" style="cursor:pointer;background-color:yellow;color: rgb(61, 61, 61)" ng-click="editarArchivo($index)">Editar</td>
                                    <td ng-show="x.err==1" style="cursor:pointer;background-color:green;color: white" ng-click="crearCat($index)">Crear Categoria</td>
                                    <td ng-show="x.err==2" style="cursor:pointer;background-color:yellowgreen;color: white" ng-click="crearArchivo($index)">Crear Producto</td>
                                    <td style="cursor:pointer;background-color:red;color: white" ng-click="descartar($index)">Descartar</td>
                                </tr>
                            </tbody>
                        </table>
                        <table ng-show="filt != '' || ShowAll">
                            <thead>
                                <tr>
                                    <th ng-click="order='codigo'">codigo</th>
                                    <th ng-click="order='nombre'">Producto</th>
                                    <th ng-click="order='precio'">Precio</th>
                                    <th ng-click="order='cantidad'">Disponible</th>
                                    <th ng-show="CatType=='PT'">Catalogo</th>
                                    <th ng-hide="CatType=='PT'"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="y in AllInvt | filter: y.codigo=filt | filter: y.nombre=filt | orderBy: order" ng-init="order" >
                                    <td ng-click="editar(y,col,$index)" data-toggle="modal" data-target="#myModal">{{y.codigo}}</td>
                                    <td ng-click="editar(y,col,$index)" data-toggle="modal" data-target="#myModal">{{y.nombre}}</td>
                                    <td ng-show="y.Dolares" ng-click="editar(y,col,$index)" data-toggle="modal" data-target="#myModal">${{y.precio | filterDigits:3}}</td>
                                    <td ng-hide="y.Dolares" ng-click="editar(y,col,$index)" data-toggle="modal" data-target="#myModal">₡{{y.precio | filterDigits:3}}</td>
                                    <td ng-click="editar(y,col,$index)" data-toggle="modal" data-target="#myModal">{{y.cantidad | filterDigits:2}}</td>
                                    <td ng-show="y.Incatalogo && CatType=='PT'">Si
                                        
    
                                    </td>
                                    <td ng-show="!y.Incatalogo && CatType=='PT'">No
                                        
    
                                    </td>
                                    <td ng-hide="CatType=='PT'" data-toggle="tooltip" title={{y.descripcion}}>
                          
                                    </td>
                                </tr>
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
            <button ng-show="false" class="modalActive" data-toggle="modal" data-target="#myModal"></button>
        </div>

        <!-- Trigger the modal with a button -->
        <!--p  data-toggle="modal" data-target="#myModal">abrir modal</p-->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 ng-show="objeto && !edit" class="modal-title">Agregar inventario</h4>
                        <h4 ng-show="edit" class="modal-title">Editar</h4>
                        <h4 ng-show="catl" class="modal-title">Agregar al Catalogo</h4>
                        <h4 ng-show="colc" class="modal-title">Crear nueva familia</h4>
                        <h4 ng-show="loadData && barsize.width!='100%'" class="modal-title"> Cargando</h4>
                        <h4 ng-show="loadData && barsize.width=='100%'" class="modal-title"> Informacion cargada</h4>
                    </div>
                    <div class="modal-body" style="overflow: auto">
                        <div ng-show='colc'>
                            <div id="espace">
                                tipo de coleccion:<select ng-model="CatType" id="WhiteSelect"  ng-change="colleccionfilter(CatType)">
                                    <option value="PT">Producto Terminado</option>
                                    <option value="MP">Materia Prima</option>
                                    <option value="ET">Etiqueta</option>
                                    <option value="EN">Envase</option>
                                    <option value="TP">Tapas</option>
                                </select>
                            </div>
                            
                            <div class="btn-group" id="espace">
                                <button type="button" class="btn btn-default" ng-click="Asignar=true">Asignar una coleccion</button>
                                <button type="button" class="btn btn-default" ng-click="Asignar=false">Crear una coleccion</button>
                            </div>
                            <div ng-show="Asignar" id="espace">
                                
                                <p ng-hide="edit">coleccion: <select ng-model="colleccion" id="WhiteSelect">
                                    <option ng-repeat="x in keys | filter:{tipo:CatType}" value="{{x.nombre}}">{{x.nombre}}</option>
                                </select></p>
                            </div>
                            <div ng-hide="Asignar" id="espace">
                                <p>Nueva coleccion:<input type="text" ng-model="nombre"></p>
                            </div>
                        </div>
                        <div ng-show='objeto'>
                            <div class="row" ng-show="edit">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="modalImg">
                                    <img src="/assets/img/{{empresa}}/{{idobject}}.jpeg" onerror="this.src='https://www.tryngo.ch/img/no-img.jpg'" style="max-width: 100%; max-height: 50%">
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="modalDash">
                                    <p>coleccion: {{colleccion}}</p>
                        
                                    <!--button type="button" class="btn btn-success btn-sm" ng-click="page(null,0)">crear nueva coleccion</button-->
                                        
                                    <p>nombre:<input  type="text" ng-model="nombre"></p>
                                    <p id="line">codigo:<input type="text" ng-model="codigo"></p>
                                    <p id="line">precio:<input type="number" ng-model="precio"></p>
                                    
                                    <p id="line" ng-hide="CatType=='PT'">cantidad:<input type="number" ng-model="cantidad" id="small"> 
                                        unid:<select ng-model="unidad">
                                        <option value="KG">Kilogramos</option>
                                        <option value="G">Gramos</option>
                                        <option value="MG">Miliramos</option>
                                        <option value="Oz">Onzas</option>
                                        <option value="L">Litros</option>
                                        <option value="ML">Mililitros</option>
                                        <option value="GL">Galon</option>
                                        <option value="U">Unidad</option>
                                        <option value="M">Millar</option>
                                        <option value="Sc">sacos</option>
                                    </select></p>
                                    <p id="line">
                                        min:<input type="number" ng-model="TrgMin" id="small">
                                        max:<input type="number" ng-model="TrgMax" id="small">
                                        <button id="line" class="btn btn-info" style="width: 40%; height: 100%; padding: 0; float: right" ng-click="SetMinMax()">Establecer</button>
                                    </p>
                                    <p id="line">
                                        Puntos del producto:<input type="number" id="small" ng-model="puntos">
                                    </p>
                                    <!--button id="line" class="btn btn-info btn-block">Editar el maximo y el minimo</button-->
                                    <p ng-show="CatType=='PT'" id="line">cantidad disponible:<input type="number" id="small" ng-model="cantidad"> </p>
                                    <p  ng-show="CatType=='PT'">contenido neto<input type="number" ng-model="Contenido" >
                                    </p><p id="line">    Unid:<select ng-model="unidad">
                                        <option value="KG">Kilogramos</option>
                                        <option value="G">Gramos</option>
                                        <option value="MG">Miliramos</option>
                                        <option value="Oz">Onzas</option>
                                        <option value="L">Litros</option>
                                        <option value="ML">Mililitros</option>
                                        <option value="GL">Galon</option>
                                        <option value="U">Unidad</option>
                                        <option value="M">Millar</option>
                                        <option value="Sc">sacos</option>
                                    </select></p>
                                    <p ng-show="unidad=='L' || unidad == 'ML' || unidad == 'GL'" id="line">Densidad:<input type="number" ng-model="convertionFac"></p>
                                    <p ng-show="unidad=='U' || unidad == 'M' || unidad == 'Sc'" id="line">Peso:<input type="number" ng-model="convertionFac"></p>

                                    <!--p>Imagen:</p>  <input type="file" name="file" uploader-model="file"/-->
                                    <div class="image-upload" id="line">
                                        <label for="file-input" style="width: 100%">
                                            <div class="btn btn-default btn-block">Subir Imagen</div>
                                        </label>
                                        <input id="file-input" type="file" name="file" uploader-model="file"/>
                                    </div>
                                    <p id="line">Descripcion del producto: </p><textarea ng-model="description" cols="30" rows = "5" ></textarea>
                                    <div id="checkboxModal">
                                        <ul>
                                            <li>Exento <input type="checkbox" ng-model="Execento"></li>
                                            <li>Precio en dolares<input type="checkbox" ng-model="dolares"></li>
                                            <li ng-show="edit">En el catalogo <input type="checkbox" ng-model="Incatalogo"></li>
                                        </ul>
                                    </div>                       
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="modalProv">
                                    <select ng-model="newProv">
                                        <option ng-repeat="x in Distribuidores">{{x}}</option>
                                    </select>
                                    <button class="btn btn-success" ng-disabled="!newProv" ng-click="AddProve()">Agregar</button>
                                    Crear Nuevo distribuidor:<input type="text" ng-model="NewDistr"><button ng-click="crearDist(NewDistr)">Crear</button>
                                    
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="x in dist">{{x}}
                                            <img src="https://image.flaticon.com/icons/svg/395/395848.svg" style="float: right;height: 20px" ng-click="removeDist($index)">
                                        </li>
                                    </ul>
                                    <h2>Lotes</h2>
                                    <div id="log">
                                        <ul class="list-group">
                                            <li class="list-group-item" ng-repeat="x in lotes">Lote:{{x.Numero}}--cantidad:{{x.cantidad}}--Factura:{{x.factura}}</li>
                                        </ul>  
                                    </div>
                                    <h2>Registro de actividad</h2>
                                        
                                    <div id="log">
                                        <ul class="list-group">
                                            <li class="list-group-item" ng-repeat="x in regs | filter:{'info':nombre}" ng-click="windowalrt(x.info)">
                                                {{x.fecha | date:'shortDate'}}--{{x.tipo}}
                                            </li>
                                        </ul>
                                    </div>       
                                </div>
                            </div>
                            <div class="row" ng-hide="edit">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <p>coleccion: {{colleccion}}</p>
                        
                                    <!--button type="button" class="btn btn-success btn-sm" ng-click="page(null,0)">crear nueva coleccion</button-->
                                        
                                    <p>nombre:<input  type="text" ng-model="nombre"></p>
                                    <p>codigo:<input type="text" ng-model="codigo"></p>
                                    <p>precio:<input type="number" min="0" ng-model="precio"></p>
                                    <p>cantidad:<input type="number" min="0" ng-model="cantidad">
                                    </select></p>
                                    <p id="line" ng-show="CatType=='PT'">contenido neto<input type="number" ng-model="Contenido" id="small"> unid:<select ng-model="unidad">
                                        <option value="KG">Kilogramos</option>
                                        <option value="G">Gramos</option>
                                        <option value="MG">Miliramos</option>
                                        <option value="Oz">Onzas</option>
                                        <option value="L">Litros</option>
                                        <option value="ML">Mililitros</option>
                                        <option value="GL">Galon</option>
                                        <option value="U">Unidad</option>
                                        <option value="M">Millar</option>
                                        <option value="Sc">sacos</option>
                                    </select>
                                    <p ng-show="unidad=='L' || unidad == 'ML' || unidad == 'GL'" id="line">Densidad:<input type="number" ng-model="convertionFac"></p>
                                    <p ng-show="unidad=='U' || unidad == 'M' || unidad == 'Sc'" id="line">Peso:<input type="number" ng-model="convertionFac"></p>
                                    <p id="line">
                                        min:<input type="number" ng-model="TrgMin" id="small">
                                        max:<input type="number" ng-model="TrgMax" id="small">
                                        <!--button id="line" class="btn btn-info" style="width: 40%; height: 100%; padding: 0; float: right" ng-click="SetMinMax()">Establecer</button-->
                                    </p>
                                    <p>Imagen:</p>  <input type="file" name="file" uploader-model="file"/>
                                    <p>Descripcion del producto: </p><textarea ng-model="description" cols="30" rows = "5" ></textarea>
                                    <p>Exento de impuesto: <input type="checkbox" ng-model="Execento"></p>
                                    <p>Precio en dolares:<input type="checkbox" ng-model="dolares"></p>
                                    <p ng-show="edit">En el catalogo: <input type="checkbox" ng-model="Incatalogo"></p>
                                    
                                </div>
                            </div>
                        </div>
                        <div ng-show="catl">
                            <p>Objeto a agregar: <select ng-model="objet" style="height: 3%">
                                <option ng-repeat="x in ObtWcat" value="{{x._id}}">{{x.nombre}}</option>
                            </select></p>
                            <p>Descripcion del producto: </p><textarea ng-model="description" cols="40" rows = "5" ></textarea>
                            <p>Imagen:</p>  <input type="file" name="file" uploader-model="file"/>
                        </div>
                        <div ng-show="resv">
                            <h3>{{objRev}}</h3>
                            <table>
                                <tr>
                                    <th>cliente</th>
                                    <th>cantidad</th>
                                    <th>entregado</th>
                                </tr>
                                <tr ng-repeat="x in resvObj">
                                    <td>{{x.Ncliente}}</td>
                                    <td>{{x.cantidad}}</td>
                                    <td>{{x.entregado}}</td>
                                </tr>
                            </table>
                        </div>
                        <div ng-show="msg">
                            <h2>Desea agregar al catalogo el objeto creado</h2>
                        </div>
                        <div ng-show="loadData">
                            <div id="myProgress" style="width: 100%;background-color: grey;">
                                <div id="myBar" ng-style="barsize"></div>
                            </div>
                            Nombre del archivo:<input type="text" ng-model="filename" ng-init="filename='Reporte de inventario'">
                        </div>
                        <div ng-show="SendArchivo">
                            <p ng-show="!confirmSend">El Archivo contiene {{DataArchivo.length}} objetos</p>
                            <p ng-show="!confirmSend">Desea actualizar todos los datos del archivo</p>
                            <p ng-show="confirmSend">Enviando</p>
                            <div ng-show="confirmSend" id="myProgress" style="width: 100%;background-color: grey;">
                                <div id="myBar" ng-style="barsize"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div ng-show="msg">
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="precrear(0)">No</button>
                                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="precrear(1)">Si</button>
                            </div>
                        </div>
                        <button ng-show="colc && !Asignar" type="button" class="btn btn-success btn-sm" ng-click="set()" ng-disabled="!nombre">crear nueva coleccion</button>
                        <button ng-show="colc && Asignar" type="button" class="btn btn-default" ng-click="page(colleccion,1)">Siguiente</button>
                        <button ng-show="edit" type="button" class="btn btn-success" data-dismiss="modal" ng-click="set()">editar</button>
                        <button ng-show="edit" type="button" class="btn btn-danger" data-dismiss="modal" ng-click="eliminarItem(idobject)" style="float: left">Eliminar del inventario</button>
                        <button ng-show="objeto && !edit" type="button" class="btn btn-default" ng-click="page(null,4)">Siguiente</button>
                        
                        <div class="btn-group">
                            <button ng-show="loadData" ng-disabled="barsize.width!='100%'" type="button" class="btn btn-default" ng-json-export-excel data="AllDataPT" report-fields="reportfields" filename="filename+'PT'" separator=";" class="css-class">Descargar Producto terminado</button>
                            <button ng-show="loadData" ng-disabled="barsize.width!='100%'" type="button" class="btn btn-default" ng-json-export-excel data="AllDataMP" report-fields="reportfields" filename="filename+'MP'" separator=";" class="css-class">Descargar Materia prima</button>
                            <button ng-show="loadData" ng-disabled="barsize.width!='100%'" type="button" class="btn btn-default" ng-json-export-excel data="AllDataEN" report-fields="reportfields" filename="filename+'EN'" separator=";" class="css-class">Descargar Envases</button>
                            <button ng-show="loadData" ng-disabled="barsize.width!='100%'" type="button" class="btn btn-default" ng-json-export-excel data="AllDataET" report-fields="reportfields" filename="filename+'ET'" separator=";" class="css-class">Descargar Etiquetas</button>
                            <button ng-show="loadData" ng-disabled="barsize.width!='100%'" type="button" class="btn btn-default" ng-json-export-excel data="AllDataTP" report-fields="reportfields" filename="filename+'TP'" separator=";" class="css-class">Descargar Tapas</button>
                        </div>
                        
                        
                        <div class="btn-group" ng-show="SendArchivo && !confirmSend">
                            <button type="button" class="btn btn-default" ng-click="EditFile(0)">Enviar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav ng-scope") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav ng-scope";
                }
            }
        </script>
    </body>
</html>
