<!<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <script src="/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet"  type="text/css" href="/empresa/assets/css/dash2.css">
        <link rel="stylesheet"  type="text/css" href="/assets/css/table.css">
        <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">

        <!--controllers-->
        <script src="/assets/controllers/app.js"></script>
        <script src="/empresa/assets/controller/clientes.js"></script>
    </head>
    <body ng-app="app" ng-controller="clientes">
        <div class="top" ng-include="'/empresa/assets/htmls/Top_bar2.html'"></div>
        <div class="body">
            <div class="sidebar">
                <ul>
                    <li><a href="/empresa/">home</a></li>
                    <li ng-show="landing"><a data-toggle="modal" data-target="#myModal"  ng-click="init()">crear usuarios</a></li>
                    <li><a href="/empresa/assets/htmls/clientes.html">Clientes</a></li>
                    <li><a href="/empresa/assets/htmls/reportes.html">Reportes</a></li>
                    <li><a href="/empresa/assets/htmls/inventario.html">inventario</a></li>
                    <li><a href="/empresa/assets/htmls/catalogo.html">catalogo</a></li>
                    <li><a href="/empresa/assets/htmls/facturas.html">facturas</a></li>
                </ul>
            </div>
            <div class="workspace">
                <div class="row">
                    <div class="col-sm-4">
                        <h3>Empleados
                        <span class="badge badge-secondary">{{users.length}}</span></h3>
                    </div>
                    <div class="col-sm-4">
                        <h3>inventario</h3>
                        <span class="badge">{{inventario}}</span>
                    </div>
                    <div class="col-sm-4">
                        <h3>clientes</h3>
                        <span class="badge">{{clientes.length}}</span>
                    </div>
                </div>
                <div class="row">
                    
                </div>
                <div class="row">
                    <div class="col-sm-4" id="distancia">
                    </div>
                    <div class="col-sm-4" id="velocidad">
                    </div>
                    <div class="col-sm-4" id="bateria">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-11">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="mensajes">{{x}}</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>

        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav ng-scope") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav ng-scope";
                }
            }
        </script>
    </body>
</html>