<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />
        <!--higcharts-->
        <script src="https://code.highcharts.com/highcharts.js"></script>

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet"  type="text/css" href="/assets/css/top-bar.css">
        <link rel="stylesheet"  type="text/css" href="/assets/css/dash.css">
        <link rel="stylesheet"  type="text/css" href="/assets/css/table.css">
        <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">

        <style>
            h3#MensajesTop {
                text-align: center;
            }

            .subdiv {
                width: 100%;
                background-color: rgb(128, 128, 128);
                color: white;
                text-align: center;
                height: 4%
            }

            .infoData {
                cursor: pointer;
                width: 100%;
            }

            .infoData:hover{
                background-color: rgb(230, 230, 230)
            }
        </style>

        <!--controllers-->
        <script src="/assets/controllers/app.js"></script>
        <script src="/empresa/assets/controller/Mensajes.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
        <script src="/assets/constants/links_empresa.js"></script>
    </head>

    <body ng-app="app" ng-controller="Mensajes" ng-class="{'show':show}">
        <div class="top" ng-include="'/assets/htmls/Top_bar.html'" ng-class="{'show':show}"></div>
        <div class="body">
            <div class="sidebar">
                <div class="botton" ng-click="show=!show">
                    <img ng-hide="show" src="https://image.flaticon.com/icons/svg/118/118740.svg" height="200px">
                    <img ng-show="show" src="https://image.flaticon.com/icons/svg/126/126492.svg">
                </div>
                <div class="body">
                    <!--ul class="list-group">
                        <li class="list-group-item" ng-repeat="x in meses" ng-click="crearDias($index)">{{x}}</li>
                    </ul-->
                    
                    <div class="row"  ng-repeat="x in links" ng-click="goto(2,x.link)">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" id="icons">
                            <img src={{x.icon}}>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                            <h3>{{x.text}}</h3>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="workspace">
                <div class="top" id="tooltip">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-click="select='recividos'">Recibidos</button>
                                <button type="button" class="btn btn-default" ng-click="select='enviados'">Enviados</button>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            
                        </div>
                        <!--div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right" ng-click="select='enviados'">
                            <img src="https://image.flaticon.com/icons/svg/71/71746.svg" data-toggle="tooltip" data-placement="bottom" title="Mensajes enviados" style="height: 100%; width: 100%" >
                        </div-->
                        <!--div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right"  ng-click="select='nuevos'">
                            <img src="https://image.flaticon.com/icons/svg/131/131154.svg" data-toggle="tooltip" data-placement="bottom" title="Mensajes recividos" style="height: 100%; width: 100%">
                        </div-->
                        <!--div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right"  ng-click="select='leidos'">
                            <img src="https://image.flaticon.com/icons/svg/1034/1034133.svg" data-toggle="tooltip" data-placement="bottom" title="Mensajes leidos" style="height: 100%; width: 100%">
                        </div-->
                    </div>
                </div>
                <div class="body">
                    <div ng-show="select=='recividos'">
                        <div ng-show="Mensajes['leidos'].length==0 && Mensajes['nuevos'].length==0">
                            <h3 id="MensajesTop">No hay mensajes nuevos</h3>
                        </div>
                        <div ng-hide="Mensajes['leidos'].length==0 && Mensajes['nuevos'].length==0">
                            <div class="row subdiv">no leidos</div>
                            <div class="row infoData" ng-repeat="x in Mensajes['nuevos'].data">
                                <h3>{{x.asunto}}</h3>
                                <h4 style="float: right">{{allUsers[x.envia]}}</h4>
                            </div>
                            <div class="row subdiv">leidos</div>
                            <div class="row infoData" ng-repeat="x in Mensajes['leidos'].data">
                                <h3>{{x.asunto}}</h3>
                                <h4>{{x}}</h4>
                            </div>
                        </div>
                    </div>
                    <div ng-show="select=='enviados'">
                        <div ng-show="Mensajes['enviados'].data.length==0">
                            <h3 id="MensajesTop">No hay mensajes nuevos</h3>
                        </div>
                        <div ng-hide="Mensajes['enviados'].data.length==0">
                            <div class="row subdiv">Enviados</div>
                            <div class="row infoData" ng-repeat="x in Mensajes['enviados'].data" data-toggle="modal" data-target="#myModal" ng-click="changemodal(x)">
                                <h3>
                                    {{x.asunto}}
                                    <h4>para: {{allUsers[x.para]}}</h4>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Trigger the modal with a button -->
        <!--p  data-toggle="modal" data-target="#myModal">texto</p-->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2>asunto: {{selectMesaj.asunto}}</h2>
                    </div>
                    <div class="modal-body">
                        <h3>para:{{allUsers[selectMesaj.para]}}</h3>
                        <h5>mensaje:{{selectMesaj.mensaje}}</h5>
                    </div>
                    <div class="modal-footer">
                        
                    </div>
                </div>
            </div>
        </div>

        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav ng-scope") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav ng-scope";
                }
            }
        </script>
    </body>
</html>
