<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />
        <!--higcharts-->
        <script src="https://code.highcharts.com/highcharts.js"></script>

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
        <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">

        <style>
            select{
                height: 10%;
                width: 100%;
                background-color: white;
            }
            
            table{
                width: 100%
            }

            td{
                border: var(--line-spec-solid-2);
                padding: 5px;
                height: 50px;
                background-color: white
            }
        </style>

        <!--controllers-->
        <script src="/assets/controllers/app.js"></script>
        <script src="/empresa/assets/controller/viewQR.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
        <script src="/assets/constants/links_empresa.js"></script>
    </head>

    <body ng-app="app" ng-controller="view">
        <h2>Seleccione el cliente</h2><select ng-model="client" ng-change="selectCln()">
            <option ng-repeat="x in clientes | orderBy: 'codigo'" value="{{x}}">{{x.codigo}}--{{x.nombre}}</option>
        </select>

        
        <p>Usuario</p><select ng-model="user">
            <option ng-repeat="x in puntos" value="{{$index}}">{{x.dependiente}}</option>
        </select>
        <button class="btn btn-secundary btn-block" ng-click="AgregarDependiente()" ng-disabled="client==undefined">Agregar dependiente</button>

        <table>
            <tr>
                <td>Dependiente</td>
                <td>Correo</td>
                <td>Puntos</td>
            </tr>
            <tr>
                <td>{{puntos[user].dependiente}}</td>
                <td>{{puntos[user].correo}}</td>
                <td>{{puntos[user].cantidad}}</td>
            </tr>
        </table>    

        <button class="btn btn-success btn-block" ng-click="autorizar()" ng-disabled="user==undefined">Autorizar puntos</button>
    </body>
</html>