<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>

        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

    

        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
        <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/select.css">

        <style>
            body{
                background-color: white
            }

           table {
               width: 100%
           }

           td {
               width: 25%;
               padding: 10;
               border: var(--line-spec)
           }

            h4#titule{
                padding: 20;
                border-top: var(--line-spec-solid-2);
            }

            tr#BigFont{
                background-color: var(--gray-white-50);
            }

            input{
                width: 100px;
                border: none;
                background-color: transparent;
                border-bottom: var(--line-spec-solid-2);
            }
        </style>
        <!--controllers-->
        <script src="/assets/controllers/app.js"></script>
        <script src="/empresa/assets/controller/ReverseCostos.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
        <script src="/assets/constants/links_empresa.js"></script>
    </head>

    <body ng-app="app" ng-controller="view">
        <h2>Fecha en la que se realiza {{fecha| date:'short'}}</h2>
        <div>
            <table>
                <tr>
                    <td>Cod.</td>
                    <td>Producto</td>
                    <td>Presentacion</td>
                    <td>Tamaño de tanda</td>
                    <td>Precio Recomendado</td>
                    <td>Valor de dolar</td>
                </tr>
                <tr>
                    <td>{{AllData.producto.codigo}}</td>
                    <td>{{AllData.nombre}}</td>
                    <td>{{AllData.producto.contenidoNeto}}{{AllData.producto.unidad}}</td>
                    <td>{{AllData.size | filterDigits:0}} Kg</td>
                    <td>${{AllData.calculos.PF | filterDigits:2}}</td>
                    <td>{{AllData.Dolar}}</td>
                </tr>
            </table>
            <!--h2>Precio final a evaluar (sin impuestos)</h2>
            $<input type="number" ng-model="PF" ng-change="calcular()"-->
            <!--button ng-show="Dol" data-ng-click="Dol=false;">Dolares</button>
            <button ng-hide="Dol" data-ng-click="Dol=true;">colones</button-->

            <div style="padding: 5">
                <h2>Analisis de costos</h2>
                <h4 id="titule">Precio de fabrica</h4>
                <table>
                    <tr id="titule">
                        <td>Rubro</td>
                        <td>Precio calculado</td>
                        <td>Precio sugerido</td>
                        <td>Diferencia</td>
                    </tr>
                    <tr>
                        <td>Precio costo fabrica</td>
                        <td>${{AllData.calculos.PCF | filterDigits:2}}
                            /₡{{AllData.calculos.PCF*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{AllData.calculos.PCF | filterDigits:2}}
                            /₡{{AllData.calculos.PCF*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{0 | filterDigits:2}}
                            /₡{{0 | filterDigits:2}}
                        </td>
                    </tr>
                    <tr>
                        <td>Utilidad de venta de fabrica {{AllData.extras.fabrica.utilidad}}%</td>
                        <td>
                            ${{AllData.calculos.VFU | filterDigits:2}} 
                            /₡{{AllData.calculos.VFU*AllData.Dolar | filterDigits:2}} 
                        </td>
                        <td>
                            ${{UF | filterDigits:2}}
                            /₡{{UF*AllData.Dolar | filterDigits:2}} [{{U2*100 | filterDigits:2}}]%
                        </td>
                        <td>
                            ${{UF-AllData.calculos.VFU | filterDigits:2}}
                            /₡{{(UF-AllData.calculos.VFU)*AllData.Dolar | filterDigits:2}}
                        </td>
                    </tr>
                    <tr>
                        <td>Impuesto de consumo {{AllData.extras.fabrica.impuesto}}%</td>
                        <td>
                            ${{AllData.calculos.VFI | filterDigits:2}}
                            /₡{{AllData.calculos.VFI*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{IF | filterDigits:2}}
                            /₡{{IF*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{IF-AllData.calculos.VFI | filterDigits:2}}
                            /₡{{(IF-AllData.calculos.VFI)*AllData.Dolar | filterDigits:2}}
                        </td>
                    </tr>
                    <tr id="BigFont">
                        <td>Precio venta de fabrica</td>
                        <td>
                            ${{AllData.calculos.PVF | filterDigits:2}}
                            /₡{{AllData.calculos.PVF*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{PVF | filterDigits:2}}
                            /₡{{PVF*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{PVF-AllData.calculos.PVF | filterDigits:2}}
                            /₡{{(PVF-AllData.calculos.PVF)*AllData.Dolar | filterDigits:2}}
                        </td>
                    </tr>
                </table>
                <h4 id="titule">Precio de distribuidor</h4>
                <table>
                    <tr id="BigFont">
                        <td>Precio de compra del distribuidor</td>
                        <td>
                            ${{AllData.calculos.PVF | filterDigits:2}}
                            /₡{{AllData.calculos.PVF*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{PVF | filterDigits:2}}
                            /₡{{PVF*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{PVF-AllData.calculos.PVF | filterDigits:2}}
                            /₡{{(PVF-AllData.calculos.PVF)*AllData.Dolar | filterDigits:2}}
                        </td>
                    </tr>
                    <tr>
                        <td>Otros Gastos</td>
                        <td>
                            ${{AllData.extras.distribuidor.gasto | filterDigits:2}}
                            /₡${{AllData.extras.distribuidor.gasto*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{AllData.extras.distribuidor.gasto | filterDigits:2}}
                            /₡{{AllData.extras.distribuidor.gasto*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            $0/₡0
                        </td>
                    </tr>
                    <tr>
                        <td>Utilidad del distribuidor {{AllData.extras.distribuidor.utilidad}}%</td>
                        <td>
                            ${{AllData.calculos.DU | filterDigits:2}}
                            /₡{{AllData.calculos.DU*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{DU | filterDigits:2}}
                            /₡{{DU*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{DU-AllData.calculos.DU | filterDigits:2}}
                            /₡{{(DU-AllData.calculos.DU)*AllData.Dolar | filterDigits:2}}
                        </td>
                    </tr>
                    <tr id="BigFont">
                        <td>Precio sin comision</td>
                        <td>
                            ${{AllData.calculos.PVF+AllData.extras.distribuidor.gasto+AllData.calculos.DU | filterDigits:2}}
                            /₡{{(AllData.calculos.PVF+AllData.extras.distribuidor.gasto+AllData.calculos.DU)*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{DPV | filterDigits:2}}
                            /₡{{DPV*AllData.Dolar| filterDigits:2}}
                        </td>
                        <td>
                            ${{(DPV-(AllData.calculos.PVF+AllData.extras.distribuidor.gasto+AllData.calculos.DU)) | filterDigits:2}}
                            /₡{{(DPV-(AllData.calculos.PVF+AllData.extras.distribuidor.gasto+AllData.calculos.DU))*AllData.Dolar | filterDigits:2}}
                        </td>
                    </tr>
                    <tr>
                        <td>Comision del agente {{AllData.extras.distribuidor.comision}}%</td>
                        <td>
                            ${{AllData.calculos.DC | filterDigits:2}}
                            /₡{{AllData.calculos.DC*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{CD | filterDigits:2}}
                            /₡{{CD*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{CD-AllData.calculos.DC | filterDigits:2}}
                            /₡{{(CD-AllData.calculos.DC)*AllData.Dolar | filterDigits:2}}
                        </td>
                    </tr>
                    <tr id="BigFont">
                        <td>Precio venta de distribuidor</td>
                        <td>
                            ${{AllData.calculos.PVD | filterDigits:2}}
                            /₡{{AllData.calculos.PVD*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{PVD | filterDigits:2}}
                            /₡{{PVD*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{PVD-AllData.calculos.PVD | filterDigits:2}}
                            /₡{{(PVD-AllData.calculos.PVD)*AllData.Dolar | filterDigits:2}}
                        </td>
                    </tr>
                </table>
                <h4 id="titule">Precio de detallista</h4>
                <table>
                    <tr id="BigFont">
                        <td>Precio compra de detallista</td>
                        <td>
                            ${{AllData.calculos.PVD | filterDigits:2}}
                            /₡{{AllData.calculos.PVD*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{PVD | filterDigits:2}}
                            /₡{{PVD*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{PVD-AllData.calculos.PVD | filterDigits:2}}
                            /₡{{(PVD-AllData.calculos.PVD)*AllData.Dolar | filterDigits:2}}
                        </td>
                    </tr>
                    <tr>
                        <td>Utilidad del detallista {{AllData.extras.detallista.utilidad}}%</td>
                        <td>
                            ${{AllData.calculos.DTU | filterDigits:2}}
                            /₡{{AllData.calculos.DTU*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{UD | filterDigits:2}}
                            /₡{{UD*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{UD-AllData.calculos.DTU | filterDigits:2}}
                            /₡{{(UD-AllData.calculos.DTU)*AllData.Dolar | filterDigits:2}}
                        </td>
                    </tr>
                    <tr id="BigFont">
                        <td>Precio sin impuesto</td>
                        <td>
                            ${{AllData.calculos.PF-(AllData.calculos.DTI) | filterDigits:2}}
                            /₡{{(AllData.calculos.PF-(AllData.calculos.DTI))*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{PF-(IVD) | filterDigits:2}}
                            /₡{{(PF-(IVD))*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{(PF-AllData.calculos.PF)-(IVD-AllData.calculos.DTI) | filterDigits:2}}
                            /₡{{((PF-AllData.calculos.PF)-(IVD-AllData.calculos.DTI))*AllData.Dolar | filterDigits:2}}
                        </td>
                    </tr>
                    <tr>
                        <td>Impuesto de ventas del detallista {{AllData.extras.detallista.impuesto}}%</td>
                        <td>
                            ${{AllData.calculos.DTI | filterDigits:2}}
                            /₡{{AllData.calculos.DTI*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{IVD | filterDigits:2}}
                            /₡{{IVD*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            ${{IVD-AllData.calculos.DTI | filterDigits:2}}
                            /₡{{(IVD-AllData.calculos.DTI)*AllData.Dolar | filterDigits:2}}
                        </td>
                    </tr>
                    <tr id="BigFont">
                        <td>Precio venta al publico</td>
                        <td>
                            ${{AllData.calculos.PF | filterDigits:2}}
                            /₡{{AllData.calculos.PF*AllData.Dolar | filterDigits:2}}
                        </td>
                        <td>
                            $<input type="text" ng-model="PF" ng-change="calcularDol()">
                            /$<input type="text" ng-model="PFC" ng-change="precalcular()">
                        </Td>
                        <td>
                            ${{PF-AllData.calculos.PF | filterDigits:2}}
                            /₡{{(PF-AllData.calculos.PF)*AllData.Dolar | filterDigits:2}}
                        </td>
                    </tr>
                </table>
            </div>
            <h2>Precios competencia</h2>
            <table>
                <tr>
                    <td>Competencia</td>
                    <td>Precio</td>
                    <td>Contenido</td>
                    <td>Precio unitario</td>
                </tr>
                <tr>
                    <td>{{AllData.competencia.uno.nombre}} </td>
                    <td>${{AllData.competencia.uno.precio}}</td>
                    <td>{{AllData.competencia.uno.contenidoNeto}}</td>
                    <td>${{AllData.competencia.uno.precio/AllData.competencia.uno.contenidoNeto |filterDigits:2}}</td>
                </tr>
                <tr>
                    <td>{{AllData.competencia.dos.nombre}} </td>
                    <td>${{AllData.competencia.dos.precio}}</td>
                    <td>{{AllData.competencia.dos.contenidoNeto}}</td>
                    <td>${{AllData.competencia.dos.precio/AllData.competencia.dos.contenidoNeto |filterDigits:2}}</td>
                </tr>
                <tr>
                    <td>{{AllData.competencia.tres.nombre}} </td>
                    <td>${{AllData.competencia.tres.precio}}</td>
                    <td>{{AllData.competencia.tres.contenidoNeto}}</td>
                    <td>${{AllData.competencia.tres.precio/AllData.competencia.tres.contenidoNeto |filterDigits:2}}</td>
                </tr>
                    
            </table>
        </div>


        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav ng-scope") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav ng-scope";
                }
            }
        </script>
    </body>
</html>
