<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />
        <!--higcharts-->
        <script src="https://code.highcharts.com/highcharts.js"></script>

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
        <!--link rel="stylesheet"  type="text/css" href="/assets/css/table.css"-->
        <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">

        <style>
            table{
                height: 10%;
                width: 100%;
            }

            table td{
                padding: 5px;
                border: var(--line-spec-solid-2);
                text-align: center
            }
        </style>

        <!--controllers-->
        <script src="/assets/controllers/app.js"></script>
        <script src="/empresa/assets/controller/rutas.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
        <script src="/assets/constants/links_empresa.js"></script>
    </head>

    <body ng-app="app" ng-controller="rutas">
        <div class="head">
            <h1 id="name">
                {{empresa.nombre}}
            </h1>
            <div class="dropdown">
                <img src="https://image.flaticon.com/icons/svg/148/148795.svg">
                <div id="optionsDropdown">

                </div>
            </div>
        </div>
        <div class="body">
            <div class="side" ng-mouseover="styleWork='z-index:-1'" ng-mouseleave="styleWork='z-index:1'">
                <div class="buttons">
                    <div class="button" ng-repeat="x in links" id="{{x.id}}" ng-mouseover="changemenu(x.menu)">
                        <img src="{{x.img}}" >
                    </div>
                </div>
                <div class="menu">
                    <div class="item" ng-repeat="x in menu" ng-click="goto(2,x.link)">
                        <h2>{{x.nombre}}</h2>
                    </div>
                </div>
            </div>
            <div class="workspace" style="{{styleWork}}">
                
                <div class="body">
                    
                </div>
            </div>
        </div>

        <!-- Trigger the modal with a button -->
        <!--p  data-toggle="modal" data-target="#myModal">texto</p-->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                       <div ng-show="modal_page=='salida'" style="width: 100%; text-align: center">
                           <h3>
                               Orednes de produccion sin terminar
                           </h3>
                           <ul class="list-group">
                                <li class="list-group-item row" ng-repeat="x in Seleccionado.prductos">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        {{Nproductos[x.producto].nombre}}
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        {{x.cantidad}}
                                    </div>
                                </li>
                            </ul>
                       </div>
                       <div ng-show="modal_page=='allOnes'">
                           <h3>Ordenes de produccion sin finalizar</h3>
                           <table>
                               <tr>
                                   <th>Numero</th>
                                   <th>Formula</th>
                                   <th>Producto</th>
                                   <th>Cantidad</th>
                                   <th>Prioridad</th>
                               </tr>
                               <tr ng-repeat="x in ord | orderBy:'Prioridad'">
                                    <td>{{x.Numero}}</td>
                                    <td>{{x.Formula}}</td>
                                    <td>{{Nproductos[x.Producto].nombre}}</td>
                                    <td>{{x.Cantidad}}</td>
                                    <td><input ng-model="x.Prioridad" type="number" style="
                                        border:  none;
                                        width: 45px;
                                        border-bottom: var(--line-spec-solid-2);
                                        text-align: center;
                                    "></td>
                               </tr>
                           </table>
                       </div>
                       <div ng-show="modal_page=='AllData'">
                            <table>
                                <tr>
                                    <td>#Orden</td>
                                    <td>Producto</td>
                                    <td>Unidades</td>
                                    <td>Estado</td>
                                </tr>
                                <tr ng-repeat="x in Allord | orderBy:'prioridad'">
                                    <td>{{x.numero}}</td>
                                    <td>{{Nproductos[x.producto].nombre}}</td>
                                    <td>{{x.cantidad}}</td>
                                    <td>
                                        <p ng-show="x.estado==0">Sin iniciar</p>
                                        <p ng-show="x.estado==1">Produciendo</p>
                                        <p ng-show="x.estado==2">Envasando</p>
                                        <p ng-show="x.estado==3">Etiquetando</p>
                                        <p ng-show="x.estado==4">Finalizado</p>
                                        <p ng-show="x.estado==5">Error</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-show="modal_page=='allOnes'" ng-click="actualizarPrioriadades()">Actualizar la prioridad</button>
                        <button ng-show="modal_page=='salida'" type="button" class="btn btn-success" data-dismiss="modal" ng-click="ordenesEstado(3)">Autorizar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav ng-scope") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav ng-scope";
                }
            }
        </script>
    </body>
</html>
