<!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  type="text/css" href="/assets/css/top-bar2.css">
    <script type="text/javascript">
        $(window).on('scroll', function(){
            if($(window).scrollTop()){
               $('nav').addClass('black') 
            }
            else{
                $('nav').removeClass('black')
            }
        })
    </script>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <div class="row">
            <div class="col-sm-3" id="logo">
                <p>{{empresa.nombre}}</p>
            </div>
            <div class="col-sm-6">
                
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-bell"></i></button>
                <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-envelope"></i></button>
                <button type="button" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-user"></i></button>
            </div>
        </div>
    </div>
</body>
</html>