<!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
        $(window).on('scroll', function(){
            if($(window).scrollTop()){
               $('nav').addClass('black') 
            }
            else{
                $('nav').removeClass('black')
            }
        })
    </script>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <nav>
            <div class="Logo">PassArte</div>
            <ul>
                <a ng-show="landing" data-toggle="modal" data-target="#myModal"  ng-click="init()">crear usuarios</a>
                <a href="/empresa/assets/htmls/clientes.html">Clientes</a>
                <a href="/empresa/assets/htmls/reportes.html">Reportes</a>
                <a href="/empresa/assets/htmls/inventario.html">inventario</a>
                <a href="/empresa/assets/htmls/catalogo.html">catalogo</a>
                <a href="/empresa/assets/htmls/facturas.html">facturas</a>
                <a href="/empresa/assets/htmls/editar.html">Editar</a>
                <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
            </ul>
        </nav>
    </div>
</body>
</html>