<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>

        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
        <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/select.css">

        <style>
            body{
                background-color: white
            }

           table {
               width: 100%
           }

           table#tri td{
               width: 33%
           }

           td {
               padding: 10;
               border: var(--line-spec)
           }
           #BigFont{
                font-size: 20px;
                font-weight:bold;
            }

            tr#BigFont{
                font-size: 20px;
                font-weight:bold;
                background-color: var(--gray-white-50);
            }

            h2#titule{
                padding: 20;
                border-top: var(--line-spec-solid-2);
            }
        </style>
        <!--controllers-->
        <script src="/assets/controllers/app.js"></script>
        <script src="/empresa/assets/controller/ViewCostos.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
        <script src="/assets/constants/links_empresa.js"></script>
    </head>

    <body ng-app="app" ng-controller="view">
        <h2 id="titule">Fecha en la que se realiza {{fecha| date:'short'}}</h2>
        <div>
            <table>
                <tr>
                    <td>Producto</td>
                    <td>Presentacion</td>
                </tr>
                <tr>
                    <td>{{AllData.nombre}}</td>
                    <td>{{AllData.presentacion}}</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>Tamaño de tanda</td>
                    <td>Unidades por tanda</td>
                    <td>Valor de dolar</td>
                </tr>
                <tr>
                    <td>{{AllData.size | filterDigits:0}}</td>
                    <td>{{AllData.unidad  | filterDigits:0}}</td>
                    <td>{{AllData.Dolar}}</td>
                </tr>
            </table>
            <h2 id="titule">Fórmula</h2>
            <table>
                <tr>
                    <td>Nombre</td>
                    <td>Porcentaje</td>
                    <td>Peso</td>
                    <td>Precio por unidad($)</td>
                    <td>Total dolares ($)</td>
                    <td>Total colones(₡)</td>
                </tr>
                <tr ng-repeat="x in AllData.materia">
                    <td>{{x.ingrediente}}</td>
                    <td>{{x.porcentaje | filterDigits:2}}%</td>
                    <td>{{x.peso | filterDigits:2}} {{x.unidad}}</td>
                    <td>{{x.precio | filterDigits:2}}</td>
                    <td>{{x.Total | filterDigits:2}}</td>
                    <td>{{x.Total*AllData.Dolar | filterDigits:2}}</td>
                </tr>
                <tr id="BigFont">
                    <td>Total</td>
                    <td>100%</td>
                    <td>{{AllData.size | filterDigits: 2}}</td>
                    <td></td>
                    <td>{{AllData.materiaP | filterDigits:2}}</td>
                    <td>{{AllData.materiaP*AllData.Dolar | filterDigits:2}}</td>
                </tr>
            </table>

            <h2 id="titule">Mano de obra</h2>
            <ul class="list-group">
                <table>
                    <tr>
                        <td>Puesto</td>
                        <td>Costo por hora</td>
                        <td>Cantidad horas</td>
                        <td>Total($)</td>
                        <td>Total(₡)</td>
                    </tr>
                    <tr ng-repeat="x in AllData.manodeObra">
                        <td>{{x.nombre}}</td>
                        <td>{{x.costo}}</td>
                        <td>{{x.cantidad}}</td>
                        <td>{{x.costo*x.cantidad/AllData.Dolar | filterDigits:2}}</td>
                        <td>{{x.costo*x.cantidad | filterDigits:2}}</td>
                       
                    </tr>
                </table>
            </ul>

            <table>
                <tr>
                    <td style="width: 33.33%">Mano de obra</td>
                    <td style="width: 33.33%">${{AllData.costos.manoObra | filterDigits:2}}</td>
                    <td style="width: 33.33%">₡{{AllData.costos.manoObra*AllData.Dolar | filterDigits:2}}</td>
                </tr>
            </table>

            <h2 id="titule">Costos fijos</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <table>
                        <tr>
                            <td style="width: 33.33%">Rubro</td>
                            <td style="width: 33.33%">Costo en dolares</td>
                            <td style="width: 33.33%">Costo en colones</td>
                        </tr>
                    </table>
                </li>
                <li class="list-group-item">
                    <table>
                        <tr>
                            <td style="width: 33.33%">Electricidad</td>
                            <td style="width: 33.33%">${{AllData.costos.electircidad | filterDigits:2}}</td>
                            <td style="width: 33.33%">₡{{AllData.costos.electircidad*AllData.Dolar | filterDigits:2}}</td>
                        </tr>
                    </table>
                </li>
                <li class="list-group-item">
                    <table>
                        <tr>
                            <td style="width: 33.33%">Agua</td>
                            <td style="width: 33.33%">${{AllData.costos.agua | filterDigits:2}}</td>
                            <td style="width: 33.33%">₡{{AllData.costos.agua*AllData.Dolar | filterDigits:2}}</td>
                        </tr>
                    </table>
                </li>
                <li class="list-group-item">
                    <table>
                        <tr>
                            <td style="width: 33.33%">Alquiler</td>
                            <td style="width: 33.33%">${{AllData.costos.alquiler | filterDigits:2}}</td>
                            <td style="width: 33.33%">₡{{AllData.costos.alquiler*AllData.Dolar | filterDigits:2}}</td>
                        </tr>
                    </table>
                </li>
                <li class="list-group-item">
                    <table>
                        <tr>
                            <td style="width: 33.33%">Mano de obra</td>
                            <td style="width: 33.33%">${{AllData.costos.manoObra | filterDigits:2}}</td>
                            <td style="width: 33.33%">₡{{AllData.costos.manoObra*AllData.Dolar | filterDigits:2}}</td>
                        </tr>
                    </table>
                </li>
                <li class="list-group-item">
                    <table id="BigFont">
                        <tr>
                            <td style="width: 33.33%">Total</td>
                            <td style="width: 33.33%">${{AllData.FijosP | filterDigits:2}}</td>
                            <td style="width: 33.33%">₡{{AllData.FijosP*AllData.Dolar | filterDigits:2}}</td>
                        </tr>
                    </table>
                </li>
            </ul>

            
            <ul class="list-group">
                <li class="list-group-item row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        Unidades por tanda
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        {{AllData.unidad  | filterDigits:0}}
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        
                    </div>
                </li>
                <li class="list-group-item row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        Precio unitario
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        ${{AllData.calculos.PCF-AllData.FabricaP |filterDigits:2}}
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        ₡{{(AllData.calculos.PCF-AllData.FabricaP)*AllData.Dolar |filterDigits:2}}
                    </div>
                </li>
            </ul>
            

            <h2 id="titule">Costos de produccion</h2>
            <table>
                <tr>
                    <td></td>
                    <td>Nombre</td>
                    <td>Total dolares($)</td>
                    <td>Total colones(₡)</td>
                </tr>
                <tr>
                    <td>Envase</td>
                    <td>{{AllData.envase.envase.nombre}}</td>
                    <td>{{AllData.envase.envase.total |filterDigits:2}}</td>
                    <td>{{AllData.envase.envase.total*AllData.Dolar |filterDigits:2}}</td>
                </tr>
                <tr>
                    <td>Tapa</td>
                    <td>{{AllData.envase.tapa.nombre}}</td>
                    <td>{{AllData.envase.tapa.total |filterDigits:2}}</td>
                    <td>{{AllData.envase.tapa.total*AllData.Dolar |filterDigits:2}}</td>
                </tr>
                <tr ng-repeat="x in AllData.envase.etiquetas">
                    <td>Etiqueta {{$index+1}}</td>
                    <td>{{x.nombre}}</td>
                    <td>{{x.total |filterDigits:2}}</td>
                    <td>{{x.total*AllData.Dolar |filterDigits:2}}</td>
                </tr>
                <tr id="BigFont">
                    <td>Total</td>
                    <td></td>
                    <td>{{AllData.FabricaP |filterDigits:2}}</td>
                    <td>{{AllData.FabricaP*AllData.Dolar |filterDigits:2}}</td>
                </tr>
            </table>
            <div style="padding: 5">
                <h2 id="titule">Analisis de costos</h2>
                <h4>Precio de fabrica</h4>
                <table id="tri">
                    <tr>
                        <td>Rubro</td>
                        <td>Precio dolares($)</td>
                        <td>Precio colones(₡)</td>
                    </tr>
                    <tr id="BigFont">
                        <td>Precio costo fabrica</td>
                        <td>{{AllData.calculos.PCF | filterDigits:2}}</td>
                        <td>{{AllData.calculos.PCF*AllData.Dolar | filterDigits:2}}</td>
                    </tr>
                    <tr>
                        <td>Utilidad de venta de fabrica {{AllData.extras.fabrica.utilidad}}%</td>
                        <td>{{AllData.calculos.VFU | filterDigits:2}}</td>
                        <td>{{AllData.calculos.VFU*AllData.Dolar | filterDigits:2}}</td>
                    </tr>
                    <tr>
                        <td>Impuesto de consumo de fabrica {{AllData.extras.fabrica.impuesto}}%</td>
                        <td>{{AllData.calculos.VFI | filterDigits:2}}</td>
                        <td>{{AllData.calculos.VFI*AllData.Dolar | filterDigits:2}}</td>
                    </tr>
                    <tr id="BigFont">
                        <td>Precio venta de fabrica</td>
                        <td>{{AllData.calculos.PVF | filterDigits:2}}</td>
                        <td>{{AllData.calculos.PVF*AllData.Dolar | filterDigits:2}}</td>
                    </tr>
                </table>
                <h4>Precio de distribuidor</h4>
                <table id="tri">
                    <tr id="BigFont">
                        <td>Precio de compra de distribuidor</td>
                        <td>${{AllData.calculos.PVF | filterDigits:2}}</td>
                        <td>₡{{AllData.calculos.PVF*AllData.Dolar | filterDigits:2}}</td>
                    </tr>
                    <tr>
                        <td>Otros Gastos</td>
                        <td>${{AllData.extras.distribuidor.gasto}}</td>
                        <td>₡{{AllData.extras.distribuidor.gasto*AllData.Dolar}}</td>
                    </tr>
                    <tr>
                        <td>Utilidad del distribuidor {{AllData.extras.distribuidor.utilidad}}%</td>
                        <td>${{AllData.calculos.DU | filterDigits:2}}</td>
                        <td>₡{{AllData.calculos.DU*AllData.Dolar | filterDigits:2}}</td>
                    </tr>
                    <tr id="BigFont">
                        <td>Precio sin comision</td>
                        <td>${{AllData.calculos.DU+AllData.extras.distribuidor.gasto+AllData.calculos.PVF | filterDigits:2}}</td>
                        <td>₡{{(AllData.calculos.DU+AllData.extras.distribuidor.gasto+AllData.calculos.PVF)*AllData.Dolar | filterDigits:2}}</td>
                    </tr>
                    <tr>
                        <td>Comision del agente {{AllData.extras.distribuidor.comision}}%</td>
                        <td>${{AllData.calculos.DC | filterDigits:2}}</td>
                        <td>{{AllData.calculos.DC*AllData.Dolar | filterDigits:2}}</td>
                    </tr>
                    <tr id="BigFont">
                        <td>Precio venta distribuidor</td>
                        <td>${{AllData.calculos.PVD | filterDigits:2}}</td>
                        <td>₡{{AllData.calculos.PVD*AllData.Dolar | filterDigits:2}}</td>
                    </tr>
                </table>
                <h4>Precio de detallista</h4>
                <table id="tri">
                    <tr id="BigFont">
                        <td>Precio compra detallista</td>
                        <td>${{AllData.calculos.PVD | filterDigits:2}}</td>
                        <td>₡{{AllData.calculos.PVD*AllData.Dolar | filterDigits:2}}</td>
                    </tr>
                    <tr>
                        <td>Utilidad del detallista {{AllData.extras.detallista.utilidad}}%</td>
                        <td>${{AllData.calculos.DTU | filterDigits:2}}</td>
                        <td>₡{{AllData.calculos.DTU*AllData.Dolar | filterDigits:2}}</td>
                    </tr>

                    <tr id="BigFont">
                        <td>Precios sin impuestos</td>
                        <td>${{AllData.calculos.DTU+AllData.calculos.PVD | filterDigits:2}}</td>
                        <td>₡{{(AllData.calculos.DTU+AllData.calculos.PVD)*AllData.Dolar | filterDigits:2}}</td>
                    </tr>
                    <tr>
                        <td>Impuesto de ventas del detallista {{AllData.extras.detallista.impuesto}}%</td>
                        <td>${{AllData.calculos.DTI | filterDigits:2}}</td>
                        <td>₡{{AllData.calculos.DTI*AllData.Dolar | filterDigits:2}}</td>
                    </tr>
                    <tr id="BigFont">
                        <td>Precio venta detallista</td>
                        <td>${{AllData.calculos.PF | filterDigits:2}}</td>
                        <td>{{AllData.calculos.PF*AllData.Dolar | filterDigits:2}}</td>
                    </tr>
                </table>
                <h4>Comparacion entre precios</h4>
                <table id="tri">
                    <tr>
                        <td>Rubro</td>
                        <td>Precio dolares($)</td>
                        <td>Precio colones(₡)</td>
                    </tr>
                    <tr id="BigFont">
                        <td>Precio venta al publico</td>
                        <td>{{AllData.calculos.PF | filterDigits:2}}</td>
                        <td>{{AllData.calculos.PF*AllData.Dolar | filterDigits:2}}</td>
                    </tr>
                    <tr id="BigFont">
                        <td>Precio del Producto</td>
                        <td>{{AllData.precioProd | filterDigits:2}}</td>
                        <td>₡{{AllData.precioProd*AllData.Dolar | filterDigits:2}}</td>
                    </tr>
                    <tr id="BigFont">
                        <td>Diferencia de precio</td>
                        <td>{{AllData.precioProd-AllData.calculos.PF | filterDigits:2}}</td>
                        <td>{{(AllData.precioProd-AllData.calculos.PF)*AllData.Dolar | filterDigits:2}}</td>
                    </tr>
                </table>
            </div>
        </div>


        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav ng-scope") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav ng-scope";
                }
            }
        </script>
    </body>
</html>
