<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>

        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
        <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/select.css">

        <style>
            body{
                background-color: white
            }

           table {
               width: 100%
           }

           table#tri td{
               width: 33%
           }

           td {
               padding: 10;
               border: var(--line-spec)
           }
           #BigFont{
                font-size: 20px;
                font-weight:bold;
            }

            tr#BigFont{
                font-size: 20px;
                font-weight:bold;
                background-color: var(--gray-white-50);
            }

            h2#titule{
                padding: 20;
                border-top: var(--line-spec-solid-2);
            }
        </style>
        <!--controllers-->
        <script src="/assets/controllers/app.js"></script>
        <script src="/empresa/assets/controller/ViewProduc.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
        <script src="/assets/constants/links_empresa.js"></script>
    </head>

    <body ng-app="app" ng-controller="view">
        <div id="imp1"  ng-hide="Seleccionado.tipo=='Frozen'">
            <h2>Datos de produccion</h2>
                <ul class="list-group">
                    <li class="list-group-item row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            Numero:{{Seleccionado.numero}}
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <p ng-show="Seleccionado.Aprovado">Estado: Aprobado</p>
                            <p ng-hide="Seleccionado.Aprovado">Estado: Sin aprobacion</p>

                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            Fecha de creacion: {{Seleccionado.Fecha_creacion | date:'dd/MM/yy'}}
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            Ultima modificacion: {{Seleccionado.Fmodificacion | date:'dd/MM/yy'}}
                        </div>
                    </li>
                </ul>
            <h2>Productos </h2>
            <ul class="list-group">
                <li class="list-group-item row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        Producto
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        Cantidad a producir
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        Prioridad
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        Estado
                    </div>
                </li>
                <li class="list-group-item row" ng-repeat="x in Seleccionado.prductos">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        {{Nproductos[x.producto].codigo}}.{{Nproductos[x.producto].nombre}}
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        {{x.cantidad}}
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        {{x.prioridad}}
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        {{x.estado | Estados}}
                    </div>
                </li>
                <h2>Encargados de produccion</h2>
        
            </ul>
            <table>
                <tr>
                    <th>Etapa</th>
                    <th>Encargado</th>
                </tr>
                <tr>
                    <td>Realizada por</td>
                    <td>{{Seleccionado.encargado.realizado}}</td>
                </tr>

                <tr>
                    <td>Jefe de producion</td>
                    <td>{{Seleccionado.encargado.JefeProduc}}</td>
                </tr>
                <tr>
                    <td>Jefe de operciones</td>
                    <td>{{Seleccionado.encargado.JefeOpr}}</td>
                </tr>
                <tr>
                    <td>Dispensado por</td>
                    <td>{{Seleccionado.encargado.Dips}}</td>
                </tr>
                <tr>
                    <td>Dispensado verificado por</td>
                    <td>{{Seleccionado.encargado.VDips}}</td>
                </tr>
                <tr>
                    <td>Envasado por</td>
                    <td>{{Seleccionado.encargado.Envasa}}</td>
                </tr>
                <tr>
                    <td>Tapado por</td>
                    <td>{{Seleccionado.encargado.Tapado}}</td>
                </tr>
                <tr>
                    <td>Etiquetado por</td>
                    <td>{{Seleccionado.encargado.Etiquetado}}</td>
                </tr>
                <tr>
                    <td>Loteado por</td>
                    <td>{{Seleccionado.encargado.Loteado}}</td>
                </tr>                                
            </table>
        </div>


        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav ng-scope") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav ng-scope";
                }
            }
        </script>
    </body>
</html>
