<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />
        <!--higcharts-->
        <script src="https://code.highcharts.com/highcharts.js"></script>

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
            <link rel="stylesheet"  type="text/css" href="/assets/css/table.css">
        <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">
        
        <style>
            .workspace .body .row{
                margin: 0
            }

            #bubble{
                padding: 10px 50px; 
                background-color:white;
                min-height: 20%;
                text-align: center;
            }

            #bubble .badge{
                height: 5%;
                font-size: 23px;
                padding: 13px;
            }

            #graph{
                position: relative;
                top: 2%;
            }

            #dropdown{
                height: 5%;
                width: 20%;
                float: right;
                text-align: center;
                background-color: var(--header-color);
                color: white;
                padding: 5;
                font-size: 18px;
                cursor: pointer;
                border: var(--line-spec-solid-2);
            }

            tbody td{
                padding: 5 10px;
                height: 15%;
            }

            td input[type=text], td input[type=number]{
                width: 100%;
                border: none;
                border-bottom: var(--line-spec);
                background-color: transparent;
                text-align: center;
            }

            .modal-body select{
                height: 4%;
                width: 80%;
                background-color: transparent;
                border: var(--line-spec);
            }

            thead th, tbody td{
                width: 16.66%;
            }
        </style>
        
        <!--controllers-->
        <script src="/assets/controllers/app.js"></script>
        <script src="/bodega/assets/controllers/inventario.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
        <script src="/assets/constants/links_bodega.js"></script>
     </head>

    <body ng-app="app" ng-controller="inventario" >
        <div class="head">
            <h1 id="name">
                {{empresa.nombre}}
            </h1>
            <div class="dropdown">
                <img src="https://image.flaticon.com/icons/svg/148/148795.svg">
                <div id="optionsDropdown">
                    <div class="btn btn-default btn-block" data-toggle="modal" data-target="#myModal" ng-click="page(null,0)">Crear Nuevo producto</div>
                    <div class="image-upload">
                        <label for="file-input" style="width: 100%">
                            <div class="btn btn-default btn-block">Archivo</div>
                        </label>
                        <input id="file-input" type="file" name="Archivo" uploader-model="Archivo"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="side" ng-mouseover="styleWork='z-index:-1'" ng-mouseleave="styleWork='z-index:1'">
                <div class="buttons">
                    <div class="button" ng-repeat="x in links" id="{{x.id}}" ng-mouseover="changemenu(x.menu)">
                        <img src="{{x.img}}" >
                    </div>
                </div>
                <div class="menu">
                    <div class="item" ng-repeat="x in menu" ng-click="goto(2,x.link)">
                        <h2>{{x.nombre}}</h2>
                    </div>
                </div>
            </div>
            <div class="workspace" style="{{styleWork}}">
                <!--div class="top" id="tooltip">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="btn-group">
                                <a type="button" href="/bodega/assets/htmls/inventario.html" class="btn btn-primary">ver inventario</a>
                                <a type="button" href="/bodega/assets/htmls/catalogo.html"  class="btn btn-primary">ver catalogo</a>
                            </div>                            
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right" data-toggle="modal" data-target="#myModal" ng-click="modalType='crear'">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right">
                        </div>
                    </div>
                </div-->
                <div id="dropdown" data-toggle="modal" data-target="#myModal">
                    Agregar Stock
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="bubble" style="">
                            <h3>Categorias</h3>
                            <span class="badge">{{collections.length}}</span>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="bubble" style="padding: 10px; background-color:white">
                            <h3>Productos en inventario</h3>
                            <span class="badge">{{Stock}}</span>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="bubble" style="padding: 10px; background-color:white">
                            <h3>Productos en catalogo</h3>
                            <span class="badge">{{catCan}}</span>
                        </div>
                    </div>
                    

                    <div class="row" id="graph"></div>
                </div>
            </div>
            
        </div>

        <!-- Trigger the modal with a button -->
        <!--p  data-toggle="modal" data-target="#myModal">abrir modal</p-->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">agragar inventario</h4>
                    </div>
                    <div class="modal-body">
                        Numero de factura:<input type="text" ng-model="factura">
                        Elija el producto a agregarle stock: 
                        <select ng-model="itemStock">
                            <optgroup ng-repeat="x in collections" label="{{x}}">
                                <option ng-repeat="y in inventario[x]" value="{{y}}">{{y.nombre}}</option>
                            </optgroup>
                        </select>
                        <button class="btn btn-success" ng-click="addModal(itemStock)">Agregar</button>
                        <div style="height: 50%; border: solid; overflow-y: auto">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>lote</th>
                                        <th>Vencimiento</th>
                                        <th>Produccion</th>
                                        <th>Cas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in ModalItems">
                                        <td>{{x.nombre}}</td>
                                        <td><input type="number" ng-model="x['cantidad']" min=0></td>
                                        <td><input type="text" ng-model="x['numero']" min=0></td>
                                        <td><input type="date" ng-model="x['FVencimiento']"></td>
                                        <td><input type="date" ng-model="x['FProduccion']"></td>
                                        <td><input type="text" ng-model="x['Cas']" min=0></td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h2>Proveedor:</h2><select ng-model="proveedor">
                            <option ng-repeat="x in Distribuidores" value="{{x}}">{{x}}</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="agregarStock(0)" ng-disabled="!proveedor">Agregar Producto</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav ng-scope") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav ng-scope";
                }
            }
        </script>
    </body>
</html>
