<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DashBoard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <script src="/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

        <!--link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
        <link rel="stylesheet" type="text/css" href="/admin/assets/css/dispositivo.css">
  
        <style>
            .workspace .dropdown{    
                position: absolute;
                top: 0%;
                right: 0%;
                background-color: rgb(7, 0, 99);
                font-size: 20px;
                color: white;
                height: 5%;
                width: 15%;
                padding: 5px;
                margin-right: 0;
                overflow: hidden
            }
            
            .workspace .dropdown #optionsDropdown{
                margin-left: -5.7%;
                top: 9%;
            }

            .workspace .body{
                background-color: white;
                padding: 10px;
                height: 95%;
                overflow-y: auto
            }

            table{
                width: 100%
            }

            td{
                padding: 10px;
                border: var(--line-spec)
            }

            #contactos, #Productos{
                background-color: var(--gray-white-50);
                padding: 10px;
                height: 20%;
                overflow-y: auto;
            }
            #Productos table{
                background-color: white
            }

            @media screen and (max-width: 600px) {
                .workspace .dropdown, .dropdown #optionsDropdown {
                    width: 50%;
                }
            }
        </style>

        <!--controllers-->
        <!--script src="/assets/controllers/app.js"></script-->
        <script src="/user/assets/controller/clientes.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
        <script src="/assets/constants/links_user.js"></script>
    </head>

    <body ng-app="app" ng-controller="clientes">
        <div class="head">
            <h1 id="name">
                {{empresa.nombre}}
            </h1>
            <div class="dropdown">
                <img src="https://image.flaticon.com/icons/svg/148/148795.svg">
            </div>
        </div>
        <div class="body">
            <div class="side" ng-mouseover="styleWork='z-index:-1'" ng-mouseleave="styleWork='z-index:1'">
                <div class="buttons">
                    <div class="button" ng-repeat="x in links" id="{{x.id}}" ng-mouseover="changemenu(x.menu)">
                        <img src="{{x.img}}" >
                    </div>
                </div>
                <div class="menu">
                    <div class="item" ng-repeat="x in menu" ng-click="goto(2,x.link)">
                        <h2>{{x.nombre}}</h2>
                    </div>
                </div>
            </div>
            <div class="workspace" style="{{styleWork}}">
                <div class="dropdown" id="coleccion" ng-hide="filt">
                    {{cln.nombre}}
                    <div id="optionsDropdown">
                        <div class="btn-group-vertical" style="width: 100%">
                            <button type="button" class="btn btn-default btn-block" ng-repeat="x in mycln" ng-click="ChnCln($index)">{{x.nombre}}</option>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <table>
                        <thead>
                            <tr>
                                <th>Cliente</td>
                                <th>Cedula</th>
                                <th>Codigo</th>
                            </tr>
                            <tr>
                             </thead>
                            <td>{{cln.nombre}}</td>
                            <td>{{cln.cedula}}</td>
                            <td>{{cln.codigo}}</td>
                        </tr>
                    </table>
                    <table>
                        <thead>
                            <tr>
                                <th>Tamaño</td>
                                <th>Tipo de cliente</th>
                                <th>Actividad</th>
                                <th>Tipo de pago</th>
                            </tr>
                        </thead>
                         <tr>
                            <td>{{cln.size | Decode:0}}</td>
                            <td>{{cln.tipo | Decode:1}}</td>
                            <td>{{cln.Actividad}}</td>
                            <td>{{cln.pago | Decode:2}}</td>
                        </tr>
                    </table>
                    <h2>Contactos</h2>
                    <div id='contactos'>
                        <ul class="list-group">
                            <li class="list-group-item row" style="margin:0">                            
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                    Nombre:{{cln.Representante.nombre}}
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                    Puesto:{{cln.Representante.cargo}}
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
                                    Telefono:{{cln.Representante.tel}}
                                </div>                           
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
                                    Celular:{{cln.Representante.celular}}
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
                                    Correo:{{cln.Representante.email}}
                                </div>
                            </li>
                            <li class="list-group-item" ng-repeat="x in cln.contactos">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                    Nombre:{{x.nombre}}
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                    Puesto:{{x.cargo}}
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
                                    Telefono:{{x.tel}}
                                </div>                           
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
                                    Celular:{{x.celular}}
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
                                    Correo:{{x.email}}
                                </div>
                            </li>

                        </ul>
                    </div>
                    <h2>Productos del cliente</h2>
                    <h3>Ultima visita {{cln.visita | date:'short'}}</h3>
                    <div id='Productos'>
                        <table>
                            <tr>
                                <td>producto</td>
                                <td>cantidad en la ultima visita</td>
                            </tr>
                            <tr ng-repeat="x in cln.productos">
                                <td>{{Nobject[x.producto].nombre}}</td>
                                <td>{{x.cantidad}}</td>
                            </tr>
                        </table>
                    </div>
                    <button class="btn btn-info btn-block" data-toggle="modal" data-target="#myModal">Actualizar lista de productos</button>
                    <leaflet lf-center="center" markers="markers" event-broadcast="events" height="25%" width="100%"></leaflet>
                </div>
                <!--leaflet lf-center="center" markers="markers" event-broadcast="events" height="25%" width="100%"></leaflet-->
            </div>
        </div>
        <!-- Trigger the modal with a button >
        <trigger  data-toggle="modal" data-target="#myModal">texto</trigger>
        <-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Actualizacion de datos</h4>
                    </div>
                    <div class="modal-body">
                        <div id='Productos'>
                            <table>
                                <tr>
                                    <th>Producto</th>
                                    <th>cantidad anterior</th>
                                    <th>cantidad actual</th>
                                </tr>
                                <tr ng-repeat="x in cln.productos">
                                    <td>{{Nobject[x.producto].nombre}}</td>
                                    <td>{{x.cantidad}}</td>
                                    <td><input ng-model="cln.productos.actual"></td>
                                </tr>
                            </table>
                        </div>
                        <h3>Agregar nuevo</h3>
                        <table>
                            <tr>
                                <th>Producto</th>
                                <th>cantidad actual</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td><select ng-model="producto" style="width: 100%;">
                                    <option ng-repeat="x in ObjectsTags | orderBy:codigo" value="{{x}}">{{Nobject[x].codigo}}--{{Nobject[x].nombre}}</option>
                                </select></td>
                                <td><input type="number" ng-model="cantidad"></td>
                                <td><button ng-click="addProducto()">Agregar</button></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="actualizarproductos()">actualizar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav ng-scope") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav ng-scope";
                }
            }
        </script>
    </body>

</html>
