<!<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <!--Highchasrts-->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <!--others-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <script src="/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
         <link rel="stylesheet"  type="text/css" href="/assets/css/top-bar.css">
         <link rel="stylesheet"  type="text/css" href="/assets/css/dash.css">
         <link rel="stylesheet"  type="text/css" href="/assets/css/table.css">
         <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
         <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">
 
        <!--style-->
        <style>
        
        </style>
        <!--controllers-->
        <script src="/assets/controllers/app.js"></script>
        <script src="/user/assets/controller/divice.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
    </head>

    <body ng-app="app" ng-controller="divice" ng-class="{'show':show}">
        <div class="top" ng-include="'/assets/htmls/Top_bar.html'" ng-class="{'show':show}"></div>
        <div class="body">
            <div class="sidebar">
                <div class="botton" ng-click="show=!show">
                    <img ng-hide="show" src="https://image.flaticon.com/icons/svg/118/118740.svg" height="200px">
                    <img ng-show="show" src="https://image.flaticon.com/icons/svg/126/126492.svg">
                </div>
                <div class="body">
                    <!--ul class="list-group">
                        <li class="list-group-item" ng-repeat="x in meses" ng-click="crearDias($index)">{{x}}</li>
                    </ul-->
                    
                    <div class="row"  ng-repeat="x in links" ng-click="goto(2,x.link)">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="icons">
                            <img src={{x.icon}}>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <h3>{{x.text}}</h3>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="workspace">
                <div class="top" id="tooltip">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right" ng-click="page(0)">
                            <img src="https://image.flaticon.com/icons/svg/896/896530.svg" data-placement="bottom" title="Mis dispositivos" style="height: 100%; width: 100%">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right" ng-click="page(1)">
                            <img src="https://image.flaticon.com/icons/svg/149/149111.svg" data-placement="bottom" title="guardado" style="height: 100%; width: 100%">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right" ng-click="page(2)">
                            <img src="https://image.flaticon.com/icons/svg/942/942196.svg" data-placement="bottom" title="Enviar comandos" style="height: 100%; width: 100%">
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div ng-show="mydiv">
                        <h3>mis dispositivos</h3>
                        <!--select ng-model="header">
                            <option ng-repeat="x in imeis" value="{{x}}">{{x.nombre}}</option>
                        </select-->
                        <table>
                            <tr>
                                <th>dispositivos</th>
                                <th>unidad</th>
                                <th>imeis</th>
                                <!--th>asignar nuevo imei</th-->
                            </tr>
                            <tr ng-repeat="x in myDiv">
                                <td>{{x.nombre}}</td>
                                <td>{{x.unidad}}</td>
                                <td>
                                    <p data-toggle="collapse" data-target="#imeis{{$index}}">ver imies</p>
                                    <div id="imeis{{$index}}" class="collapse">
                                        <ul class="list-group">
                                            <li class="list-group-item" ng-repeat="y in x.imei" ng-click="remover(x.id,y)">{{y}}</li>
                                        </ul>
                                    </div>
                                </td>
                                <!--td><button ng-click="crearImei(x.id)">crear imei</button></td-->
                            </tr>
                        </table>
                    </div>
                    <div ng-show="arch">
                            <h3>Criterios de guardado</h3>
                            <h5>asigados a</h5><select ng-model="ArchDisp" ng-change="Archdata(ArchDisp)"  style="height: 5%">
                                    <option ng-repeat="x in myDiv" value="{{x}}">{{x.unidad}}</option>
                                </select>
                            <div>
                                <h3>dispositivo {{x}}</h3>
                                <table>
                                    <tr>
                                       <th>propiedad</th>
                                        <th>tipo</th>
                                        <th>tolerancia</th>
                                    </tr>
                                    <tr ng-repeat="x in dataAch">
                                        <td>{{x.rule}}</td>
                                        <td>{{x.property}}</td>
                                        <td>{{x.tolerance}}</td>
                                    </tr>
                                </table>
                            </div>
                            <h5>nuevo</h5>
                            <table>
                                <tr><td>dispositivo</td> <td>
                                    <select ng-model="diviceId">
                                        <option ng-repeat="x in myDiv" value="{{x.id}}"> {{x.unidad}}</option>
                                    </select>
                                </td></tr>
                                <tr><td>regla</td> <td><select ng-model="rule" ng-change="check(rule)" ng-options="x for x in rules"></select></td></tr>
                                <tr>
                                    <td>propiedad</td> <td>
                                        <select ng-model="property" ng-options="x for x in propertys"></select>
                                    </td>
                                </tr> 
                                <tr><td>propiedad</td> <td><select ng-model="operator" ng-options="x for x in operators"></select></td></tr>
                                <tr><td>tolerancia</td> <td> <input type="number" ng-model="tolerancia"></td></tr>
                                <tr><td>referencia</td> <td> <input type="number" ng-model="ref"></td></tr>
                                <tr><td>modulo</td> <td> <input type="number" ng-model="modulo"></td></tr>
                                <tr><td>master</td> <td> <input type="checkbox" ng-model="master" ng-checked="false"></td></tr>
                                </tr>
                            </table>

                            <button type="button" data-dismiss="modal" ng-click="set(diviceId)">enviar</button>
                    </div>
                    <div ng-show="comandos">
                            
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>