<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
        <!--link rel="stylesheet"  type="text/css" href="/assets/css/table.css"-->
        <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">

        <style>
            .workspace .body{
                padding: 10px;
                overflow: auto
            }

            .workspace .body table{
                width: 100%;
                background-color: white
            }

            table td, table th{
                padding: 5;
                border: var(--line-spec-solid-2)
            }
        </style>

        <!--controllers-->
        <!--script src="/assets/controllers/app.js"></script-->
        <script src="/user/assets/controller/editar.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
        <script src="/assets/constants/links_user.js"></script>

    </head>
    <body ng-app="app" ng-controller="editar"  ng-class="{'show':show}">
        <div class="head">
            <h1 id="name">
                {{empresa.nombre}}
            </h1>
            <div class="dropdown">
                <img src="https://image.flaticon.com/icons/svg/148/148795.svg">
                <div id="optionsDropdown">
                    <button class="btn btn-default btn-block" data-toggle="modal" data-target="#myModal" data-ng-click="agregar=false"> Ver orden</button>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="side" ng-mouseover="styleWork='z-index:-1'" ng-mouseleave="styleWork='z-index:1'">
                <div class="buttons">
                    <div class="button" ng-repeat="x in links" id="{{x.id}}" ng-mouseover="changemenu(x.menu)">
                        <img src="{{x.img}}" >
                    </div>
                </div>
                <div class="menu">
                    <div class="item" ng-repeat="x in menu" ng-click="goto(2,x.link)">
                        <h2>{{x.nombre}}</h2>
                    </div>
                </div>
            </div>
            <div class="workspace" style="{{styleWork}}">
                    <!--div class="top" id="tooltip">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <button ng-show="dataUsr.nivel==1 && DatosEmp" type="button" class="btn btn-primary" ng-click="DatosEmp=!DatosEmp">editar empresa</button>
                                <button ng-show="dataUsr.nivel==1 && !DatosEmp" type="button" class="btn btn-primary" ng-click="DatosEmp=!DatosEmp">editar usuario</button>
                                <button ng-hide="dataUsr.nivel==1" type="button" class="btn btn-primary disabled">editar empresa</button>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right" data-ng-click="space ='datos'">
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right" data-ng-click="space ='archiving'">
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right" data-ng-click="space ='clientes'">
                            </div>
                        </div>
                    </div-->
                    <div class="body">
                        <div ng-show="DatosEmp">
                            <h3>Datos del usuario {{dataUsr.nombre}}</h3>
                            <table ng-show="userShow">
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>nombre</td>
                                    <td>{{dataUsr.nombre}}</td>
                                </tr>
                                <tr>
                                    <td>usuario</td>
                                    <td>{{dataUsr.usuario}}</td>
                                </tr>
                                <tr>
                                    <td>cedula</td>
                                    <td>{{dataUsr.cedula}}</td>
                                </tr>
                                <tr>
                                    <td>telefono</td>
                                    <td>{{dataUsr.telefono}}</td>
                                </tr>
                                <tr>
                                    <td>correo</td>
                                    <td>{{dataUsr.correo}}</td>
                                </tr>
                            </table>
                            <button class="btn btn-default" ng-show="userShow" ng-click="ChmEdit()">Editar informacion</button>
                            <table ng-hide="userShow">
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>nombre</td>
                                    <td><input type="text" ng-model="EUNombre"></td>
                                </tr>
                                <tr>
                                    <td>usuario</td>
                                    <td><input type="text" ng-model="EUusuario"></td>
                                </tr>
                                <tr>
                                    <td>cedula</td>
                                    <td><input type="number" ng-model="EUcedula"></td>
                                </tr>
                                <tr>
                                    <td>telefono</td>
                                    <td><input type="number" ng-model="EUtelefono"></td>
                                </tr>
                                <tr>
                                    <td>correo</td>
                                    <td><input type="text" ng-model="EUcorreo"></td>
                                </tr>
                            </table>
                            <div class="btn-group" ng-hide="userShow">
                                <button type="button" class="btn btn-default" ng-click="editarUser()">Editar</button>
                                <button type="button" class="btn btn-default" ng-click="userShow=true">cancelar</button>
                            </div>
                        </div>
                        
                            <h3>dispositivos</h3>
                            <table>
                                <tr>
                                    <th>unidad</th>
                                    <th>nombre</th>
                                    <th>trackers</th>
                                </tr>
                                <tr ng-repeat="x in disp">
                                    <td>{{x.unidad}}</td>
                                    <td>{{x.nombre}}</td>
                                    <td>
                                        <h5 data-toggle="collapse" data-target="#disp{{$index}}">ver dispositivos</h5>
                                        <div id="disp{{$index}}" class="collapse">
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="y in x.imei">{{y}}</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <h3>Clientes asignados</h3>
                            <table>
                                <tr>
                                    <th>cliente</th>
                                    <th>Zona</th>
                                    <th>Encargado</th>
                                    <th>contacto</th>
                                </tr>
                                <tr ng-repeat="x in mycln">
                                    <td>{{x.nombre}}</td>
                                    <td>{{x.region}}</td>
                                    <td>{{x.Representante.nombre}}</td>
                                    <td>{{x.Representante.celular}}</td>
                                </tr>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- Trigger the modal with a button -->
    <!--trigger--  data-toggle="modal" data-target="#myModal">texto</!--trigger-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ModalHeader}}</h4>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="set()">enviar</button>
                </div>
            </div>
        </div>
    </div>
</html>