<!<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <!--Highchasrts-->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
        <!--others-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <script src="/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

         <!--css-->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
         <link rel="stylesheet"  type="text/css" href="/assets/css/top-bar.css">
         <link rel="stylesheet"  type="text/css" href="/assets/css/dash.css">
         <link rel="stylesheet"  type="text/css" href="/assets/css/table.css">
         <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
         <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">
 
        <!--style-->
        <style>
        
        </style>
        <!--controllers-->
        <!--script src="/assets/controllers/app.js"></script-->
        <script src="/empresa/assets/controller/Reportes.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
    </head>

    <body ng-app="app" ng-controller="reports" ng-class="{'show':show}">
        <div class="top" ng-include="'/assets/htmls/Top_bar.html'" ng-class="{'show':show}"></div>
        <div class="body">

            <div class="sidebar">
                <div class="botton" ng-click="show=!show">
                    <img ng-hide="show" src="https://image.flaticon.com/icons/svg/118/118740.svg" height="200px">
                    <img ng-show="show" src="https://image.flaticon.com/icons/svg/126/126492.svg">
                </div>
                <div class="body">
                    <!--ul class="list-group">
                        <li class="list-group-item" ng-repeat="x in meses" ng-click="crearDias($index)">{{x}}</li>
                    </ul-->
                    
                    <div class="row"  ng-repeat="x in links" ng-click="goto(2,x.link)">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="icons">
                            <img src={{x.icon}}>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <h3>{{x.text}}</h3>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="workspace">
                <div class="top" id="tooltip">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            {{user}}
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right" data-toggle="modal" data-target="#myModal" ng-click="modalType='crear'">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right">
                        </div>
                    </div>
                </div>
                <div class="body">  
                    <div ng-hide="loading">
                        <div class="row" style="height: 200px">
                            <h3>promedios</h3>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="velocidadProm" style="height: 200px"></div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="distancia" style="height: 200px">
                                <h3>Distancia recorrida</h3>
                                <span class="badge"><h5>{{dist}}</h5></span>
                                
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="bateria" style="height: 200px"></div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="gasolina" style="height: 200px"></div>
                            
                        </div>
                        <div class="row">
                            <leaflet lf-center="center" geojson="geojson" width="100%" height="100%"></leaflet>
                        </div>
                        <div class="row">
                            <p></p>
                            <p>alertas</p>
                            <table>
                                <tr>
                                    <th>alerta</th>
                                    <th>tipo</th>
                                    <th>ver</th>
                                    <th>eliminar</th>
                                </tr>
                                <tr ng-repeat="x in Alerts">
                                    <th>{{$index}}</th>
                                    <th>{{x.tipo}}</th>
                                    <th data-toggle="modal" data-target="#myModal" ng-click="SetPos(x.lat,x.lon)">ver</th>
                                    <th>eliminar</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div ng-show="loading">
                        <div ng-include="'/assets/htmls/cargando.html'"></div>
                    </div>
                </div>
            </div>            
        </div>

    </body>
</html>