<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/user/assets/css/top-bar.css">
<style>

</style>
</head>
<body>

<div class="topnav" id="myTopnav">
  <div class="Logo">PassArte</div>
  <a href="/user/">Home</a>
  <a href="/user/assets/htmls/Alertas.html">alertas</a>
  <div class="dropdown">
        <button class="dropbtn">dispositivos
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#" ng-repeat="x in divMarkers" ng-click="go_to(x.lat,x.lng,15)">{{x.message}}</a>
        </div>
      </div> 
  <div class="dropdown">
    <button class="dropbtn">clientes
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#" ng-repeat="x in clnMarkers" ng-click="go_to(x.lat,x.lng,15)">{{x.message}}</a>
    </div>
  </div> 
  <a href="/user/assets/htmls/historics.html">historial</a>
  <a href="/user/assets/htmls/catalogo.html">catalogo</a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>

</body>
</html>
