<html>
   <head>
      <title>Structuras de Imeis</title>
      
      <style>
         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }
         
         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }
         
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
      </style>
      
   </head>
   <body>
   	<h1>Registrando nuevos modelos de trackers SunTech</h1>
        <form action="/HWSchema/post" method="post">
            <p>Header:</p>
            <input type="text" name="header" id="header">
            <p><i>Ej: ST300STT</i></p> 
            <p>Modelo ID (opcional):</p>
            <input type="text" name="model_iD" id="model_ID">
            <p><i>Ej: 01 para ST300H</i></p> 
            <p>VersionProtocolo (opcional):</p>
            <input type="text" name="protocol" id="protocol">
            <p><i>Ej: 02</i></p> 
            <p>Estructura:</p>
            <input type="text" name="structure" id="structure">
            <p><i>Ej: header;numbers;model;version;date;time;cell;lat;lon;...;saverg</i></p>
	    <p><i>Nota: Debe sustituir el campo model por el codigo correspondiente</i></p>
             <input type="submit" value="Submit">
        </form>
   </body>
   <div id="footer">
      <h2>AngularJS Sample Application</h2>
      <div ng-app = "" ng-controller = "studentController">
         
   		
         <table>
            <tr>
            	<th>id</th>
               <th>header</th>
               <th>protocolo</th>
               <th>modelo</th>
               <th>estructura</th>
               <th>borrar</th>
               <th>editar</th>
            </tr>
         
            <tr ng-repeat = "student in students |orderBy:'model_ID'">
	            	<td>{{ student._id }}</td>
	               <td><input type="text" ng-init="header = student.header" ng-model="header"><p>{{header}}</p></td>
	               <td><input type="text" ng-init="protocolo = student.protocol" ng-model="protocolo"><p>{{protocolo}}</p></td>
	               <td><input type="text" ng-init="modelo =student.model_ID"_ID ng-model="modelo"><p>{{modelo}}</p></td>
	               <td><h4><input type="text" ng-init="estructura = student.structure" ng-model="estructura"></h4></td>
	               <td>
					  <button ng-click="myFunc(student._id)">OK <p>{{count}}</p></button>
					  
				   </td>
				   <td> 
					 <button ng-click="edit(student._id,header,protocolo,modelo,estructura)">edit<p>{{resp}}</p></button>
				</td>
            </tr>
         </table>
      </div>
     
   </div>
    
      <script>
         function studentController($scope,$http) {
            var url = "data.txt";

            $http({
			 	method: 'GET',
		       	url: '/HWSchema/get/all'
		       	})
		       	//http://34.237.241.0:3001/HWSchema/get/all
		    .then( function(response) {
               $scope.students = response.data;
            });
            $scope.myFunc = function (valor){
            	console.log(valor);
            	$http({
         		    url: '/HWSchema/post/eliminar',
			        method: "POST",
			        data: { 'imei' : valor}
			    })
			    .then(function(response) {
			         console.log(response);
					 $http({
					 	method: 'GET',
				       	url: '/HWSchema/get/all'
				       	})
				       	//http://34.237.241.0:3001/HWSchema/get/all
				    .then( function(response) {
		               $scope.students = response.data;
		            });
			    }); 
         	};
         	
         	$scope.edit = function (valor,head,prot,mod,str){
         		console.log(valor);
         		 $http({
         		    url: '/HWSchema/editar',
			        method: "POST",
			        data: { 'id' : valor, 'header' :head, 'protocol':prot,'model_ID':mod,'structure':str}
			    })
			    .then(function(response) {
			         console.log(response);
					 $http({
					 	method: 'GET',
				       	url: '/HWSchema/get/all'
				       	})
				       	//http://34.237.241.0:3001/HWSchema/get/all
				    .then( function(response) {
		               $scope.students = response.data;
		            });
			    }); 
         	};
         };
      </script>
      
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</html>