<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>

        <script src="./../app.js"></script>
        <script src="./archive.js"></script>
    </head>

    <body ng-app="app" ng-controller="archive">
        <input type="text" ng-model="diviceId">
        <select ng-model="rule" ng-options="x for x in rules" ng-change="check()"></select>
        <select ng-model="property" ng-options="x for x in propertys"></select>
        <select ng-model="operator" ng-options="x for x in operators"></select>
        tolerancia: <input type="number" ng-model="tolerancia">
        referencia: <input type="number" ng-model="ref">
        modulo: <input type="number" ng-model="modulo">
        master: <input type="checkbox" ng-model="master" ng-checked="false">
        <button ng-click="set()">enviar</button>

    </body>
    
</html>