<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>imeis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

    <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
    <script src="../app.js"></script>
    <script src="imeis.js"></script>
</head>
<body ng-app="app" ng-controller="imeis">
    <h2>crear structura</h2>
    <ul>
        <li>Tipo:<input type="text" ng-model="header"></li>
        <li>protocolo:<input type="text" ng-model="prot"></li>
        <li>model_ID:<input type="text" ng-model="model"></li>
        <li>structure:<input type="text" ng-model="strc"></li>
        <button ng-click="modelNew()">crear modelo</button>
    </ul>

    <h2>crear id</h2>
    <ul>
        <li>header:<input type="text" ng-model="headeri"></li>
        <li>id:<input type="text" ng-model="imei"></li>
        <button ng-click="imeiNew()">crear id</button>
    </ul>

    <h2>Crear dispositivo</h2>
    <ul>
        <li>Header:<input type="text" ng-model="head"></li>
        <li>identificador:<input type="text" ng-model="unidad"></li>
        <li>nombre: <input type="text" ng-model="nombre"></li>
        <li><input type="checkbox" ng-model="gps">gps</li>
        <li><input type="checkbox" ng-model="odo">odometro</li>
        <li><input type="checkbox" ng-model="gas">gas</li>
        <li><input type="checkbox" ng-model="km">kilometraje</li>
        <li><input type="checkbox" ng-model="temp">temperatura</li>
        <li><input type="checkbox" ng-model="ibt">ibutton</li>
        <li><input type="checkbox" ng-model="panic">panico</li>
        <li><input type="checkbox" ng-model="vs">velocidad</li>
        <li><input type="checkbox" ng-model="dall">Dallas</li>
        <li><input type="checkbox" ng-model="ROnf">RemoteOnOff</li>
        <li><input type="checkbox" ng-model="Acc">aceleracion</li>
        <li><input type="checkbox" ng-model="Canb">canbus</li>
        <li><input type="checkbox" ng-model="voz">voz</li>
        <li><input type="checkbox" ng-model="Others">otros</li>
    </ul>
    <button ng-click="vehiculoNew()">crear vehiculo</button>
</body>
</html>