<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <script src="/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

        <!--css-->
    	<!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet"  type="text/css" href="/assets/css/top-bar.css">
        <link rel="stylesheet"  type="text/css" href="/assets/css/dash.css">
        <link rel="stylesheet"  type="text/css" href="/assets/css/table.css">
        <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">

        <!--controllers-->
         <script src="/assets/controllers/app.js"></script>
        <script src="/root/assets/controller/root.js"></script>
        <script src="/assets/controllers/crear.js"></script>
        <script src="/user/assets/controller/alerta.js"></script>   
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
    </head>

    <body ng-app="app" ng-controller="root" ng-class="{'show':shw}">
        <div class="top" ng-include="'/assets/htmls/Top_bar.html'" ng-class="{'show':shw}"></div>
        <div class="body">
            <div class="sidebar">
                <div class="botton" ng-click="shw=!shw">
                    <img ng-hide="shw" src="https://image.flaticon.com/icons/svg/118/118740.svg" height="200px">
                    <img ng-show="shw" src="https://image.flaticon.com/icons/svg/126/126492.svg">
                </div>
                <div class="body">
                    <!--div class="row" ng-repeat="x in users">
                        <a data-toggle="collapse" data-target="#user{{$index}}" ng-click="go_to($index)">{{x.nombre}}</a>
                        <div id="user{{$index}}" class="collapse">
                            <p ng-click="reportes(x.id)">Reportes</p>
                        </div>
                    </div-->
                    <div class="row"  ng-repeat="x in links" ng-click="goto(2,x.link)">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="icons">
                            <img src={{x.icon}}>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <h3>{{x.text}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="workspace">
                <div class="top" id="tooltip">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right" data-toggle="modal">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right">
                        </div>
                    </div>
                </div>
                <div class="body">
                </div>
            </div>
        </div>


        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav ng-scope") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav ng-scope";
                }
            }
        </script>
    </body>
</html>
