<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet"  type="text/css" href="/assets/css/top-bar.css">
        <link rel="stylesheet"  type="text/css" href="/assets/css/dash.css">
        <link rel="stylesheet"  type="text/css" href="/assets/css/table.css">
        <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">

       <!--controllers-->
       <script src="/assets/controllers/app.js"></script>
       <script src="/empresa/assets/controller/inventario.js"></script>
       <script src="/assets/service/busquedas.js"></script>
       <script src="/assets/service/crear.js"></script>
       <script src="/assets/service/editar.js"></script>
   </head>

   <body ng-app="app" ng-controller="inventario"ng-class="{'show':show}">
        <div class="top" ng-include="'/assets/htmls/Top_bar.html'" ng-class="{'show':show}"></div>
        <div class="body">
            <div class="sidebar">
                <div class="botton" ng-click="show=!show">
                    <img ng-hide="show" src="https://image.flaticon.com/icons/svg/118/118740.svg" height="200px">
                    <img ng-show="show" src="https://image.flaticon.com/icons/svg/126/126492.svg">
                </div>
                <div class="body">
                    <!--ul class="list-group">
                        <li class="list-group-item" ng-repeat="x in meses" ng-click="crearDias($index)">{{x}}</li>
                    </ul-->
                    
                    <div class="row"  ng-repeat="x in links" ng-click="goto(2,x.link)">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="icons">
                            <img src={{x.icon}}>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <h3>{{x.text}}</h3>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="workspace">
                <div class="top" id="tooltip">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="page(null,2)">Agregar al catalogo</button>
                            <a href="/bodega/assets/htmls/inventario.html" type="button" class="btn btn-primary">ver inventario</a>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                categoria:<select ng-model="cat" ng-change="ChangeSet(cat)">
                                        <option ng-repeat="x in CatKey" ng-if="catalogo[x].length>0" value="{{x}}">{{x}}</option>
                                    </select>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="height: 70%; float: right">
                                Buscar:<input type="text" ng-model="sercher" ng-change="filter()">
                        </div>
                        
                    </div>
                </div>
                <div class="body">
                    <div class="row" ng-repeat="y in catalogo[ctl]" ng-hide="filt">
                        <div class="col-sm-3" >
                            <img src="http://34.237.241.0:2500{{y.imagen}}" style="max-height:200px;position: relative;left: 25%">
                        </div>
                        <div class="col-sm-9" >
                            <ul>
                                <li><h3>Nombre:{{y.nombre}}</h3></li>
                                <li><h4>Precio:{{y.precio}}</h4></li>
                                <li><h4>Descripcion:{{y.descripcion}}</h4></li>
                                <li><button class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="setCat(y)">Editar {{nombre}}</button></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" ng-repeat="y in filterCat" ng-show="filt">
                        <div class="col-sm-3" >
                            <img src="http://34.237.241.0:2500{{y.imagen}}" style="max-height:200px;position: relative;left: 25%">
                        </div>
                        <div class="col-sm-9" >
                            <ul>
                                <li><h3>Nombre:{{y.nombre}}</h3></li>
                                <li><h4>Precio:{{y.precio}}</h4></li>
                                <li><h4>Descripcion:{{y.descripcion}}</h4></li>
                                <li><button class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="setCat(y)">Editar {{nombre}}</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Trigger the modal with a button -->
        <!--p  data-toggle="modal" data-target="#myModal">abrir modal</p-->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Editar catalogo</h4>
                    </div>
                    <div class="modal-body">
                        
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="catl">
                                <p>Objeto a agregar: {{nombre}}</p>
                                <p>Descripcion del producto: </p><textarea ng-model="description" cols="30" rows = "5" ></textarea>
                                <p>Imagen:</p>  <input type="file" name="file" uploader-model="file"/>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="catl">
                                <p>Objeto a agregar: <select ng-model="objt">
                                    <option ng-repeat="x in ObtWcat" value="{{x._id}}">{{x.nombre}}</option>
                                </select></p>
                                <p>Descripcion del producto: </p><textarea ng-model="description" cols="30" rows = "5" ></textarea>
                                <p>Imagen:</p>  <input type="file" name="file" uploader-model="file"/>
                            </div>
                        </div>
                        
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="editCat(data)">crear</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav ng-scope") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav ng-scope";
                }
            }
        </script>
    </body>
</html>
