<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />
        <!--higcharts-->
        <script src="https://code.highcharts.com/highcharts.js"></script>

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
        <!--link rel="stylesheet"  type="text/css" href="/assets/css/table.css"-->
        <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">

        <style>
            table{
                width: 100%;
            }

            th, td{
                border: var(--line-spec-solid-2);
                padding: 5px;
                text-align: center;
            }

            #side_text {
                height: 10%;
                font-size: 20px;     
                padding: 15px 10px; 
                text-align: center;          
            }
            #side_text:hover {          
                background-color: gray;
                color: white
            }
            #baged {
                TEXT-ALIGN:center;
                background-color:gray;
                border-radius:25px;
            }
            #body-total-top {
                color: white;
                font-size: 20px;
                padding: 15px;
            }

            .row{
                margin: 0
            }

            .sidebar{
                background-color: white
            }

            .sidebar .top_side{
                width: 100%;
                height: 10%;
                font-size: 20px;
                text-align: center;
                padding: 9% 0 0;
                background-color: var(--gray-white-50);
                border: var(--line-spec-solid-2);
            }

            .body-total{
                background-color: white;
                padding: 10;
            }
        </style>

        <!--controllers-->
        <script src="/assets/controllers/app.js"></script>
        <script src="/bodega/assets/controllers/ordenes.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
        <script src="/assets/constants/links_bodega.js"></script>
    </head>

    <body ng-app="app" ng-controller="ordenes">
        <div class="head">
            <h1 id="name">
                {{empresa.nombre}}
            </h1>
            <div class="dropdown">
                <img src="https://image.flaticon.com/icons/svg/148/148795.svg">
                <div id="optionsDropdown">
                    
                </div>
            </div>
        </div>
        <div class="body">
            <div class="side" ng-mouseover="styleWork='z-index:-1'" ng-mouseleave="styleWork='z-index:1'">
                <div class="buttons">
                    <div class="button" ng-repeat="x in links" id="{{x.id}}" ng-mouseover="changemenu(x.menu)">
                        <img src="{{x.img}}" >
                    </div>
                </div>
                <div class="menu">
                    <div class="item" ng-repeat="x in menu" ng-click="goto(2,x.link)">
                        <h2>{{x.nombre}}</h2>
                    </div>
                </div>
            </div>
            <div class="workspace" style="{{styleWork}}">
                <!--div class="top" id="tooltip">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right">
                            
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right">
                            
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="height: 70%; float: right">
                            
                        </div>
                    </div>
                </div-->
                Clientes:<select ng-model="clienteFilt">
                    <option selected value="">Todos</option>
                    <option ng-repeat="x in Nclientes" value="{{x._id}}">{{x.codigo}}--{{x.nombre |clientName:20}}</option>
                </select>
                Estado:<select ng-model="estadoFilt">
                    <option selected value="">Todos</option>
                    <option value=0>Nuevos</option>
                    <option value=1>Leidos</option>
                    <option value=2>En proceso</option>
                    <option value=3>Finalizados</option>
                    <option value=4>Error</option>
                </select>
                <div class="body">
                    <div class="sidebar" style="width: 25%;height: 100%; border-right: solid; overflow-y:auto">
                        <!--div class="top-side" style="width: 100%;height:10%">
                            <div class="btn-group" style="width: 100%">
                                <button type="button" class="btn btn-success" style="height: 100%;width: 50%" ng-click="tipo='salida'">Salida</button>
                                <button type="button" class="btn btn-primary" style="height: 100%;width: 50%" ng-click="tipo='Produccion'">Produccion</button>
                            </div>
                        </div-->
                        <div class="top_side">Ordenes de salida</div>
                        <div class="body-side" style="position:absolute;top:10%;height: 100%; width:25%;overflow-y: auto">
                            <div class="row" ng-repeat="x in ordenes[tipo] | filter:{cliente:clienteFilt, estado:estadoFilt}" id="side_text" ng-click="ChangsSelection(x)">
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" >
                                    {{$index+1}}.{{Nclientes[x.cliente].codigo}}--{{Nclientes[x.cliente].nombre |clientName:20}}
                                </div>   
                            </div>
                        </div>
                    </div>

                    <div class="body-total" style="position:absolute;top:0%;left:25%;height: 100%; width:75%">
                        <div ng-show="Seleccionado==null" style="width: 100%; height: 100%; text-align: center">
                            <h1>Seleccione una oden de la barra lateral</h1>
                            <h3>para poder observar el estado de la orden</h3>
                        </div>
                        <div ng-hide="Seleccionado==null" style="width: 100%; height: 100%; text-align: center">
                            <div class="row" style="width: 100%;">
                                <!--div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="body-total-top">{{Nclientes[Seleccionado.cliente].nombre}}</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="body-total-top">{{estados[Seleccionado.estado]}}</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="body-total-top">Transporte:{{Seleccionado.Transporte}}</div-->
                                <table>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>Estado</th>
                                        <th>Transporte</th>
                                    </tr>
                                    <tr>
                                        <td>{{Nclientes[Seleccionado.cliente].codigo}}-{{Nclientes[Seleccionado.cliente].nombre |clientName:30}}</td>
                                        <td>{{estados[Seleccionado.estado]}}</td>
                                        <td>{{Seleccionado.Transporte}}</td>
                                    </tr>
                                </table>
                                <table>
                                    <tr>
                                        <th>Fecha Creacion</th>
                                        <th>Fecha de modificacion</th>
                                        <th ng-show="Seleccionado.Aprovado">Fecha de salida</th>
                                    </tr>
                                    <tr>
                                        <td>{{Seleccionado.Fecha_creacion |date:'short'}}</td>
                                        <td>{{Seleccionado.Fmodificacion |date:'short'}}</td>
                                        <td ng-show="Seleccionado.Aprovado">{{Seleccionado.Fecha_Salida |date:'short'}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                <h2>Productos</h2>
                                <ul class="list-group">
                                    <li class="list-group-item row" ng-repeat="x in Seleccionado.prductos">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            {{Nproductos[x.producto].nombre}}
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            {{x.cantidad}}
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <select ng-model="x.estado" convert-to-number>
                                                <option value=1>Alistando</option>
                                                <option value=2>Revisando</option>
                                                <option value=3>Pesando</option>
                                                <option value=4>Finalizando</option>
                                            </select>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group" style="width: 100%">
                                <button ng-show="Seleccionado.estado==0 || Seleccionado.estado==1" type="button" class="btn btn-primary btn-block" ng-click="ordenesEstado(2)">comenzar orden</button>
                                <button ng-show="Seleccionado.estado==2" type="button" class="btn btn-primary btn-block" ng-click="ordenesEstado(2)">Actualizar el estado de la orden</button>
                                <button ng-show="Seleccionado.estado==2" type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal" ng-click="modal_page='salida'">finalizar orden</button>
                                <button ng-hide="Seleccionado.estado==4 || Seleccionado.estado==3" type="button" class="btn btn-danger btn-block" ng-click="ordenesEstado(4)">Error en la orden</button>
                                <button ng-show="Seleccionado.estado==4" type="button" class="btn btn-warning btn-block" ng-click="ordenesEstado(2)">Continuar con la orden</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Trigger the modal with a button -->
        <!--p  data-toggle="modal" data-target="#myModal">texto</p-->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                       <div ng-show="modal_page=='salida'" style="width: 100%; text-align: center">
                           <h3>
                               Desea autorizar la salida de los productos
                           </h3>
                           <ul class="list-group">
                                <li class="list-group-item row" ng-repeat="x in Seleccionado.prductos">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        {{Nproductos[x.producto].nombre}}
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        {{x.cantidad}}
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        Peso:<input type="number" ng-model="x.Peso">KG
                                    </div>
                                </li>
                            </ul>
                       </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-show="modal_page=='salida'" type="button" class="btn btn-success" data-dismiss="modal" ng-click="ordenesEstado(3)">Autorizar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav ng-scope") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav ng-scope";
                }
            }
        </script>
    </body>
</html>
