<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />
        <!--higcharts-->
        <script src="https://code.highcharts.com/highcharts.js"></script>

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
        <!--link rel="stylesheet"  type="text/css" href="/assets/css/table.css"-->
        <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">

        <style>
            input#small{
                border: none;
                width: 100px;
                border-bottom: var(--line-spec-solid-2);
            }

            input#xsmall{
                border: none;
                width: 50px;
                border-bottom: var(--line-spec-solid-2);
            }

            #side_text {
                height: 10%;
                font-size: 20px;     
                padding: 15px 10px; 
                text-align: center;          
            }
            #side_text:hover {          
                background-color: gray;
                color: white
            }
            #baged {
                TEXT-ALIGN:center;
                background-color:gray;
                border-radius:25px;
            }
            #body-total-top {
                color: white;
                font-size: 20px;
                padding: 15px;
            }

            .row{
                margin: 0
            }

            .sidebar{
                background-color: white
            }

            .sidebar .top_side{
                width: 100%;
                height: 10%;
                font-size: 20px;
                text-align: center;
                padding: 9% 0 0;
                background-color: var(--gray-white-50);
                border: var(--line-spec-solid-2);
            }

            .body-total{
                background-color: white;
                padding: 10;
            }

            table{
                height: 10%;
                width: 100%;
            }

            table td{
                padding: 5px;
                border: var(--line-spec-solid-2);
                text-align: center
            }
        </style>

        <!--controllers-->
        <script src="/assets/controllers/app.js"></script>
        <script src="/bodega/assets/controllers/produccion.js"></script>
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
        <script src="/assets/constants/links_bodega.js"></script>
    </head>

    <body ng-app="app" ng-controller="ordenes">
        <div class="head">
            <h1 id="name">
                {{empresa.nombre}}
            </h1>
            <div class="dropdown">
                <img src="https://image.flaticon.com/icons/svg/148/148795.svg">
                <div id="optionsDropdown">
                    <button data-toggle="modal" data-target="#myModal" ng-click="AllOrders('Produccion')">Ver todas las ordenes</button>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="side" ng-mouseover="styleWork='z-index:-1'" ng-mouseleave="styleWork='z-index:1'">
                <div class="buttons">
                    <div class="button" ng-repeat="x in links" id="{{x.id}}" ng-mouseover="changemenu(x.menu)">
                        <img src="{{x.img}}" >
                    </div>
                </div>
                <div class="menu">
                    <div class="item" ng-repeat="x in menu" ng-click="goto(2,x.link)">
                        <h2>{{x.nombre}}</h2>
                    </div>
                </div>
            </div>
            <div class="workspace" style="{{styleWork}}">
                Formula:<input type="text" ng-model="formulaFilt">
                Estado:<select ng-model="estadofilt">
                    <option value="" selected>Todos</option>
                    <option value=0>No leidos</option>
                    <option value=1>Leidos</option>
                    <option value=2>En proceso</option>
                    <option value=3>Terminados</option>
                    <option value=4>Problemas</option>

                </select>
                <div class="body">
                    <div class="sidebar" style="width: 25%;height: 100%; border-right: solid; overflow-y:auto">
                        <!--div class="top-side" style="width: 100%;height:10%">
                            <div class="btn-group" style="width: 100%">
                                <button type="button" class="btn btn-success" style="height: 100%;width: 50%" ng-click="tipo='salida'">Salida</button>
                                <button type="button" class="btn btn-primary" style="height: 100%;width: 50%" ng-click="tipo='Produccion'">Produccion</button>
                            </div>
                        </div-->
                        <div class="top_side">Ordenes de produccion</div>
                        <div class="body-side" style="position:absolute;top:10%;height: 90%; width:25%;overflow-y: auto">
                            <div class="row" ng-repeat="x in ordenes['Produccion'] | filter:{'formula':formulaFilt,'estado':estadofilt}" id="side_text" ng-click="ChangsSelection(x)" ng-init="tipo='Produccion'; Atipo='Produccion'">
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" >
                                    {{x.numero}}.{{x.formula}}
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <div id="baged">{{x.prductos.length}}</div>
                                </div>                              
                            </div>
                        </div>
                    </div>

                    <div class="body-total" style="position:absolute;top:0%;left:25%;height: 100%; width:75%; overflow-y: auto">
                        <div ng-show="Seleccionado==null" style="width: 100%; height: 100%; text-align: center">
                            <h1>Seleccione una oden de la barra lateral</h1>
                            <h3>para poder observar el estado de la orden</h3>
                        </div>
                        <div ng-hide="Seleccionado==null" style="width: 100%; height: 100%; text-align: center">
                            
                            <table>
                                <tr>
                                    <td>Fecha de creacion</td>
                                    <td>Autorizado por</td>
                                    <td>Estado</td>
                                    <td>Kg</td>
                                </tr>
                                <tr>
                                    <td>{{Seleccionado.Fecha_creacion |date:"short"}}</td>
                                    <td>{{user[Seleccionado.Apr_By].usuario}}</td>
                                    <td>{{estados[Seleccionado.estado]}}</td>
                                    <td>{{kilos | filterDigits:2}} Kg</td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td>Comentario para la produccion</td>
                                </tr>
                                <tr>
                                    <td>{{Seleccionado.comentario}}</td>
                                </tr>
                            </table>
                            <div>
                                <h2>Productos </h2>
                                <ul class="list-group">
                                    <li class="list-group-item row">
                                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                            Prioridad
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            Producto
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            Unidades
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            Estado
                                        </div>
                                    </li>
                                    <li class="list-group-item row" ng-repeat="x in Seleccionado.prductos | orderBy: 'prioridad'">
                                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                            {{x.prioridad}}
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            {{Nproductos[x.producto].nombre}}
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            {{x.cantidad}}
                                        </div>
                                        <div ng-hide="Seleccionado.estado==0 || Seleccionado.estado==1" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <select ng-model="x.estado" convert-to-number>
                                                <option value="0">Sin iniciar</option>
                                                <option value="1">Produciendo</option>
                                                <option value="2">Envasando</option>
                                                <option value="3">Etiquetando</option>
                                                <option value="4">Finalizado</option>
                                                <option value="5">Error</option>
                                            </select>
                                        </div>
                                        <div ng-show="Seleccionado.estado==0 || Seleccionado.estado==1" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            Produccion sin iniciar
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <button ng-show="Seleccionado.estado!=0 && Seleccionado.estado!=1" type="button" class="btn btn-secundary btn-block" ng-click="ordenesAct()">Actualizar el estado de las ordenes</button>
                            
                            <h2>formula</h2>
                            
                            <ul class="list-group">
                                <li class="list-group-item row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        Nombre
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        Porcentaje
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        Peso
                                    </div>
                                </li>
                                <li class="list-group-item row" ng-repeat="x in KeyReceta">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        {{receta[x.objeto].nombre}}
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        {{x.cantidad*100 | filterDigits:3}}%
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        {{x.cantidad*kilos | filterDigits:3}} Kg
                                    </div>
                                </li>
                            </ul>
                            
                            <h2>Envases</h2>
                            
                            <table>
                                <tr>
                                    <td>
                                        Producto
                                    </td>
                                    <td>
                                        Envase
                                    </td> 
                                    <td>
                                        Cantidad
                                    </td>  
                                    <td>
                                        Tapa
                                    </td> 
                                    <td>
                                        Cantidad
                                    </td> 
                                    <td>
                                        Etiqueta
                                    </td> 
                                    <td>
                                        Cantidad
                                    </td>               
                                </tr>
                                <tr ng-repeat="x in envase">
                                    <td>
                                        <p ng-hide="Nproductos[x.asignado]" style="cursor: pointer; float: left" ng-click="eliminarenvase($index,x.asignado)">X</p>{{Nproductos[x.asignado].nombre}}
                                    </td>
                                    <td>
                                        {{receta[x.envase.objeto].nombre}}
                                    </td>  
                                    <td>
                                        {{cantidad[x.asignado]*x.envase.cantidad}}
                                    </td>  
                                    <td>
                                        {{receta[x.tapa.objeto].nombre}}
                                    </td> 
                                    <td>
                                        {{cantidad[x.asignado]*x.tapa.cantidad}}
                                    </td>   
                                    <td>
                                        <ul>
                                            <li ng-repeat="y in x.etiqueta">
                                                {{receta[y.objeto].nombre}}
                                            </li>
                                        </ul>
                                    </td>   
                                    <td>
                                        <ul>
                                            <li ng-repeat="y in x.etiqueta">
                                                {{cantidad[x.asignado]*y.cantidad}}
                                            </li>
                                        </ul>
                                    </td>              
                                </tr>
                            </table>
                            <h2 ng-show="Seleccionado.estado!==0 &&Seleccionado.estado!=1">Encargados de produccion</h2>
                            <table ng-show="Seleccionado.estado!==0 &&Seleccionado.estado!=1">
                                <tr>
                                    <th>Etapa</th>
                                    <th>Encargado</th>
                                </tr>
                                <tr>
                                    <td>Realizada por</td>
                                    <td><input ng-model="Seleccionado.encargado.realizado" ng-change="actualizarfecha('realizado')"></td>
                                </tr>
                                <tr>
                                    <td>Jefe de producion</td>
                                    <td><input ng-model="Seleccionado.encargado.JefeProduc" ng-change="actualizarfecha('JefeProduc')"></td>
                                </tr>
                                <tr>
                                    <td>Jefe de operciones</td>
                                    <td><input ng-model="Seleccionado.encargado.JefeOpr" ng-change="actualizarfecha('JefeOpr')"></td>
                                </tr>
                                <tr>
                                    <td>Dispensado por</td>
                                    <td><input ng-model="Seleccionado.encargado.Dips" ng-change="actualizarfecha('Dips')"></td>
                                </tr>
                                <tr>
                                    <td>Dispensado verificado por</td>
                                    <td><input ng-model="Seleccionado.encargado.VDips" ng-change="actualizarfecha('VDips')"></td>
                                </tr>
                                <tr>
                                    <td>Envasado por</td>
                                    <td><input ng-model="Seleccionado.encargado.Envasa" ng-change="actualizarfecha('Envasa')"></td>
                                </tr>
                                <tr>
                                    <td>Tapado por</td>
                                    <td><input ng-model="Seleccionado.encargado.Tapado" ng-change="actualizarfecha('Tapado')"></td>
                                </tr>
                                <tr>
                                    <td>Etiquetado por</td>
                                    <td><input ng-model="Seleccionado.encargado.Etiquetado" ng-change="actualizarfecha'Etiquetado'()"></td>
                                </tr>
                                <tr>
                                    <td>Loteado por</td>
                                    <td><input ng-model="Seleccionado.encargado.Loteado" ng-change="actualizarfecha('Loteado')"></td>
                                </tr>                                
                            </table>
                            <button ng-show="Seleccionado.estado!==0 &&Seleccionado.estado!=1" ng-click="actualizarEncargados()" class="btn btn-Default btn-block">Actualizar encargados</button>

                            <div class="btn-group" style="width: 100%">
                                <button ng-show="Seleccionado.estado==0 || Seleccionado.estado==1" type="button" class="btn btn-primary btn-block" ng-click="ordenesEstado(2)">comenzar orden</button>
                                <button ng-show="Seleccionado.estado==2" type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal" ng-click="modal_page='salida'">finalizar orden</button>
                                <button ng-hide="Seleccionado.estado==4" type="button" class="btn btn-danger btn-block" ng-click="ordenesEstado(4)">Error en la orden</button>
                                <button ng-show="Seleccionado.estado==4" type="button" class="btn btn-warning btn-block" ng-click="ordenesEstado(2)">Continuar con la orden</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Trigger the modal with a button -->
        <!--p  data-toggle="modal" data-target="#myModal">texto</p-->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                       <div ng-show="modal_page=='salida'" style="width: 100%; text-align: center">
                        <h2>Actualización de producto</h2> 
                        <ul class="list-group">
                            <li class="list-group-item row" ng-repeat="x in Seleccionado.prductos">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    Lote:<input id='small' type="number" ng-model="LotesF[x.producto]['lote']">
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    {{Nproductos[x.producto].nombre}}
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    Cantidad esperada:{{x.cantidad}}
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    Cantidad:<input id='small' type="number" ng-model="LotesF[x.producto]['cantidad']">
                                </div>
                            </li>
                        </ul>
                        
                        <h2>Actualización de Materia prima</h2>
                            <table>
                                <tr>
                                    <td>Materia Prima</td>
                                    <td>Cantidad Calculada</td>
                                    <td>cantidad Usada</td>
                                    <td>Diferencia</td>
                                </tr>
                                <tr  ng-repeat="x in KeyReceta">
                                    <td>{{receta[x.objeto].nombre}}</td>
                                    <td>{{x.cantidad*kilos | filterDigits:3}} Kg</td>
                                    <td><input type="number" ng-model="final[x.objeto]" ng-init="final[x.objeto]=x.cantidad*kilos"></td>
                                    <td>{{x.cantidad*kilos-final[x.objeto] |filterDigits:3}}</td>
                                </tr>
                            </table>
                            <h2>Actualización de envases</h2>
                            <table>
                                <tr>
                                    <td>Producto</td>
                                    <td>Envase</td>
                                    <td>Tapa</td>
                                    <td>Etiqueta</td>
                                </tr>
                                <tr ng-repeat="x in envase" ng-show="cantidad[x.asignado]">
                                    <td>{{Nproductos[x.asignado].nombre}}</td>
                                    <td>{{receta[x.envase.objeto].nombre}}:<input id="xsmall" ng-model="final[x.envase.objeto]">/{{cantidad[x.asignado]*x.envase.cantidad}}</td>
                                    <td>{{receta[x.tapa.objeto].nombre}}:<input id="xsmall" ng-model="final[x.tapa.objeto]">/{{cantidad[x.asignado]*x.tapa.cantidad}}</td>
                                    <td>
                                        <ul>
                                            <li ng-repeat="y in x.etiqueta">
                                                {{receta[y.objeto].nombre}}:<input id="xsmall" ng-model="final[y.objeto]">/{{cantidad[x.asignado]*y.cantidad}}
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-show="modal_page=='AllData'">
                            <table>
                                <tr>
                                    <td>Prioridad</td>
                                    <td>#Orden</td>
                                    <td>Producto</td>
                                    <td>Unidades</td>
                                    <td>Estado</td>
                                </tr>
                                <tr ng-show="x.estado!=3 && x.estado!=6" ng-repeat="x in Allord | orderBy:'prioridad'">
                                    <td>{{x.prioridad}}</td>
                                    <td>{{x.numero}}</td>
                                    <td>{{Nproductos[x.producto].nombre}}</td>
                                    <td>{{x.cantidad}}</td>
                                    <td>
                                        <p ng-show="x.estado==0">Sin iniciar</p>
                                        <p ng-show="x.estado==1">Produciendo</p>
                                        <p ng-show="x.estado==2">Envasando</p>
                                        <p ng-show="x.estado==3">Etiquetando</p>
                                        <p ng-show="x.estado==4">Finalizado</p>
                                        <p ng-show="x.estado==5">Error</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-show="modal_page=='salida'" type="button" class="btn btn-success" data-dismiss="modal" ng-click="ordenesFinal()">Autorizar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav ng-scope") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav ng-scope";
                }
            }
        </script>
    </body>
</html>
