<!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
        $(window).on('scroll', function(){
            if($(window).scrollTop()){
               $('nav').addClass('black') 
            }
            else{
                $('nav').removeClass('black')
            }
        })
    </script>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <nav>
            <div class="Logo">{{empresa.nombre}}</div>
            <ul>
            </ul>
        </nav>
    </div>
</body>
</html>