<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>

        <script src="./../app.js"></script>
        <script src="./crear.js"></script>
    </head>
    <body ng-app="app" ng-controller="crear">
        crear: <select ng-model="crear">
            <option value= 1>Empresa</option>
            <option value= 0>usuario</option>
        </select>{{crear}}
        <div ng-hide="crear==1">
            nombre de usuario:<input type="text" ng-model="nombre">
            correo de usuario:<input type="text" ng-model="email">
            cedula de usuario:<input type="text" ng-model="cedula">
            telefono de usuario:<input type="text" ng-model="telefono">
            tipo de usuario:<input type="number" ng-model="root">
            usuario:<input type="text" ng-model="user">
            password de usuario:<input type="text" ng-model="password">
            <button ng-click="crearusuario()">crear</button>
        </div>
        <div ng-show="crear==1">
            Compañia:<input type="text" ng-model="Compania">
			cedula Juridica:<input type="text" ng-model="CedJ">
			telefono: <input type="text" ng-model="phone">
			email: <input type="text" ng-model="correo">
			fechai: <input type="date" ng-model="fechai">
			<p>informacion de contacto</p> 
                'nombre': 	<input type="text" ng-model="nombreC">
                'cedula': 	<input type="text" ng-model="cedulaC">
                'telefono':	<input type="text" ng-model="telefonoC">
                'correo':	<input type="text" ng-model="correoC">
                <button ng-click="crearempresa()">crear</button>
        </div>
        {{lista}}
    </body>
</html>