<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DashBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <!-- UI-Router -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--mapa-->
    <script src="/node_modules/leaflet/dist/leaflet.js"></script>
    <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
    <script src="/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

    <!--link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <!--css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/dispositivo.css">
    
    
    <!--controlleres-->
    <script src="/admin/assets/controller/dispositivo.js"></script>
    <script src="/user/assets/controller/alerta.js"></script>   
    <script src="/assets/service/busquedas.js"></script>
    <script src="/assets/service/crear.js"></script>
    <script src="/assets/service/editar.js"></script>
    <script src="/assets/constants/links_empresa.js"></script>
    <script src="/assets/constants/Dispositivos.js"></script>

</head>
<body ng-app="app" ng-controller="dispositivo">
    <div class="head">
        <h1 id="name">
            {{nombre}}
        </h1>
        <div class="dropdown">
            <img src="https://image.flaticon.com/icons/svg/148/148795.svg">
        </div>
    </div>
    <div class="body">
        <div class="side" ng-mouseover="styleWork='z-index:-1'" ng-mouseleave="styleWork='z-index:1'">
            <div class="buttons">
                <div class="button" ng-repeat="x in links" id="{{x.id}}" ng-mouseover="changemenu(x.menu)">
                    <img src="{{x.img}}" >
                </div>
            </div>
            <div class="menu">
                <div class="item" ng-repeat="x in menu">
                    <h2>{{x.nombre}}</h2>
                </div>
            </div>
        </div>
        <div class="workspace" style="{{styleWork}}">

        </div>
    </div>
    
</body>
</html>