<head>
    <link rel="stylesheet" type="text/css" href="ssh://sgifox/front_end/assets/css/top-bar3.css">
</head>

<body>
    <div class="topnav" id="myTopnav">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="logo">
                <h1>logo</h1>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="blank">
                
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" id="btn">
                
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" id="btn">
                
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" id="btn">
                
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" id="btn">
                    
            </div>
        </div>
    </div>
    
</body>