<!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="topnav" id="myTopnav">
        <nav>
            
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="logo" ng-click="goto(0)">
                    {{empresa.nombre}}
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="blank">
                    
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="btn">
                    <span class="dot" style="background-color: rgb(255, 255, 255)"><img src="https://image.flaticon.com/icons/svg/149/149307.svg"></span>
                    <span class="dot" style="background-color: rgb(255, 255, 255)"><img src="https://image.flaticon.com/icons/svg/149/149301.svg"></span>
                    <span class="dot" style="background-color: rgb(255, 255, 255)"><img src="https://image.flaticon.com/icons/svg/259/259624.svg"></span>
                    <span class="dot" style="background-color: rgb(255, 255, 255)" ng-click="goto(1)"><img src="https://image.flaticon.com/icons/svg/118/118781.svg"></span>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>