<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <script src="/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                   $('nav').addClass('black') 
                }
                else{
                    $('nav').removeClass('black')
                }
            })
        </script>

        <!--css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
        <link rel="stylesheet"  type="text/css" href="/assets/css/table.css">
        <link rel="stylesheet" type="text/css"  href="/assets/css/animated.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/columns.css">

        <style>
            #header {
                margin: 0;
                position: relative;
                left: 10px;
                height: 5%;
                width: 99%;
            }

            #header select{

                width: 50%;
                height: 80%;
            }

            #map{
                position: relative;
                left: 1%;
                top:0;
                width: 99%;
            }
        </style>

        <!--controllers>
        <script src="/assets/controllers/app.js"></script-->
        <script src="/empresa/assets/controller/empresa.js"></script>
        <script src="/user/assets/controller/alerta.js"></script>   
        <script src="/assets/service/busquedas.js"></script>
        <script src="/assets/service/crear.js"></script>
        <script src="/assets/service/editar.js"></script>
        <script src="/assets/constants/links_empresa.js"></script>
    </head>

    <body ng-app="app" ng-controller="company">
        <div class="head">
            <h1 id="name">
                {{nombre}}
            </h1>
            <div class="dropdown">
                <img src="https://image.flaticon.com/icons/svg/148/148795.svg">
            </div>
        </div>
        <div class="body">
            <div class="side" ng-mouseover="styleWork='z-index:-1'" ng-mouseleave="styleWork='z-index:1'">
                <div class="buttons">
                    <div class="button" ng-repeat="x in links" id="{{x.id}}" ng-mouseover="changemenu(x.menu)">
                        <img src="{{x.img}}" >
                    </div>
                </div>
                <div class="menu">
                    <div class="item" ng-repeat="x in menu" ng-click="goto(2,x.link)">
                        <h2>{{x.nombre}}</h2>
                    </div>
                </div>
            </div>
            <div class="workspace" style="{{styleWork}}">
                <div class="row" id="header">
                    Agente:<select ng-model="usr" ng-change="go_to(usr)">
                        <option ng-repeat="x in users" value="{{$index}}">{{x.nombre}}</option>
                    </select>
                    <button class="btn btn-primary" ng-disabled="!usr" ng-click="reportes(users[usr].id)">Ver reportes del agente</button>
                </div>
                <div class="body" id="map">
                    <leaflet lf-center="center" markers="markers" event-broadcast="events" height="100%" width="100%"></leaflet>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div> 
                    <div class="modal-body">
                        <div id="head">
                            <h1>crear nueva usuario</h1>
                        </div>
                        <div ng-show='UserShw'>
                            <ul>
                                <li> nombre de usuario: <input type="text" ng-model="nombre"></li>
                                <li> correo de usuario: <input type="text" ng-model="email"></li>
                                <li> cedula de usuario:<input type="number" ng-model="cedula"></li>
                                <li> telefono de usuario:<input type="number" ng-model="telefono"></li>
                                <li> usuario: <input type="text" ng-model="user"></li>
                                <li> password de usuario:<input type="text" ng-model="password"></li>
                            </ul>
                        </div>
                        <div ng-hide='UserShw'>
                            <ul>
                                <li> unidad: <input type="number" ng-model="unid" >
                                <li> tipo tracker: <select ng-model="strc">
                                        <option ng-repeat="x in strc" value="{{x}}">{{x.nombre}}</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                      <button ng-show='UserShw' type="button" class="btn btn-default" ng-click="crearUser()">sumit</button>
                      <button ng-hide='UserShw' type="button" class="btn btn-default" data-dismiss="modal" ng-click="creardisp()">sumit</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="init()">Close</button>
                    </div>
                  </div>
                  
                </div>
            </div>
        </div>

        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav ng-scope") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav ng-scope";
                }
            }
        </script>
    </body>
</html>
