* { box-sizing: border-box; }

.wrapper {
	transition: 0.3s;
	display: block;
	padding: 5px;
	max-height: 400px;
	width: 100%;
	margin: 20px auto;
}


.columns {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	width: 50%;
	flex: 1;
	border: 1px solid black;
	margin: 2px;
	padding: 10px;
}
	.column:first-child { margin-left: 0; }
	.column:last-child { margin-right: 0; }

.column a{
	font-size: 15px;
	color: rgb(0,0,0);
	text-decoration: none;
	
}