.top{
    height: 8%;
    width: 98%;
    position: absolute;
    left: 2%
}

select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 45%;
    width: 70%;
    }

.row {
    margin:0;
}

body .body .sidebar .body{
    display: none;
}

body .body .sidebar .botton{
    border-right-style: solid;
    border-left-style: none;
    width: 2%;
    height: 100%;
    position: fixed;
    left: 0%;
    top:0%;
}

body .body .sidebar .botton img{
    height: 5%;
    width: 1%;
    position: fixed;
    top:50%;
}

body .body .workspace{
    width: 97%;
    height: 92%;
    position: absolute;
    left: 2%;
    top:8%;
}

body .body .workspace .top{
    border-bottom-style: solid;
    width: 100%;
    background-color: white;
    height: 8%;
    position: absolute;
    left: 0%;
    top:0%;
}

body .body .workspace .top.fixed{
    z-index:100;
    background-color: white;
    position: fixed;
    top: 0%;
    left: 2%
}

body .body .workspace .top .row{
    padding: 10px;
}

body .body .workspace .body{
    width: 98%;
    height: 92%;
    position: absolute;
    left: 2%;
    top:8%;
}

body .body .workspace .total{
    height: 100%;
    width:100%;
}

body.show .body .sidebar .body{
    padding: 0;
    display: block;
    width: 20%;
    height: 100%;
    position: fixed;
    left: 0%;
    top:0%;
    background-color: white;
    z-index: 100;
}

body.show .body .sidebar .body .row{
    height: 100px;
}

body.show .body .sidebar .body .row #icons img{
    margin-top: 20px;
} 

body.show .body .sidebar .body .row:hover{
    background-color: #AAA;
    cursor: pointer;
} 

body.show .body .sidebar .body .row #icon img{
    position: relative;
    top: 50%;
} 

body.show .body .sidebar .botton{
    border-left-style: solid;
    width: 2%;
    height: 100%;
    position: fixed;
    left: 20%;
    top:0%;
    background-color: white;
    z-index: 100;
}

body.show .body .workspace{
    width: 77%;
    position: absolute;
    left: 22%;
    top:8%;
}

body.show .body .workspace .top .row{
    padding: 5px
}

body.show .body .workspace .top.fixed{
    z-index:100;
    width: 78%;
    background-color: white;
    position: fixed;
    top: 0%;
    left: 22%
}

.top.show{
    width: 78%;
    height: 8%; 
    position: absolute;
    left:22%;
}

@media only screen and (max-width: 600px) {
    body.show .body .sidebar .body{
        display: block;
        width: 95%;
        height: 80%;
        position: fixed;
        left: 0%;
        top:20%;
    }
    
    body.show .body .sidebar .botton{
        width: 4%;
        height: 80%;
        position: fixed;
        left: 95%;
        top:20%;
    }
    
    body.show .body .workspace{
        display: none
    }

    body .body .workspace{
    width: 96%;
    height: 80%;
    position: absolute;
    left: 4%;
    top:20%;
}

    body .body .workspace .top{
        border-bottom-style: solid;
        width: 100%;
        height: 5%;
        position: absolute;
        left: 0%;
        top:0%;
    }
    body .body .workspace .body{
        width: 98%;
        height: 94%;
        position: absolute;
        left: 2%;
        top:6%;
    }

    body .body .workspace .total{
        height: 100%;
        width:100%;
    }
}
