:root {
    --header-color: rgb(7, 0, 99);
    --letter-color: white;
    --buttons-color: rgb(0, 0, 34);
    --menu-color: rgb(212, 212, 226);
    --color-secudary:#a5abbf;
    --gray-white-50:#efefef;

    --top-heigth: 5%;
    --body-heigth:95%;
    --img-heigth: 25px;
    --img-side-heigth: 80%;

    --side-width:25%;
    --side-hide-width:5%;
    --buttons-width: 20%;
    --buttons--hide-width: 100%;
    --menu-width:80%;
    --workspace-width:95%;

    --resposive-heigth:10%;

    --menu-left:20%;

    --top-resposive-heigth: 5%;
    --body-resposive-heigth:95%;
    --img-resposive-heigth: 80%;
    --img-resposive-side-heigth: 80%;

    --side-resposive-width:60%;
    --side-resposive-hide-width:10%;
    --buttons-resposive-width: 33%;
    --buttons-resposive--hide-width: 100%;
    --workspace-resposive-width:90%;
    --menu-resposive-width:66%;

    --menu-resposive-left:33%;

    --line-spec: 1px solid rgba(0, 0, 0, 0.10);
    --line-spec-solid-2: 2px solid rgba(0, 0, 0, 0.3)
}

html{
    overflow-x: hidden
}

body {
    max-width: 100%;
    background-color: rgb(243, 243, 243);
}

.head {
    background-color: var(--header-color); 
    height: var(--top-heigth);
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0%;
    left: 0%;
}

.head h1 {
    font-style: italic;
    font-size: 100%;
    color: var(--letter-color);
}

.head .dropdown {
    position: absolute;
    width: 5%;
    top:10%;
    right: 0%;
}

.head .dropdown img {
    height: var(--img-heigth);
    width: var(--img-heigth);
}

.dropdown{
    cursor: pointer
}

.dropdown #optionsDropdown{
    display: none;
    margin-left: -15%;
    width: 20%;
    max-height: 30%;
    background-color: white;
    z-index: 1000;
    position: fixed;
    overflow-y: auto
    
}

.dropdown:hover #optionsDropdown{
    display: block;
    color: black
}

.body {
    position: absolute;
    top: var(--top-heigth);
    left: 0%;
    height: var(--body-heigth);
    width: 100%
}

.body .side{
    position: fixed;
    width: var(--side-hide-width);
    height: 100%;
}

.body .side .buttons{
    width: var(--buttons-hide-width);
    height: 100%;
    background-color: var(--buttons-color);
}

.body .side .buttons .button {
    padding: 10px;
    width: 100%;
    height: 10%;
}

.body .side:hover {
    width: var(--side-width);
    height: 100%;
}

.body .side:hover .buttons{
    width: var(--buttons-width);
    height: 100%;
    background-color: var(--buttons-color);
}

.body .side:hover .buttons .button:hover {
    background-color: var(--menu-color)
}

.body .side .buttons .button img{
    height: var(--img-side-heigth);
    width: var(--img-side-heigth);
}

.body .side .buttons .button#bottom{
    width: 100%;
    position: absolute;
    bottom: 2%;
}

.body .side:hover .buttons .button#bottom{
    width: 20%;
    position: absolute;
    bottom: 2%;
}

.body .side .menu {
    display: none;
    z-index: 1000;
    position: absolute;
    top:0%;
    left: var(--menu-left);
    width: var(--menu-width);
    height: 100%;
    background-color: var(--menu-color);
    overflow-x: hidden
}

.body .side:hover .menu {
    display: block
}

.body .side:hover .menu .item h2{
    color: black;
    text-align: center;
}

.body .side:hover .menu .item:hover h2{
    color: var(--letter-color);
}

.body .side:hover .menu .item:hover{
    color: var(--letter-color);
    background-color: var(--buttons-color)
}

.body .side:hover .menu .item{
    margin-top: -7%;
    height: 10%;
    width: 100%;
}

.body .workspace {
    position: absolute;
    top:0%;
    right: 0;
    width: var(--workspace-width);
    height: 100%
}

@media screen and (max-width: 600px) {
    .head .dropdown {
        position: absolute;
        width: 7%;
        top:0%;
        right: 5%;
    }

    .head .dropdown img {
        height: 100%;
        width: 100%;
    }

    .body .side{
        width: var(--side-resposive-hide-width);
        height: 100%;
    }
    
    .body .side .buttons{
        width: var(--buttons-resposive-hide-width);
        height: 100%;
        background-color: var(--buttons-color);
    }
    
    .body .side .buttons .button {
        padding: 2px;
        width: 100%;
        height: 10%;
    }
    
    .body .side:hover {
        width: var(--side-resposive-width);
        height: 100%;
    }
    
    .body .side:hover .buttons{
        width: var(--buttons-resposive-width);
        height: 100%;
        background-color: var(--buttons-color);
    }
    
    .body .side:hover .buttons .button:hover {
        background-color: var(--menu-color)
    }
    
    .body .side .buttons .button img{
        height: var(--img-resposive-side-heigth);
        width: var(--img-resposive-side-heigth);
    }
    
    .body .side .buttons .button#bottom{
        width: var(--img-resposive-heigth);
        position: absolute;
        bottom: 3%;
        left: 20%
    }
    
    .body .side:hover .buttons .button#bottom{
        width: 40%;
        position: absolute;
        bottom: 3%;
        left: 0%
    }

    .body .side .menu {
        display: none;
        z-index: 1000;
        position: absolute;
        top:0%;
        left: var(--menu-resposive-left);
        width: var(--menu-resposive-width);
        height: 100%;
        background-color: var(--menu-color)
    }
    
    .body .side:hover .menu {
        display: block
    }
    
    .body .side:hover .menu .item h2{
        color: black;
        text-align: center;
    }
    
    .body .side:hover .menu .item:hover h2{
        color: var(--letter-color);
    }
    
    .body .side:hover .menu .item:hover{
        color: var(--letter-color);
        background-color: var(--buttons-color)
    }
    
    .body .side:hover .menu .item{
        margin-top: -7%;
        height: 10%;
        width: 100%;
    }
    
    .body .workspace {
        position: absolute;
        top:0%;
        right: 0;
        width: var(--workspace-resposive-width);
        height: 100%
    }    

    .head h1{
        margin: 4px;
    }
    /*items CSS*/
    
}

@media screen and (max-height: 400px) {
    .head{
        height: var(--resposive-heigth)
    }

    .body{
        top: var(--resposive-heigth)
    }
}