table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /* required for table-layout to be used (not normally necessary; included for completeness) */
    table-layout: fixed;
    /* this keeps your columns with fixed with exactly the right width */
    width: 100%;
    height:100%;
    z-index: 0;
}


thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
    width: 19.8%;
    float: left;
    background-color: var(--color-secudary);
    /* text-align: left; */
    padding: 5 15;
    cursor: pointer;
    /*text-align: left;*/
}

tbody {
    height: 95%;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td {
    width: 20%;
    height: 7.5%;
    float: left;
    border: var(--line-spec);
    padding: 5 25px;
    overflow: hidden;
}

