a{
    text-decoration: none;
}

nav {
    background: rgba(170, 68, 68, 0.667);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    transition: .3s;
    z-index: 10;
}

nav.black{
    background-color: rgb(0, 0, 0,0.9);
    height: 20%;
    padding: 10px 100px;
}

nav .logo{
    padding: 22px 20px;
    height:16%;
    float: left;
    font-size: 44px;
    transition: .3s;
    color: #fff;

}

nav.black .logo{
    color: #fff;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
    padding: 50px 10px;
    font-size: 20px;
    text-transform: capitalize;
    transition: .3s;
}

nav.blak ul li{
    color: #fff;
}

nav ul li a{
    padding: 12px 30px;
    color: #000;
    border-radius: 6px; 
}

nav ul li a:hover{
    cursor:pointer;
    color: #fff;
    background: green
}

nav.black ul li a:hover{
    cursor:pointer;
}

nav ul li a:focus{
    outline: none;
}