.topnav{
    height: 100%;
    border-bottom-style:solid;
    border-color: gray
}

.row{
    height: 100;
}

.col-sm-3{
    height: 100;
}

p{
    margin-left: 10%;
    margin-top: 40px;
    font-size: 25px;
    font-style: italic;
}

button{
    margin-top: 40px;
    margin-left: 10%;

}