#resume {
    min-height: 20%;
    width: 98%;
    background-color: white;
    position: relative;
    top: 2%;
    left: 2%;
    padding: 10px;
}

#resume #arrowdown{
    display: none;
}

#resume #bubble {
    border-radius: 25px;
    border: 2px solid #73AD21;
    text-align: center
}

#data {
    height: 75%;
    width: 98%; 
    background-color: white;
    position: relative;
    top: 3%;
    left: 2%;
    padding: 10px
}

#data #map{
    height: 100%;
    text-align: center;

}
#data #select{
    height: 100%;

}

#user{
    height: 50%;
    width: 100%;
    padding: 10px;
}

input {
    display: block;
    width: 100%;
    border: none;
    border-bottom:  var(--line-spec-solid-2);
    color: black;
    font-size: 30px;
    transition: .3s ease;
    position: relative;
    left: 3%;
}

#optionuser {
    height: 90%;
    overflow-y: auto;
    border: 2px solid;
    text-align: center;
    position: relative;
    top:1%;
    left: 3%;
}

#optionuser #option{
    cursor: pointer;
    overflow-y: hidden;
    height: 25%;
    width: 100%;
    background-color: rgb(243, 243, 243);
    border-bottom: solid;
    margin: 0;
}

#img:hover, #dataDiv:hover{
    background-color: rgb(194, 192, 192);
}

table.option tbody tr td{
    width: 10%;
    padding: 3px 10px;
    
} 

#dataDiv {
    padding: 0;
    height: 100%;
}

#img {
    border-right: solid;
    height: 100%;
    padding: 0%;
}

#imgeye {
    height: 91%;
}

@media screen and (max-width: 600px) {
    #resume {
        min-height: 5%;
        margin: 0;
    }

    #resume #bubble {
        display: none
    }

    #resume #arrowdown img{
        height: 15%;
        width: 15%;
        position: relative;
        left: 43%;
    }

    #resume #arrowdown{
        display: block;
    }

    #resume:hover #bubble{
        display: block;
    }

    #data {
        margin: 0%;
        overflow-x: auto;
    }

    #resume:hover #arrowdown{
        display: none;
    }

    #optionuser #option {
        height: 30%;
    }

    #imgeye {
        max-width: 91%;
    }
}
