#dispositivo {
    height: 15%;
    width: 98%;
    background-color: white;
    position: relative;
    top: 6%;
    left: 2%;
    padding: 10px;
}

#dispositivo #arrowdown{
    display: none;
}

#dispositivo #bubble {
    height: 100%;
    border-radius: 25px;
    border: 2px solid #73AD21;
    text-align: center
}

#last_data #imgs{
    display: none
}

#last_data {
    height: 20%;
    margin: 0 15px 0 9px;
    background-color: white;
    position: relative;
    top: 7%;
    padding: 10;
}

#fecha {
    text-align: center;
    border: solid;
    height: 100%
}

#location , #io{
    border: solid;
    border-left: none;
    height: 100%;
}

#last_data #data{
    border: solid;
    width: 50%;
    height: 100%;
    /* padding: 0; */
    position: relative;
    left: 0;
    top: 0;
}

#last_data #data table , #last_data #io table{
    width: 100%;
    height:100%
}

img#editButon{
    height: 15px;
    float: right
}

#data {
    height: 75%;
    width: 98%; 
    background-color: white;
    position: relative;
    top: 3%;
    left: 2%;
    padding: 10px
}

#imeis{
    margin: 0 15px 0 9px;
    position: relative;
    top: 4%;
    height: 54%;
}

#imeis #select{
    background-color: white;
    height: 100%;
    overflow-y: auto;
}

#option{
    height: 10%;
    padding: 10;
    background-color: var(--menu-color)
}

#option:hover{
    background-color: grey;
}

table.option{
    width: 100%;
    height: 100%;
}

#imeis #select #option:hover table.option{
    color: white
}

#dash {
    background-color: white;
    position: relative;
    left: 1%;
    width: 74%;
    height: 100%;
    padding: 10
}

#info{
    border: solid;
    border-radius: 25px;
    text-align: center;
    height: 20%;
    overflow: hidden
}

#comandDash{
    position: relative;
    top: 1%;
}

#comandos{
    width: 25%;
    height: 80%;
    overflow-y: auto;
    border: solid
}

#ejecutar{
    height: 80%;
    border: solid;
    border-left: none;
    text-align: center;
}

#modalTable{
    width: 100%;
    overflow-x: auto
}

#modalTable td{
    border: solid
}

td#title{
    border-color: black;
    background-color: blue;
    color: white;
}

@media screen and (max-width: 600px) {
    #info{
        padding: 0;
    }

    #info h1{
        font-size: 20px
    }

    #dispositivo {
        width: 92%;
        min-height: 5%;
        margin: 0%;
        left: 3%;
    }

    #dispositivo #bubble {
        display: none
    }

    #dispositivo #arrowdown img{
        height: 5%;
        width: 15%;
        position: relative;
        left: 43%;
    }

    #dispositivo #arrowdown{
        display: block;
    }

    #dispositivo:hover #bubble{
        display: block;
    }

    #dispositivo:hover #arrowdown{
        display: none;
    }

    #fecha , #location , #data ,#io{
        display: none
    }

    #last_data {
        height: 10%;
    }

    #last_data #imgs{    
        display: block;
        width: 100%;
        height: 100%
    }

    #imgs img{
        height: 100%;
        position: relative;
        left: 45%;
    }

    #imeis #select {
        background-color: white;
        height: 50%;
        overflow-y: auto;
    }

    #option {
        height: 20%;
        padding: 10;
        background-color: var(--menu-color);
    }

    #dash {
        background-color: white;
        position: relative;
        /* left: 1%; */
        top: 2%;
        width: 100%;
        height: 100%;
        padding: 10;
    }

    #comandos {
        width: 36%;
        height: 76%;
        overflow-y: auto;
        border: solid;
        padding: 0;
    }

    #comandos #option{
        height: auto
    }

    #ejecutar {
        height: 76%;
        width: 64%;
        border: solid;
        border-left: none;
        text-align: center;
    }
}
