<!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <!-- UI-Router -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--mapa-->
    <script src="/node_modules/leaflet/dist/leaflet.js"></script>
    <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
    <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />
    <!--controllers-->
    <script src="/assets/controllers/app.js"></script>
    <script src="/root/assets/controller/table.js"></script>

    <!--style-->
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/table.css" />
</head>
<div class="conteiner" ng-app="app" ng-controller="table">
    <div>
        tipo: <input type="text" ng-model="head"> 
        imei: <input type="number" ng-model="Fimei">
        asignado: <select ng-model="Fassig">
            <option ng-value= "true">true</option>
            <option ng-value= "false">false</option>
            <option ng-value= "null">NaN</option>
        </select>
        intalado: <select ng-model="Finstall">
            <option ng-value= "true">true</option>
            <option ng-value= "false">false</option>
            <option ng-value= "null">NaN</option>
        </select>
        <button ng-click="imeiTable()">buscar</button>
    </div>
    <div><button class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="new()">Nuevo tracker</button></div>
    <table>
        <tr>
            <th>imei</th>
            <th>header</th>
            <th>model</th>
            <th>asignado</th>
            <th>instalado</th>
        </tr>
        <tr ng-repeat="x in imeis">
            <td>{{x.imei}}</td>
            <td>{{x.tipo}}</td>
            <td>{{x.model_ID}}</td>
            <td>{{x.Asign}}</td>
            <td>{{x.install}}</td>
        </tr>
    </table>

    <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">estructura {{nombre}}</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>
                            <select ng-model="TrackModel">
                                <option ng-repeat="x in trackers" value="{{x}}">{{x.nombre}}</option>
                            </select>
                        </li>
                        <li>imei:<input ng-model="imeiNew"></li>
                    </ul>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="CrearTracker()">sumit</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
        </div>
    </div>
</div>
</html>