<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de rastreo">
        <meta name="keywords" content="PassArte, trackers">
        <meta name="author" content="Keylor Mena Venegas">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>PassArte</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <!-- UI-Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--mapa-->
        <script src="/node_modules/leaflet/dist/leaflet.js"></script>
        <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
        <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />
        
        <script type="text/javascript">
            
        </script>

        <!--css-->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
        <link rel="stylesheet"  type="text/css" href="/login/assets/css/dash.css">
        
        <style>
            img#back_img{
                height: 100%;
                width: 100%;
                z-index: -1;
                position: absolute;
                top: 2.5%;
                left: 0;
            }

            #DataIn{
                background-color: #ffffff85;
                /* background-color: white; */
                height: 94%;
                width: 35%;
                position: absolute;
                top: 6%;
                right: 2%;
                padding: 19% 65px;
            }

            #info_text{
                color: white;
                text-align: left;
                width: 55%;
                position: absolute;
                top: 25%;
                left: 5%;
            }

            input:-webkit-autofill,
            input:-webkit-autofill:hover, 
            input:-webkit-autofill:focus, 
            input:-webkit-autofill:active  {
                -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
            }

            @media screen and (max-width: 600px) {
                #info_text{
                    display: none;
                }

                #DataIn{
                    background-color: #ffffff85;
                    /* background-color: white; */
                    height: 69%;
                    position: absolute;
                    top: 19%;
                    right: 20%;
                    padding: 19% 0;

                    width: 60% !important;
                }

                #DataIn p{
                    padding: 10
                }

                input{
                    width: 91%;
                }
            }

            @media screen and (max-height: 500px){
                #DataIn{
                    height: 600px
                }
            }
        </style>
        
        <!--controllers-->
        <script src="/assets/controllers/app.js"></script>
        <script src="/login/assets/controller/login.js"></script>
    </head>

    <body ng-app="app" ng-controller="login">
        <!--div class="top" ng-include="'/login/assets/htmls/Top_bar.html'"></div-->
        <div class="head">
            <h1 id="name">
                {{empresa.nombre}}
            </h1>
            <div class="dropdown">
                <img src="https://image.flaticon.com/icons/svg/148/148795.svg">
            </div>
        </div>
        <div class="body">
            <img src="http://dliltd.com/wp-content/uploads/2013/06/header-1_bg1.jpg" id="back_img">
            <div id="info_text">
                <h2>
                    BIENVENIDOS A YAMBAL
                </h2>
                <p>
                    

                </p>
            </div>
            
            <div id="DataIn">
                <form class="w3-container">
                    <label>User:</label>
                    <input class="w3-input" type="text" ng-model="user">

                    <label>Password:</label>
                    <input class="w3-input" type="password" ng-model="Password">
                
                    <p><button class="btn btn-default btn-block" ng-click="mess(index)">entrar</button></p>

                    <p>{{messg}}</p>
                </form>
            </div>
        </div>
    </body>

    <!--footer style="z-index: 10;">
        <p>PassArte 2018</p>
    </footer-->
</html>
