<!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DashBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <!-- UI-Router -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--mapa-->
    <script src="/node_modules/leaflet/dist/leaflet.js"></script>
    <script src="/node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="/node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
    <script src="/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />

    <!--link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <!--css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/dash2.css">
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/admin.css">

    <!--controlleres-->
    <script src="/admin/assets/controller/admin.js"></script>
    <script src="/user/assets/controller/alerta.js"></script>   
    <script src="/assets/service/busquedas.js"></script>
    <script src="/assets/service/crear.js"></script>
    <script src="/assets/service/editar.js"></script>
    <script src="/assets/constants/links_admin.js"></script>
    

    <!--controllers>
    <script src="/assets/controllers/app.js"></script-->
</head>
<body ng-app="app" ng-controller="admin">
    <div class="head">
        <h1 id="name">
            {{nombre}}
        </h1>
        <div class="dropdown">
            <img src="https://image.flaticon.com/icons/svg/148/148795.svg">
        </div>
    </div>
    <div class="body">
        <div class="side" ng-mouseover="styleWork='z-index:-1'" ng-mouseleave="styleWork='z-index:1'">
            <div class="buttons">
                <div class="button" ng-repeat="x in links" id="{{x.id}}" ng-mouseover="changemenu(x.menu)">
                    <img src="{{x.img}}" >
                </div>
            </div>
            <div class="menu">
                <div class="item" ng-repeat="x in menu" ng-click="goto(x.link)">
                    <h2>{{x.nombre}}</h2>
                </div>
            </div>
        </div>
        <div class="workspace" style="{{styleWork}}">
            <div class="row" id="resume">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="bubble">
                    <h2>cantidad de dispositivos</h2>
                    <h3>{{users.length}}</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="bubble">
                    <h2>kilometros recorridos</h2>
                    <h3>10</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4" id="bubble">
                    <h2>Alertas</h2>
                    <h3>0</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="arrowdown">
                    <img src="https://image.flaticon.com/icons/svg/118/118738.svg">
                </div>
            </div>
            <div class="row" id="data">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" id="map">
                    <leaflet lf-center="center" markers="markers" event-broadcast="events" height="100%" width="100%"></leaflet>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4" id="select">
                    <div class="row" id="user">
                        <input type="text" placeholder="Dispositivo">
                        <div id="optionuser">
                            <div class="row" id="option" ng-repeat="x in divices" >
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" ng-click="veropcion(x)"id="img">
                                    <img src="https://image.flaticon.com/icons/svg/709/709612.svg" id="imgeye">
                                </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10" ng-click="go_to(x.lat,x.lng,10)"id="dataDiv">
                                    <table class="option">
                                            <tr>
                                                <td>Dispositivo</td>
                                                <td>{{x.unidad}}</td>
                                            </tr>
                                            <tr>
                                                <td>nombre</td>
                                                <td>{{x.nombre}}</td>
                                            </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="user">
                        <input type="text" placeholder="Usuario">
                        <div id="optionuser">
                            <div class="row" id="option" ng-repeat="x in users">
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                
                                </div>
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                    <table class="option">
                                        <tr>
                                            <td>Nombre</td>
                                            <td>{{x.nombre}}</td>
                                        </tr>
                                        <tr>
                                            <td>Alertas</td>
                                            <td>0</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>