html {
    padding: 0;
}

.body {
    height: 80%;
    width: 100%;
    position: absolute;
    top: 20%;
    left: 0%;
}

p{
    font-size: 20px;
}

.body .sidebar{
    padding: 0;
    height: 100%;
    width: 20%;
    background: rgba(236, 194, 104, 0.74);
    position: fixed;
}

.body .workspace{
    padding: 10px 15px;
    height: 100%;
    width: 80%;
    margin-left: 20%;
}

.body .sidebar a {
    padding: 26px 8px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: block;
}

.body .sidebar a:hover {
    background: rgb(241, 219, 92);
    color: black;
}

.body .sidebar p{
    padding: 13px 8px;
    text-decoration: none;
    font-size: 18px;
    background: rgb(146, 132, 55);
    color: rgb(255, 255, 255);
    display: block;
}

.body .sidebar .top{
    height: 5%;
    background: rgba(66, 60, 26, 0.411);
}

.body .sidebar .body{
    position: relative;
    top: 0%;
    border: solid;
    height: 95%
}

.body .sidebar p:hover {
    background: rgb(231, 229, 217);
    color: black;
}

