body {margin:0;font-family:Arial}

body .top .topnav{
    width: 100%;
    height: 100%;
}

.dot {
    height: 100%;
    width: 15%;
    border-radius: 50%;
    display: inline-block;
}

.dot img{
    padding-left:8px; 
    padding-top: 5px; 
    display:inline-block;
    height: 80%;
    width: 80%;
}

row{
    height: 100%;
}

nav {
    border-bottom-style: solid;
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 100%;
    box-sizing: border-box;
    transition: .3s;
    z-index: 10;
    background-color: rgb(108, 108, 248);
    color: white;
}

.topnav nav .row #logo{
    padding: 10px 60px;
    height:100%;
    width: 20%;
    float: left;
    font-size: 30px;
    transition: .3s;
}

.topnav nav .row #blank{
    height:100%;
    width: 50%;
}

.topnav nav .row #btn{
    width: 30%;
    padding: 10px 3em;
    height:100%;
    float: left;
}

.topnav nav .row #btn span{
    float: right;
    margin-left: 5;
}

.topnav nav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 30px;
  margin-top: 40px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #008734;
  color: white;
}

.topnav nav .icon {
  display: none;
  margin-top:20px;
  padding: 10px 30px;
}

.dropdown {
    float: right;
    margin-top: 40px;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 10px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
    background-color: #008734;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
  .topnav nav a, .dropdown .dropbtn, .dropdown{
      margin-top: 0%;
    display: none;
  }
  .topnav nav a.icon {
    padding: 11px 30px;
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive nav .icon {
    margin-top:0px;
    position: absolute;
    right: 1px;
    top: 1px;
  }
  .topnav.responsive nav a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive nav .dropdown {float: none;}
  .topnav.responsive nav .dropdown-content {position: relative;}
  .topnav.responsive nav .dropdown .dropbtn {
    display: block;
    width: 1000px;
    text-align: left;
  }
  .topnav.responsive nav, .topnav.responsive nav.black{
      padding: 1px 2px;
      opacity: 0.7;
      height: 100%;
  }
  .topnav.responsive nav .Logo, .topnav.responsive nav.black .Logo{ display: none;}
}