body{
    width: 100%;
}

.top{
    width: 100%;
    height: 10%;
    z-index: 10;
    position: fixed;
    top:0%;

}

.body{
    height: 90%;
    width: 100%;
    position: absolute;
    top:10%;
    background-color: rgb(204, 204, 204);
}

.body .sidebar{
    background-color: white;
    padding: 0%;
    width: 13%;
    height: 90%;
    position: fixed;
    left: 0%;
    top: 11%;
}


.body .workspace .row .col-sm-3{
    margin-left: 20px;
    margin-top: 1%;
    background-color: white
}

.body .workspace .row .col-sm-4{
    border-radius: 5%;
    min-height: 100px;
    border:solid;
    border-color: rgb(204, 204, 204);
    margin-top: 1%;
    background-color: white
}

.body .workspace .row .col-sm-11{
    margin: 20px;
    background-color: white
}

.body .sidebar ul{
    list-style: none
}

.body .sidebar ul li{
    width: 100;
    padding: 20px;
    margin-left: -20px;
}

.body .sidebar ul li.active{
    background-color: green;
}

.body .sidebar ul li:hover{
    background-color: lightblue;
}

.body .sidebar ul li a{
    text-decoration: none;
    color: black;
}

.body .workspace{
    width: 83%;
    position: absolute;
    left: 15%;
}