.image-upload > input {
    visibility:hidden;
    width:0;
    height:0
}

#list{
    position: relative;
    left: 1.5%;
    top: 0;
    width: 96%;
}

.dropdown #optionsDropdown{
    display: none;
    margin-left: -15%;
    width: 20%;
    max-height: 30%;
    background-color: white;
    z-index: 1000;
    position: fixed;
    overflow-y: auto
    
}

.body .dropdown #optionsDropdown{
    margin-left: -6.6%;
    
}

.body .dropdown{    
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: rgb(7, 0, 99);
    font-size: 20px;
    color: white;
    height: 5%;
    width: 15%;
    padding: 5px;
    margin-right: -19px;
    overflow: hidden;
    border: var(--line-spec-solid-2);
    border-radius: 1%
}

.body .dropdown img{
    float: right;
    /* position: absolute; */
    /* top: 0; */
    height: 100%;
}

.body .dropdown:hover{
    background-color: var(--color-secudary)
}

.body .dropdown#coleccion{ 
    position: absolute;
    top: 0%;
    right: 15%;

}    
.dropdown:hover #optionsDropdown{
    display: block;
    color: black;
}

.body .dropdown #optionsDropdown{
    top:9%
}

.search{
    margin-left: -15px;
    /* position: relative; */
    background-color: rgb(7, 0, 99);
    /* left: 0; */
    width: 27.7%;
    height: 5%;
    color: white;
    padding: 1px 0px 1px 3px;
    font-size: 20px;
}

.search input{
    color: black;
    position: relative;
    float: right;
    height: 90%;
    width: 70%;
    margin-right: 1px;
}

table#TableCreate, table#InvData{    
    position: relative;
    top: 0%;
    width: 100%;
}

td img{
    height: 10%;
    float: right;
    cursor: pointer;
}

#espace{
    height: 6%;
    width: 100%;
    padding: 10px;
    text-transform: capitalize;
    border-bottom: var(--line-spec);
}

select#WhiteSelect{
    height: 100%;
    width: 60%;
    background-color: white;
    border: var(--line-spec);
}

#dash{
    position: absolute;
    top: 5%;
    background-color: white;
    height: 100%;
    width: 103%;
    overflow-y: auto;
    padding: 10
}

/*modal*/
#modalImg{
    height: 60%;
    border: var(--line-spec);
    text-align: center;
    padding: 20;
}

#modalDash{
    height: 60%;
    border-top: var(--line-spec-solid-2);
}

#modalDash p{
    text-transform: capitalize;
    height: 5%
}

#modalDash p input[type=text]{
    border: var(--line-spec);
    width: 70%;
    float: right;
    height: 90%;
}

#modalDash p input#small{
    width: 15%;
    float: none;
}

#modalDash input[type=number]{
    border: var(--line-spec);
    width: 50%;
    float: right;
    height: 90%;
}

#modalDash #line{
    border-bottom: var(--line-spec)
}

#modalDash select{
    background-color: white;
    border: var(--line-spec);
}

#checkboxModal ul li{
    list-style-type: none;
}

#checkboxModal ul li input[type=checkbox]{
   float: left
}

#modalProv{
    padding: 10;
    border: var(--line-spec);
}

#modalProv select{
    background-color: white;
    width: 80%;
    height: 25px;
}
