* { box-sizing: border-box; }


.wrapper{
	display: none;
}

.wrapper.showing {
	transition: 0.3s;
	display: block;
	padding: 5px;
	max-height: 400px;
	width: 100%;
	margin: 20px auto;
	position: fixed;
	bottom: 0%;
    overflow-y: scroll;
}


.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	border: 1px solid black;
	margin: 2px;
	padding: 10px;
}
	.column:first-child { margin-left: 0; }
	.column:last-child { margin-right: 0; }