html {
    padding: 0;
}

.body {
    text-align: center;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.body input{
    text-align: center;
}

p{
    font-size: 20px;
}


footer{
    position: fixed;
    color: white;
    font-size: 20px;
    left: 0%;
    bottom: 0%;
    height: 10%;
    width: 100%;
    background: #160101;
    text-align: right;
    padding-right: 50px;
}

